.base {
  width: 100%;
  height: auto;
}
.addressHolder {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 4px;
  border: solid 1px #d2d2d2;
  padding: 10px;
  transition: 300ms;
}
.addressHolderActive {
  composes: addressHolder;
  border: solid 1px #ff1744;
}
.text {
  width: 100%;
  height: auto;
  color: #181818;
  font-size: 14px;
  line-height: 20px;
  white-space: initial;
  margin: auto;
}
.heading {
  width: 100%;
  height: auto;
  color: #181818;
  font-size: 14px;
  line-height: 20px;
  font-family: semibold;
  margin: auto;
}
