.base {
  width: 100%;
  height: auto;
  display: inline-block;
}
.header {
  composes: base;
  padding-right: 30px;
  position: relative;
}
.subCategoryRegular {
  font-size: 16px;
  font-family: regular;
  width: 100%;
  height: auto;
  display: inline-block;
}
.subCategoryBold {
  composes: subCategoryRegular;
  font-family: semibold;
}
.subCategoryCount {
  font-size: 14px;
  font-family: regular;
  opacity: 0.5;
  width: 30px;
  height: auto;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
.subListHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 10px;
}
