.base {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 5px;
}
.header {
  composes: base;
}
.subCategoryRegular {
  font-size: 16px;
  font-family: regular;
  width: 50%;
  height: auto;
  display: inline-block;
}
.subCategoryBold {
  composes: subCategoryRegular;
  font-family: semibold;
}
.subCategoryCount {
  font-size: 14px;
  font-family: regular;
  opacity: 0.5;
  width: 50%;
  height: auto;
  text-align: right;
  display: inline-block;
}
.subListHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 20px;
}
