.base {
  width: 100%;
  height: auto;
}
.header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
  padding-right: 50px;
}
.subCategoryRegular {
  font-size: 14px;
  font-family: regular;
  width: calc(100% - 50px);
  height: auto;
  line-height: normal;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.subCategoryBold {
  composes: subCategoryRegular;
  font-family: semibold;
}
.subCategoryCount {
  font-size: 14px;
  font-family: regular;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  width: 50px;
  height: 40px;
  text-align: right;
}
.subListHolder {
  composes: base;
  padding-left: 10px;
}
