.item {
  width: 100%;
  height: 50px;
  padding-right: 30px;
  position: relative;
  font-size: 14px;
  font-family: regular;
  display: block;
}
.itemHasColour {
  composes: item;
  padding-left: 30px;
}
.itemContent {
  width: 100%;
  height: 50px;
  position: relative;
  color: #212121;

  transition: 300ms;

  padding-right: 40px;
}
.dataHolder {
  width: 100%;
  height: 50px;
  position: relative;
}
.data {
  width: 100%;
  height: auto;
  line-height: normal;
  word-wrap: break-word;
  white-space: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contentSelected {
  composes: itemContent;
  color: #ff1744;
}
.itemLogo {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.check {
  min-width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 33px;
  line-height: 50px;
}
.checkCircle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  width: 20px;
}
.colourIndicator {
  composes: checkCircle;
  right: initial;
  left: 0px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.multiColorIndicator {
  composes: colourIndicator;
  background: linear-gradient(
    to bottom,
    #5bc0eb,
    #fde74c 14%,
    #9bc53d 33%,
    #34e59b 55%,
    #75c7b8 81%,
    #ec7c51
  );
}
.count {
  font-size: 14px;
  font-family: regular;
  color: #8d8d8d;
  transition: 300ms;
}
.countSelected {
  composes: count;
  color: #ff1744;
}
