.base {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.header {
  position: relative;
}
.subCategoryList {
  font-size: 16px;
  font-family: regular;
  display: inline-block;
  text-align: left;
  width: 80%;
  height: auto;
}
.subCategoryListCount {
  font-size: 14px;
  font-family: regular;
  opacity: 0.5;
  display: inline-block;
  width: 20%;
  height: auto;
  text-align: right;
}
.active {
  composes: header;
  color: #ff1744;
}
