.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: fixed;
  left: 0;
  z-index: 70;
  background: #fff;
  top: -10px;
  right: 0;
  bottom: 0;
  padding-top: 60px;
  transition: 300ms;
  transform: translateX(-100%);
}
.pageHeader {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.filterOpen {
  composes: base;
  transform: translateX(0);
}
.tabHolder {
  width: 40%;
  height: 100%;
  overflow: hidden;
  margin-left: -20px;
  display: inline-block;
  vertical-align: top;
}
.contenHolder {
  composes: tabHolder;
  width: 60%;
  margin-left: 0;
}
.slider {
  width: 100%;
  height: auto;
  max-height: 100%;
  white-space: nowrap;
  transition: 200ms;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(20px);
  padding-right: 20px;
  padding-bottom: 60px;
}
.footer {
  width: 100%;
  height: 61px;
  position: fixed;
  z-index: 70;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 300ms;
  border-top: 1px solid #dddddd;
}
.footerOpen {
  composes: footer;
  transform: translateX(0);
}
.footer:after {
  content: "";
  width: 1px;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background: #ececec;
  position: absolute;
}

.buttonHolder {
  width: 50%;
  display: inline-block;
}
.button {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #8d8d8d;
  font-size: 14px;
  font-family: semibold;
  background: #fff;
  user-select: none;
}
.redButton {
  composes: button;
  background: #ff1744;
  color: #fff;
}
.search {
  width: 100%;
  margin: 10px 0;
}
