.base {
  width: 100%;
  height: auto;
  padding-top: 15px;
}
.header {
  width: 100%;
  height: auto;
  position: relative;
  padding-right: 30px;
}
.subCategoryList {
  font-size: 14px;
  font-family: regular;
  display: inline-block;
  text-align: left;
  width: 100%;
  line-height: 20px;
  height: auto;
}
.subCategoryListCount {
  font-size: 14px;
  font-family: regular;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: auto;
  text-align: right;
}
.active {
  composes: header;
  color: #ff1744;
}
