.base {
  width: 100%;
  height: auto;
  background: #ececec;
}
.header {
  width: 100%;
  height: 30px;
  position: relative;
  padding-right: 50px;
  padding-left: 20px;
}
.area {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-family: regular;
  margin-right: 10px;
  vertical-align: top;
}
.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 0;
}
.areaChange {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  display: inline-block;
  font-family: bolder;
  vertical-align: top;
}
.areaChange:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #000000;
}
