
.checkout-content{
    background: transparent;
    margin-top: 20px;
    
    .progress-barcheck{
        .step-1, .step-2, .step-3{
            border: 1px solid #ccc;
            padding:30px;
            width: 100%;
            display: block;
            
            
            
            a{
                display: block;
                width: 100%;
                text-decoration: none;
                font-weight: 400;
                
                
                
                i.arrow{
                  
                }
                
            }
        }
        
        
        .step-done, .in-active{
            
            a{
                display: block;
                width: 100%;
                text-decoration: none;
                font-weight: 400;
                
                i.arrow{
                    background: $Sprite_icon no-repeat -2146px -12px;
                    width: 29px;
                    height: 15px;
                    display: block;
                    float: right;
                }
            }
            
        }
        
        
        .active{
            
            a{
                display: block;
                width: 100%;
                text-decoration: none;
                font-weight: 400;
                
                i.arrow{
                      background: $Sprite_icon no-repeat -2185px -11px;
                    width: 29px;
                    height: 15px;
                    display: block;
                    float: right;
                }
            }
            
        }
    } 
    .deliver-method.choosePage .step-1, .payment.choosePage .step-1,  .payment.choosePage .step-2, .payment.selectPage .step-1, .payment.selectPage .step-2{
        display:none;
    }
    
    .delivery-address.choosePage .step-1{
        border-radius: 5px 5px 0px 0px;
    }
    
    
    .deliver-method.choosePage .step-2, .deliver-method.choosePage .step-3{
        border-radius: 5px 5px 5px 5px;
    }
    
    .checkout-content{
        border:0px;
        box-shadow: none;
    }
    .checkout-items{
        padding: 0px;
        padding-top: 10px;
        
        li{
                list-style: none;
            } 
        
        .delivery_options{
            margin-top: 20px;
        }
    }
    
    .deliverymethod{
       background: #f9f9f9;
        border-left: 1px solid #ccc;
        border-right:1px solid #ccc;
        padding-bottom: 10px;
        border-radius: 0px 0px 5px 5px;
        
        .details.product{
            h3{
                font-size: 16px;
            }
            
        }
        
        .header, .checkout-headers{
            display: none;
        }
        .item.delivery_options{
            
            ul{
                padding: 0px;
                
                li>div{
                    margin-left: 30px;
                }
            }
            
            .product-brand-name{
                
            }
            
            li{
                list-style: none;
            }
            .thumb, .details{
                display: inline-block;
                vertical-align: top;
                
                .product-brand-name{
                    margin: 0px;
                }
            }
            .thumb{
                margin-right: 10px;
                margin-top: 10px;
            }
            .quantity{
                margin-left: 170px;
                margin-bottom: 15px;
            }
            .delivery{
                border-top: 1px solid #ccc;
                padding-top: 15px;                
                padding-left: 30px;
            }
        }
        .proceed-button{
            float: right;  
            margin-right: 10px;
           
        }
        .button{
            padding: 8px 10px;
            font-size: 18px;
            line-height: 1.33333;
            border-radius: 4px;
            background-color: #2d2d2d;
            color: #fff;
           border-color: transparent;
        }
    }  
    .deliveryaddress{   
        background: #f9f9f9;
        border-left: 1px solid #ccc;
        border-right:1px solid #ccc;
        padding: 10px 25px;
        border-radius: 0px 0px 5px 5px;
        
        .step-body{
            padding: 10px 25px;
            
            .newAddressCenter{
                h2{
                    font-size: 16px;
                }
            }
            
        }
        
        .button, .cancelBtn{
            padding: 8px 10px;
            font-size: 18px;
            line-height: 1.33333;
            border-radius: 4px;
            background-color: #2d2d2d;
            color: #fff;
            border: 0px;
        }
        .cancelBtn{
            float: right;
        }
        .padd, .form-additionals{
            input{
                display: inline-block;
                float: left;
                width: 10%;
            }
            
            &.le-checkbox input{
                display: none;
            }           
            
            label{
               display: inline-block;
                float: left;
                width: 80%; 
            }
            
        }
        
        #addressform_button_panel{
            clear: both;
        }
        
        .choose-address{
            
            
            .addressList_wrapper{
                
                 /*padding: 0px 25px;*/
                
                .address-list{
                   /* width: 100%;
                    border: 1px solid #ccc;
                    padding: 20px;                   
                    border-radius: 10px;
                    margin-bottom: 20px;
                    background: #f9f9f9;*/

                    .acc_head{
                        h2{
                            font-size:18px;
                        }
                    }
                }
            }  
        }        
        
        
        .step-body{
            padding: 0px 0px;
        }
        .checkout-shipping{            
            /*padding-top: 10px;*/
        } 
        .checkout-shipping.addNewAddress{
            background: #f9f9f9;
        }
    }
    .deliveryaddress.choosePage{
        background: transparent;
        border-left: 0px;
        border-right: 0px;
        padding-bottom: 0px;
        border-radius: 0px;padding: 0px;
    }
    .checkout-shipping.addNewAddress, .checkout-shipping .editnewAddresPage{
        ul{
            margin: 0px;
            padding: 0px;
            
            li{
                    list-style: none;
            }
        }
        h3{
            font-size: 16px;
        }
        .form-group{
           input, select {
                margin-bottom: 20px;
                padding: 8px;
                width: 100%;
                border: 1px solid #d2d2d2;
                border-radius: 3px;
            }
        }
        
        
        .adresstype{
            margin: 10px;
            
            input {
                display: none!important;
            }
            
            label{
                display: inline-block;               
                margin: 10px;
            }
            
             .toggle-btn {
			    border: 1px solid #2d2d2d;
			    display: inline-block;
			    padding: 10px;
			    position: relative;
			    text-align: center;
			    transition: background .6s ease,color .6s ease;			   
			    border-radius: 3px;
                width: 30%;			   
			    font-weight: 400;
			    z-index:1; 
			    
			}
			.toggle[type="radio"]:checked + label{
			    background: #2d2d2d;
			    color:#fff;
			}
            
            
            
        }       
        #addressform_button_panel{
            height: 30px;
            #newAddressButton{
                float: right;
            }
        }
        
    }
    
    .addNew_wrapper{
        .add-address{
            background: #fff;
            border-radius: 10px;
            text-align: center;
            padding: 25px;
            border: 1px solid #ccc;
        .pincode-button{
            cursor: pointer;

            &:before{
            content: "";
            background: url('imgs/luxuary_sprite.png') no-repeat -1370px 0;
            width: 28px;
            height: 28px;
            position: absolute;
            }
        }
        
        }
       
      
    }
    
 }
.right-block .coupon-code{
    border: 1px solid #ccc;  
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    
    .coupon>div{
        #couponFieldId{
            width: 55%;
            display: inline-block;
            margin-bottom: 20px;
            padding: 10px 10px;    
            border: 1px solid #d2d2d2;
            border-radius: 3px;
        }
        #couponSubmitButton{
            width: 43%;
            display: inline-block;
            padding: 10px 16px;
            font-size: 14px;
            line-height: 1.33333;
            border-radius: 4px;
            background-color: #2d2d2d;
            color: #fff;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            border: 1px solid transparent;
            white-space: nowrap;
            user-select: none;
            text-transform:uppercase;
        }
    }
    
    
}
.right-block .card-details{
    
    ul{
        padding: 0px;
        
        li{
            
            display: inline-block;
            float: left;
            
            &.ssl{
                background: $Sprite_icon no-repeat -850px -45px;
                width: 81px;
                height: 34px;               
                float: left;
                margin-right: 5px;
            }
            
            &.use-card{
                background: $Sprite_icon no-repeat -760px 0;
                width: 248px;
                height: 34px;               
                float: left;
            }
        }
        
        
    }
}
.right-block .checkout-order-summary{
    border: 1px solid #ccc;  
    border-radius: 5px 5px 5px 5px;
    
    .order-summary-header{
        border-bottom: 1px solid #ccc;
        h2{
            text-align: center;
            margin: 15px;
            font-size: 18px
        }
    }
    
    .subtotals{
        margin: 15px;
        
        ul{
            margin: 0px;
            padding: 0px;
        }
        li{
            list-style: none;
            margin: 10px 0px;
        }
        .subTotalSpan, .amt, #promotionApplied span, .shipping span , #convChargeFieldId span{
            width: 49%;
            display: inline-block;
            
        }
        .amt, #promotion, #deliveryCostSpanId, #convChargeField{
            text-align: right;
            float: none!important;
        }
        #couponApplied{
            display: none;
        }        
    }
    .outstanding-totalss{
        margin: 15px;
        padding: 15px 0px 0px 0px;
        border-top: 1px solid #ccc;
        font-size: 20px;
        
        li{
            list-style: none;
        }
        
        .outstanding-amounts{
            font-size: 14px;
            font-weight: 600;
            .amt{
                float: right;
            }
            
        }
    }
}

.payment-section{
        background: #f9f9f9;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px;
    border-bottom:1px solid #ccc; 
}
.checkout-paymentmethod.nav{
    padding: 0px;
}
.checkout-paymentmethod{  
    
    li.payment-tab{
        
        position: relative;
        border-top: 1px solid #ccc;
        padding-top: 50px;
        margin: 10px 0px;
        list-style: none;  
        cursor: pointer;
        
        &:first-child{
         border-top:0px;
        }
      
        span{   
            
            top: 20px;
            position: absolute;
            padding-left: 30px;
            
            &:before{
                content: "";
                width: 20px;
                height: 20px;
                border-radius: $border-radius-small;
                background: #fff;
                border: 1px solid #c8c7cc;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto; 
                
            }
           
        }          
        &.active{
            span{  
                 &:before{
                    color: #fff;
                    background: #b99d6b url('../images/tick.png') no-repeat;
                    background-position: 3px 1px;
                    border-color:#b99d6b;
                    text-align: center;
                    line-height: 16px;
                }
            }
        }
    }
}
.checkout-shipping.addNewAddress .formaddress{
    width:100%!important;
 }
 .i18nAddressForm.address-form .row{
    background: transparent;
    border: 0px;
 }
 .addressList_wrapper .address-list .addresslist-left{
         width: 5%;
        display: inline-block;
        vertical-align: top;
            margin-top: 14px;
 }
  .addressList_wrapper .address-list .addresslist-right{
        width: 94%;
    display: inline-block;
 }
 
.addressList_wrapper .address-list .addresslist-right .edit a{
          text-align: right;
    display: block;
 } 
 .address-list.showItem{
     border-bottom: 1px solid #ccc;
    margin-bottom: 15px;

 }
  .payment-section{
  padding: 25px;
  }
 .payment-section .card-group fieldset{
     background: #fff;
    padding: 25px;
        border: 1px solid #ccc;
        border-radius: 10px;
 }
 .payment-section #netbanking{
     display: block;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
 }
  .payment-section h1, .payment-section h3, .payment-section h2{
      font-size: 18px;
  }
  .payment-section #countrySelectBoxIt{
   background:#fff;
  }
 .payment-section .checkout-paymentmethod,  .payment-section .tabs, .payment-section .product-block{
     padding: 0px;
 }
 .product-block li{
 list-style: none;
 }
 .checkout-content.checkout-payment{
 border:0px;
 }
 .row{
     background: transparent;
    border: 0px!important
 }
 
.creditDebitLabelRadio input{
 
 display:none;
}
.creditDebitLabelRadio label{
 width:150px;
 text-align:center;
 padding:10px;
 border:#000;
 border-radius:3px;
 border:1px solid #000;
 background:#fff;
}
.creditDebitLabelRadio input:checked + label{
 background:#000;
 color:#fff;
 
}
#netbanking .netbankingPanel ul{
 padding:0px;
}
#netbanking .netbankingPanel ul li{
     width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
        margin: 5px;
}
#netbanking .bank-select label{
 width:100%;
}
#netbanking .bank-select #bankCodeSelection{
 padding: 10px;
}
#COD{
  background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
 
}

.make_payment.button{
 float:right; 
}
.address-list.showItem .edit{
     float: right;
 }
  
  .address-list.showItem .address-details{ 
    clear: both;
  }
  .address-list.showItem{
  
    padding-bottom: 15px;
  }
  .choose-address .acc_head h2{font-size: 18px;}
  .product-block.addresses.new-form.account-section{
        padding: 0px;
  }
.checkout-content .checkout-shipping .cancelBtnEdit {
    padding: 8px 10px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #fff;
    border: 0;
}
.checkout-content .checkout-shipping .cancelBtnEdit {
    float: right;
}
.checkout-content .checkout-shipping .address-form h1{
 font-size: 18px;
}
.checkout-content .checkout-shipping .heading-form h3{
 font-size: 14px;
}
#cardDebit{
  display:none;
 } 
 .controls .card_exp_month, .controls .card_exp_year{
 width: 49%;
    display: inline-block;
 }
.creditDebitLabelRadio input{
 
 display:none;
}
.creditDebitLabelRadio label{
 width:150px;
 text-align:center;
 padding:10px;
 border:#000;
 border-radius:3px;
 border:1px solid #000;
 background:#fff;
}
.creditDebitLabelRadio input:checked + label{
 background:#000;
 color:#fff;
 
}
.checkout-headline{
    font-size: 24px;   
    
}
.breadcrumbs.wrapper{
    padding: 0px;
    
    
}