<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerHero"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection1"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection2"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection3"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection4"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection5"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection6"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SellerSection7"/>
				</td>
			</tr>
			
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>