<div>
<table
	style="margin: 0; padding: 0; table-layout: fixed; border: 1px solid #1E4EBF;"
	border="1" width="100%" height="100%" cellspacing="0">
	<tbody>
		<tr style="height: 11px;">
			<td style="width: 1791px; height: 11px;" colspan="4"><cockpit
					code="TopHeaderSlot" /></td>
		</tr>
		<tr style="height: 5px;">
			<td style="width: 537px; height: 5px;"><cockpit
					code="MiddleHeader" /></td>
			<td style="width: 298px; height: 5px;"><cockpit code="Brand-siteLogo" /></td>
			<td style="width: 956px; height: 5px;" colspan="2"></td>
            <td style="width: 960px; height: 21px;"><cockpit
                code="HeaderLinks" /><cockpit code="MiniCart" /><cockpit code="WishList"/><cockpit
                    code="SearchBox" /></td>
		</tr>
		<tr style="height: 13px;">
			<td style="width: 1791px; height: 13px;" colspan="4"><cockpit
					code="NavigationBar" /></td>
		</tr>
		<tr style="height: 188px;">
			<td style="width: 1791px; height: 188px;" colspan="4"><cockpit
					code="Brand-HeroBanner" /><cockpit
					code="Brand-BannerDescription" /></td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="4"><cockpit
					code="Brand-CategoryCurosel" /></td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="4"><cockpit
					code="Brand-ShowCase1" /></td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="4"><cockpit
					code="Brand-ShowCase2" /></td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="4"><cockpit
					code="Brand-ProductCurosel1" /></td>
		</tr>
		<tr style="height: 31px;">
			<td style="width: 1791px; height: 30px;" colspan="2"><cockpit
					code="Brand-MoreStoriesbanner1Col1" /></td>
			<td style="width: 1791px; height: 30px;" colspan="2"><cockpit
					code="Brand-MoreStoriesbanner1Col2" /><cockpit
					code="Brand-MoreStoriesbanner1Description" /></td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="4"><cockpit
					code="Brand-ProductCurosel2" /></td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="2"><cockpit
					code="Brand-MoreStoriesbanner2Col1" />
					<cockpit
					code="Brand-MoreStoriesbanner2Description" /></td>
			<td style="width: 1791px; height: 30px;" colspan="2"><cockpit
					code="Brand-MoreStoriesbanner2Col2" />
					</td>
		</tr>
		<tr style="height: 30px;">
			<td style="width: 1791px; height: 30px;" colspan="4"><cockpit
					code="Brand-PopularCategory" /></td>
		</tr>
		<tr style="height: 31px;">
			<td style="width: 1791px; height: 31px;" colspan="4"><cockpit
					code="WhyShopOnLuxury" /></td>
		</tr>
		<tr style="height: 31px;">
			<td style="width: 1791px; height: 31px;" colspan="4"><cockpit
					code="Footer" /></td>
		</tr>
	</tbody>
</table>
<div class="cmsContentEditor"
	style="width: 100%; border-top: 2px solid #bbb;"></div>
</div>