<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>			
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="8">
					<cockpit code="Section1A" />
				</td>
			</tr>			
			<tr>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2A" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2B" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2C" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2D" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2E" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2F" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2G" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2H" />
				</td>				
			</tr>			
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="4">
					<cockpit code="Section3A" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection" colspan="4">
					<cockpit code="Section3B" />
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="8">
					<cockpit code="Section4A" />
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="3">
					<cockpit code="Section5A" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection" colspan="3">
					<cockpit code="Section5B" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection" colspan="2">
					<cockpit code="Section5C" />
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="3">
					<cockpit code="Section6A" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection" colspan="3">
					<cockpit code="Section6B" />
				</td>
				<td style="vertical-align:top;" class="structureViewSection" colspan="2">
					<cockpit code="Section6C" />
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="8">
					<cockpit code="Section7A" />
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;" class="structureViewSection" colspan="8">
					<cockpit code="Section8A" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>

