.holder {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.firstPositionHolder {
  composes: holder;
  margin-top: 20px;
}
.base {
  width: 100%;
  height: auto;
  padding-bottom: 40%;
  position: relative;
  margin: 0px;
}
.inCard {
  composes: base;
  background-repeat: no-repeat;

  padding: 0 20px;
}
.inCard .buffer {
  border-radius: 4px;
}
.buffer {
  width: 100%;
  height: 100%;
  min-height: 125px;
  overflow: hidden;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
.content {
  width: 100%;
  height: auto;
  display: inline-block;
}
.connectBox {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-family: semibold;
  margin-bottom: 5px;
}
.label {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
}
.icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}
.dataHolder {
  width: calc(100% - 40px);
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.buttonBox {
  height: auto;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
}
