.base {
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
.headingText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 20px;
  font-family: semibold;
  padding: 0px 15px;
}
.button {
  padding-left: 20px;
}
