.base {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}
.banner {
  width: 100%;
  height: auto;
}
.productHolder {
  width: 100%;
  height: auto;
  padding: 20px 0px 30px 0px;
}
.bannerProductHolder {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #e4e4e4;
}

@media screen and (min-width: 1025px) {
  .base {
    background-color: transparent !important;
  }
}
