.base {
  width: 100%;
  height: auto;
  padding: 30px 0;
  overflow: hidden;
}
.header {
  width: 100%;
  height: auto;
  float: left;
  padding: 0px 20px;
}
.headingText {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 20px;
  font-family: semibold;
  line-height: 17px;
  padding-right: 100px;
}
.offerTime {
  width: 100px;
  color: #fff;
  font-size: 14px;
  font-family: regular;
  position: absolute;
  right: 0px;
  padding: 0 0px 0 25px;
}
.subheader {
  width: calc(100% - 100px);
  float: left;
  color: #fff;
  font-size: 14px;
  font-family: regular;
  padding: 10px 0 17px 20px;
  line-height: 20px;
}
.clock {
  position: absolute;
  top: 0;
  left: 0;
}
