.base {
  width: 100%;
  height: auto;
  padding: 0px 15px;
  margin-top: 40px;
}
.shopeRangeHeader {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: semibold;
  margin-bottom: 25px;
}
