.base {
  width: 100%;
  padding: 68% 0px 30px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: linear-gradient(to top, #000000, rgba(67, 67, 67, 0));
}
.logo {
  width: auto;
  max-width: 100%;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 25px;
}
