<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>Order Delivery</title>
		<style>
 		img.spacer-img {
 			opacity:0;
 			}
 			.headerImage img{
 			width:100%;
 			}
			.tableHeader td,.tableBody td{
			border-bottom:1px solid #f4f4f4;
			}
 			
		</style> 
	</head>
	<body style="margin:8px; background-color:#fff;">
	
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc; table-layout: fixed;">
		<tr>
			<td style="display:block" width="600" align="left" valign="top" class="headerImage">${ctx.cmsSlotContents.ForgotPwdSiteLogo}
</td>
		</tr>
		
		<tr>
			<td align="left" valign="top">
			<h2 style="padding-left: 13px;color: #AA133D;margin-bottom: 2px;margin-top:0px">Looking For A Change ?</h2>
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="13" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="13" height="1" /></td>
						<td width="550" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="15" /></td>
						<td width="12" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="12" height="1" /></td>
					</tr>
					
						
						
					<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						
						
						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">Our folks tell us that you want to change your password. We hear you.</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="center" valign="top"><table width="211" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>

<td width="20" align="left" valign="top">${ctx.cmsSlotContents.ChangePasswordOne}</td>
<td align="left" valign="middle" bgcolor="#EE0C6E" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align:center;font-size:22px; color:#ffffff;"><a href="${ctx.secureResetPasswordUrl}" style="color:#ffffff;text-decoration:none;">Change Password</a></td>
<td width="19" align="left" valign="top">${ctx.cmsSlotContents.ChangePasswordTwo}</td>

</tr>
<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
</tbody></table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						
						
						  <tbody><tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">If clicking the button doesn't work, try copying the link below into your 
browser window.</td>
						  </tr>
						  <tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						</tbody></table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd; font-weight:bold;">
<a href="${ctx.secureResetPasswordUrl}" style="color:#AA133D;">link for reset password</a></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						
						
						  <tbody><tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">	If you didn't request this, don't worry. You can ignore this email, as your account details are still under lock and key.</td>
						  </tr>
						  <tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						</tbody></table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
					
						
								
			
				
				
				
				
			
				
				<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.ForgorPwdTip}</td>
              </tr>
						
						<tr>
                
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							  Abracadabra is everyone’s first choice!But you won’t need that to unlock the magic in store for you at TataCLiQ!
							 
							</span></td>
						  
						  </tr>
						  <tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							  P.S. We will never ever email you and ask you to disclose or verify your account password, credit card, or bank account number. If you think you’ve gotten a no-good, suspicious email with a link to update your account information, DO NOT click on it. Instead, report it to us on <a href="mailto:talktous@mpl.com" style="color:#606060;">talktous@mpl.com</a>
							 
							</span></td>
						  
						  </tr>
						
						
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					
					<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
					  <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
						<tr>
						  <td>${ctx.cmsSlotContents.ForgotPwdsmileyimg}</td></td>
						  </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
						  </tr>
						  <tr>
               
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">© 2016 Tata CLiQ | All Rights Reserved</td>
						  <td width="240" align="left" valign="top">&nbsp;</td>
						  <td width="121" align="left" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
							   <td width="8" align="left" valign="middle"><a href="https://www.facebook.com"  style="border:none;">${ctx.cmsSlotContents.ForgotPwdfb}</td>
							   <td width="8" align="left" valign="middle"><a href="https://twitter.com" style="border:none;">${ctx.cmsSlotContents.tweet}</td>
							   <td width="8" align="left" valign="middle"><a href="https://www.youtube.com" style="border:none;">${ctx.cmsSlotContents.youtube}</td>
							   <td width="8" align="left" valign="middle"><a href="https://www.instagram.com" style="border:none;">${ctx.cmsSlotContents.insta}</td>
							  
							  </tr>
							</table></td>
						  </tr>
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
						  <td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  </tr>
				</table>
			
		</tr>
	</table>
</body>
</html>