<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>Order Delivery</title>
		<style>
 		img.spacer-img {
 			opacity:0;
 			}
 			.headerImage img{
 			width:100%;
 			}
			.tableHeader td,.tableBody td{
			border-bottom:1px solid #f4f4f4;
			}
 			
		</style> 
	</head>
	<body style="margin:8px; background-color:#fff;">
	
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc; table-layout: fixed;">
		<tr>
			<td style="display:block" width="600" align="left" valign="top" class="headerImage">${ctx.cmsSlotContents.pdp_Header}</td>
		</tr>
		
		<tr>
			<td align="left" valign="top" style="display:inherit;">
			<h2 style="padding-left: 13px;color: #AA133D;margin-bottom: 2px;margin-top:0px">I Think I've Found The One</h2>
				<table width="600" border="0" cellspacing="0" cellpadding="0" style="padding-left:13px;">
					
					
					<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						<tr>
						
							
							<td width="486" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#000;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4a4a4b; font-weight:bold;">Hey,</font></td>
						</tr>
						<tr>
							<td height="10" colspan="2" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">You know what they say - when you know, you know. And now I can't picture life without this <strong>${ctx.productName} </strong>that I found on TataCliQ.com. Quite the catch, right?</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;"><table width="290" border="0" cellspacing="0" cellpadding="0">
<tbody><tr style="font-weight:bold;">
<td width="510" align="left" valign="top" style="font-size:15px; color:#AA133D; ">Can't wait for you to check it out </td>
<td width="71" align="left" valign="top"><a href="${ctx.productUrl}" style="color:#AA133D;font-size:14px font-weight:bold"> here </a></td>
</tr>
</tbody></table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>

<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						

						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">See you soon,</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						

						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">${ctx.username}</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
						<td align="left" valign="top">&nbsp;</td>
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						

						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">${ctx.customerEmail}</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						
																					
							
								
				
				
				
				
				
				
				<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.pdp_tips}</td>
              </tr>
						
						<tr>
                
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							 If you two get lonely, all the company you'll need is at TataCliQ.
 

							 
							</span></td>
						  
						  </tr>
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					
					<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
					  <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
						<tr>
						 <td>${ctx.cmsSlotContents.smileyimg}</td></td>
						  </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					<tr>
					  
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; padding-left:13px;  color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
						  </tr>
						  <tr>
               
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
					  
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; padding-left:13px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">© 2016 Tata CLiQ | All Rights Reserved</td>
						  <td width="240" align="left" valign="top">&nbsp;</td>
						  <td width="121" align="left" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
							  <td width="8" align="left" valign="middle"><a href="https://www.facebook.com"  style="border:none;">${ctx.cmsSlotContents.fb}</td>
							  <td width="8" align="left" valign="middle"><a href="https://twitter.com" style="border:none;">${ctx.cmsSlotContents.tweet}</td>
							   <td width="8" align="left" valign="middle"><a href="https://www.youtube.com" style="border:none;">${ctx.cmsSlotContents.youtube}</td>
							   <td width="8" align="left" valign="middle"><a href="https://www.instagram.com" style="border:none;">${ctx.cmsSlotContents.insta}</td>
							  
							  </tr>
							</table></td>
						  </tr>
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
						  <td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  </tr>
				</table>
			
		</tr>
	</table>
</body>
</html>


