<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Order placed subjected to terms due to medium risk/High risk</title>
<style>
 img.spacer-img {
 	opacity:0;
 }
</style>
</head>

<body style="margin:0;">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc;table-layout: fixed;">
<tr>
<td width="600" align="left" valign="top">${ctx.cmsSlotContents.OnHOldSiteLogo}</td>
</tr>
<tr>
<td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="25" align="left" valign="top"><img src="images/sp acer.jpg" class="spacer-img" width="25" height="1" /></td>
<td width="550" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="15" /></td>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="25" height="1" /></td>
</tr>
<tr style="font-weight:bold;font-style:italics;display:inline-block">
					
						<h2 style="padding-left: 20px;color: #AA133D;margin-bottom: 2px;">You're Genuinely Awesome. So We'll Make Sure</h2>
						
						</tr>
						
						
						<tr style="font-weight:bold;font-style:italics;display:inline-block">
					
						<h2 style="padding-left: 20px;color: #AA133D;margin-bottom: 2px;margin-top:4px">Your Order Is Too.</h2>
						
						</tr>

<tr>
  <td height="26" align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td  align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
<tr>
  
  <td width="497"  align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#000;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4a4a4b; font-weight:bold;">Hey ${ctx.customerName} ,</font></td>
</tr>
<tr>
  <td height="10" colspan="2" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
</tr>
  </table></td>
  </tr>
  </table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>

<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">Our folks here noticed that your order <strong>${ctx.orderReferenceNumber}</strong>,
placed on <strong>${ctx.orderDate}</strong> has just a few details we're not completely sure about.</td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td height="12" colspan="3" align="left" valign="top" style="padding:0; margin:0">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">Now we absolutely cannot have that, so we've placed your order on hold while we check it out. You might get a call from one of our CLIQhelpers to sort this out soon.</td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td height="12" colspan="3" align="left" valign="top" style="padding:0; margin:0">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#AA133D; font-weight:bold">For any clarifications, please feel free to	<a href="${ctx.contactUsLink}" style="color:#AA133D"><strong>contact us.</strong></a></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td height="12" colspan="3" align="left" valign="top" style="padding:0; margin:0">&nbsp;</td>
</tr>






<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><table width="570" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td width="32" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">${ctx.cmsSlotContents.Tip}</td>
      <td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"> </td>
    </tr>
    <tr>
      <td colspan="2" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="15"></td>
    </tr>
  </tbody></table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>




<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
<tbody><tr>

<td width="550" rowspan="2" align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
   
    <td width="354" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; line-height:22px; padding-right:10px;">Quote your <strong>order reference number</strong> to get information about all the items you've ordered this time. If you want to know more about the items you've bought from a seller, quote the<strong> order number</strong>. And if you're looking for information about an individual product, quote its <strong>transaction ID</strong>. </td>
  </tr>
  
  
  

 
  <tr>
    <td colspan="2" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="1"></td>
  </tr>
</tbody></table></td>

</tr>
<tr>
<td height="75" align="left" valign="top">&nbsp;</td>
</tr>
</tbody></table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
					  <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
						<tr>
						  <td>${ctx.cmsSlotContents.smileyimg}</td></td>
						  </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>

<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
    
  </table></td>
  
</tr>


<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><table width="564" border="0" cellspacing="0" cellpadding="0">
<tr>
					
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:support@tatamall.com">support@tatamall.com</a></p></td>
						  </tr>
						  <tr>
               
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
</table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="15" /></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
					  <td align="left" valign="top">&nbsp;</td>
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">&copy; 2016 Tata CLiQ | All Rights Reserved</td>
						  <td width="240" align="left" valign="top">&nbsp;</td>
						  <td width="121" align="left" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
							  <td width="8" align="left" valign="middle"><a href="https://www.facebook.com"  style="border:none;">${ctx.cmsSlotContents.fb}</td>
							  <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.tweet}</td>
							   <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.youtube}</td>
							   <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.insta}</td>
							  
							  </tr>
							</table></td>
						  </tr>
						<tr>
						  <td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
</table></td>
</tr>
</table>
</body>

</html>