<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Tata Unistore</title>
	<style>
 img.spacer-img {
 	opacity:0;
 }
</style>
</head>

<body style="margin:0;">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc">
<tr>
<td width="598" align="left" valign="top">${ctx.cmsSlotContents.SiteLogo}</td>
</tr>
<tr>
<td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="25" height="1" /></td>
<td width="550" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="30" /></td>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="25" height="1" /></td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="8%" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;">Hey </td>
<td width="92%" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;">$ctx.customerName,</td>
</tr>
<tr>
  <td colspan="2" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="21" /></td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">We hate to break it to you. Remember when we told you that your order $ctx.orderReferenceNumber was flagged? Well, we checked it out and found that it didn't meet the required security standards. </td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td colspan="3" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="24" /></td>
  </tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">
It's sad that things didn't work out this time. We hope we can help you with<br /> something else real soon.</td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="21" /></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top"><table width="451" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;">
    <tr>
      <td width="263" align="left" valign="top">
        For any clarifications, please feel free to </td>
      <td width="188" align="left" valign="top"><a href="${ctx.customerFirstPage}" style="color:#00b6bd"><strong>contact us.</strong></a></td>
      </tr>
    </table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="30" /></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="6%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">${ctx.cmsSlotContents.Tip}</td>
<td width="94%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">Here's a tip: </td>
</tr>
<tr>
<td colspan="2" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="19" /></td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="7%" height="53" align="left" valign="top" bgcolor="#ed0c6e">&nbsp;</td>
    <td width="80%" rowspan="2" align="left" valign="top" bgcolor="#ED0C6E"><table width="416" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">
      <tr>
        <td colspan="2" align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td width="26" align="left" valign="top">&nbsp;</td>
        <td width="418" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">Watch before you swipe! </td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">Those security standards can get tricky.</td>
      </tr>
      </table></td>
    <td width="13%" rowspan="2" align="left" valign="top">${ctx.cmsSlotContents.Description}</td>
  </tr>
  <tr>
    <td height="23" align="left" valign="top">&nbsp;</td>
  </tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="35" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="184" align="center" valign="top" bgcolor="#00B5BC">${ctx.cmsSlotContents.OrderRejectBottom}</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="42" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="5%" align="left" valign="middle">${ctx.cmsSlotContents.smileyimg}</td>
<td width="26%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#00b6bd;"><strong>Happy shopping!</strong></td>
<td width="23%" align="left" valign="middle">&nbsp;</td>
<td width="25%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#00b6bd;"><strong>Your friends at</strong></td>
<td width="10%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#606060;"><strong>TataCliQ.com</strong></td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="36" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;border-top:1px solid #ccc;"></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="95%" align="left" valign="top"  style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">This email can't receive replies. Get in touch with us by contacting our <a href="mailto:${ctx.customerCareEmail}" style="color:#606060;">CLIQhelpers</a> (or dig in at our Friday night pizza party). You can also shoot an email to <a href="mailto:${ctx.customerCareEmail}" style="color:#606060;">${ctx.customerCareEmail}</a>.</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="25" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="49%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&copy; 2015 TataCliQ | All Rights Reserved</td>
<td width="31%" align="left" valign="top">&nbsp;</td>
<td width="20%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="right">
<tr>

<td width="8%" align="left" valign="middle"><a href="#"  style="border:none;">${ctx.cmsSlotContents.gplus}</a></td>
<td width="8%" align="left" valign="middle"><a href="#"  style="border:none;">${ctx.cmsSlotContents.fb}</a></td>

</tr>
</table></td>
</tr>
<tr>
<td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
</body>
</html>
