<style>
.templateContainer {margin :5%;}
.tempTopSection {border: 1px solid yellowgreen; display: block; overflow: hidden; height: 250px;}
.tempTopLeft {padding: 2%; width: 45%; border-right: 1px solid lightsteelblue; float: left; height: 100%;}
.tempTopRight {float: left;padding: 2%; width: 45%;}
.tempGiftCardId {padding: 2%; border: 1px solid black;}
.tempGiftValue {font-size: 42px; font-weight: bold; padding: 10% 38%;}
.configText {color: red;}
.tempBottomLeft {float: left;}
.tempBottomRight {float: right;}
@media(max-width: 650px){
	.tempGiftValue {font-size: 22px;}
}
</style>

<html>
	<div class="templateContainer">
		<div class="tempTopSection">
			<div class="tempTopLeft">
				<div class="tempGiftCardId">
					Gift card id: xxxxxx xxxxxxx xxxxxx xxxxxxx
				</div>
				<div>
					
				</div>
			</div>
			<div class="tempTopRight">
				<div class="tempGiftValue">
					&#8377;499.0
				</div>
				<div class="tempGiftCardId">
					Expiry Date: 31<sup>st</sup> March 2018
				</div>
			</div>
		</div>
		<br />
		<div>
			<p>Congratulations!!</p>
			<p>You have been gifted a Tata CLiQ voucher by <span class="configText">ABC</span></p>
			<p>You can use the gift card across the Tata CLiQ site (www.tatacliq.com & luxury.tatacliq.com) and the Tata CLiQ app.</p>
			<p>How to use:</p>
			<p>If you are a customer:</p>
			<ol>
				<li>Login to your account</li>
				<li>Add the gift card in your CLiQ Cash account by visiting <span class="configText">add card url</span></li>
				<li>Enter the gift card code</li>
				<li>Click on to add your balance</li>
			</ol>
			<p>If you are not a Tata CLiQ customer:</p>
			<ol>
				<li>Please sign up and add the card to your CLiQ cash account using the steps defined above</li>
			</ol>
			<p>Terms and Conditions:</p>
			<p>These terms and conditions apply to Tata CLiQ Gift Cards ("Gift Cards") issued by QwikCilver Solutions Private Limited ("QwikCilver"). QwikCilver is a private limited company organized under the laws of India, and is the issuer of Giftcards. By purchasing or using a Gift Card, you are agreeing to and accept these terms and conditions.</p>
			<ol>
				<li>
					Redemption.<br />
					Gift Cards may only be redeemed toward the purchase of eligible products on <a href="www.tatacliq.com">www.tatacliq.com</a> or <a href="luxury.tatacliq.com">luxury.tatacliq.com</a>. Purchases are deducted from the redeemer's CLiQ Cash balance. Any unused CLiQ cash balance will remain associated with the redeemer's tatacliq.com account and applied to purchases in order of earliest expiration date. If a purchase exceeds the redeemer's CLiQ Cash balance, the remaining amount must be paid with by credit card, net banking or debit card. No fees or charges apply to Gift Cards. QwikCilver may provide Gift Card purchasers with information about the redemption status of Gift Cards that they purchase or use.
				</li>
				<li>
					<p>Gift Cards, including any unused Gift Card balances, expire <span class="configText">one year</span> from the date of issuance. Gift Cards may only be purchased in denominations ranging from Rs. 10 to Rs. 10,000, or such other limits as QwikCilver may determine. GiftCards cannot be used to purchase other gift cards. Gift Cards cannot be reloaded, resold, transferred for value or redeemed for cash. Unused Gift Card balances associated with an tatacliq.com account may not be transferred to another tatacliq.com account. No interest will be payable by QwikCilver on any Gift Card or Gift Card balance. QwikCilver makes no representation or warranty that <a href="www.tatacliq.com">www.tatacliq.com</a> will always be accessible without interruption.</p>
				</li>
				<li>
					Fraud.<br />
					QwikCilver is not responsible if a Gift Card is lost, stolen, destroyed or used without permission. Tata UniStore Limited ("Tata CLiQ") will have the right to close customer accounts and take payment from alternative forms of payment if a fraudulently obtained Gift Card is redeemed and/or used to make purchases on www.tatacliq.com or <a href="luxury.tatacliq.com">luxury.tatacliq.com</a>.
				</li>
				<li>
					Governing Law and Jurisdiction.<br />
					These terms and conditions are governed by and construed in accordance with the laws of India. You, QwikCilver and Tata CLiQ each agree to submit to the exclusive jurisdiction of the courts at Mumbai. You agree to indemnify QwikCilver and Tata CLiQ for all claims brought by a third party against it or its affiliates arising out of or in connection with a breach of any of these terms and conditions.
				</li>
				<li>
					Limitation of Liability.<br />
					NEITHER QWIKCILVER NOR Tata CLiQ MAKE ANY WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO GIFT CARDS, INCLUDING WITHOUT LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN THE EVENT A GIFT CARD IS NON-FUNCTIONAL, YOUR SOLE REMEDY WILL BE THE REPLACEMENT OF SUCH GIFT CARD. IF APPLICABLE LAW DOES NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
				</li>
				<li>
					General Terms.<br />
					The tatacliq.com Conditions of Use apply to Gift Cards. QwikCilver reserves the right to change these Gift Card terms and conditions from time to time in its discretion and without prior notice to you. All terms and conditions are applicable to the extent permitted by law.
				</li>
				<li>
					QwickCilver Contact Information.<br />
					Customer Service contact number: 1800 102 4438<br />
					Website address: <a href="www.qwikcilver.com">www.qwikcilver.com</a>
				</li>
			</ol>
			<div>
				<span class="tempBottomLeft">Gift card id:xxxxxxxxxxxxxxxxxxx</span>
				<span class="tempBottomRight">Order No: xxxxxxxxxxxxxxxxxxxxxxxx</span>
			</div>
		</div>
	</div>
</html>