<html>
	<head>
		<title>Email | Account Update</title>
	</head>
	<body bgcolor="#ffffff">
	
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
		<tr style="height:50px;">
			<td>&emsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="900" border="6" align="center" cellpadding="0" cellspacing="0" bordercolor="#CED8F6">
					<tr>
						<td align="center" valign="top" bgcolor="#ffffff">
							<table width="850" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr style="height:30px;">
									<td valign="middle">&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">Hi ${ctx.firstName},</font></p>
									
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">At the outset, thank you for shopping with Tata Mall.</font></p>
										
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">May we request you to please provide your valuable feedback on the following item(s) of order ${ctx.orderNo} delivered on  ${ctx.dateOfDelivery}</font></p>
										
										
										<p><font color="#11309F" size="2" face="Arial, Helvetica, sans-serif"><b>Order reference number ${ctx.orderRefNo}</b></font></p>
										<p><font color="#11309F" size="2" face="Arial, Helvetica, sans-serif"><b>Order number ${ctx.orderNo}</b></font></p>
										
										<p>
											<table width="100%">
												<tr>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b>Sr. No </b></font></th></td>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b>Transaction ID</b></font></th></td>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b>Name of Product</b></font></th></td>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b>Feedback</b></font></th></td>
													
					                               
												 <tr>
                                                  <td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b> ${ctx.srNo} </b></font></th></td>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b> ${ctx.transactionId} </b></font></th></td>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b> ${ctx.nameOfProd} </b></font></th></td>
													<td style="width:150px;"><th><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b> ${ctx.feedback} </b></font></th></td>
                                                  </tr></tr>
											</table>
										</p>
										
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">&nbsp;</font></p>
										
										<p><font color="#11309F" size="2" face="Arial, Helvetica, sans-serif"><b>Would you also like to give us feedback on the sellers involved:</b></font></p>
										
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif"><b> ${ctx.sellerName} ${ctx.nameOfProd} ${ctx.feedback}</b> 
										</font></p>
			
				<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">Thank you for providing your valuable feedback. We look forward to the opportunity of serving you once again. Do visit tatamall.com </font></p>										
									 
										
                                        <p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">Yours Truly,</font></p>
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">Tata Mall Team</font></p>										
										
										<p>
											<table width="40%">
												<tr><td>---------------------------------------------------</td></tr>
												<tr><td><font color="#000" size="2" face="Arial, Helvetica, sans-serif">Tata Mall.... The Joy of Shopping</font></td></tr>
												<tr>
													<td>
														<font color="#000" size="2" face="Arial, Helvetica, sans-serif">
															<a href="mailto:www.tatamall.com" style="color: #11309F;">www.tatamall.com</a>
														</font>
													</td>
												</tr>
												<tr><td>---------------------------------------------------</td></tr>
											</table>
										</p>
										
										<p><font color="#000" size="2" face="Arial, Helvetica, sans-serif">&nbsp;</font></p>
										
										<p><font color="#848484" size="2" face="Arial, Helvetica, sans-serif">
											This email can't receive replies. For more information, visit Tata Mall's 
											<a href="mailto:talktous@mpl.com" style="color: #11309F;">talktous@mpl.com</a> or write to us at
											<a href="mailto:support@tatamall.com" style="color: #11309F;">support@tatamall.com</a>.
										</font></p>
									</td>
								</tr>
								<tr>	
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>