<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>Order Delivery</title>
		<style>
 		img.spacer-img {
 			opacity:0;
 			}
 			.headerImage img{
 			width:100%;
 			}
			.tableHeader td,.tableBody td{
			border-bottom:1px solid #f4f4f4;
			}
 			
		</style> 
	</head>
	<body style="margin:8px; background-color:#fff;">
	
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc; table-layout: fixed;">
		<tr>
			<td style="display:block" width="600" align="left" valign="top" class="headerImage">${ctx.cmsSlotContents.SiteLogo}
</td>
		</tr>
		
		<tr>
			<td align="left" valign="top" style="display:inherit;">
			<h2 style="padding-left: 17px;color: #AA133D;margin-bottom: 2px;margin-top:0px">We Like To Put</h2>
			<h2 style="padding-left: 17px;color: #AA133D;margin-top: 4px;margin-bottom:0px">The 'Fun' In 'Refund'</h2>
				<table width="600" border="0" cellspacing="0" cellpadding="0" style="padding-left:13px;">
					
					
					<tr>
						
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						<tr>
						
							
							<td width="486" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#000;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4a4a4b; font-weight:bold;">Hey  $ctx.customerName ,</font></td>
						</tr>
						<tr>
							<td height="10" colspan="2" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">We know that there's no feeling like getting that refund you really wanted. So we're accepting your return request and refunding a total amount of $ctx.amount refunded INR too!</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						<tr>
  
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:15px; color:#AA133D;">
    Here's more about the refund:</td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
																					
							<tr>
				 
				  <td align="left" valign="top"><table border="0" cellspacing="0" cellpadding="5"  style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#676767;word-break: break-word;">
					<tr bgcolor="#f5f5f5">
					  <td colspan="6" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:15px; color:#aa133d;padding-left:0px;font-weight:bold">Order number:<span style="color:#000">${ctx.orderCode}</span></td>
					  
					  </tr>
					<tr>
					  <td height="5" colspan="6" align="left" valign="top" style="font-size:0; line-height:0; padding:0">&nbsp;</td>
					  </tr>
					<tr class="tableHeader" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#aa133d; font-weight:bold;border-bottom:solid 1px #f4f4f4;">
					  <td width="100" height="55" align="center">Transaction <br>
                          ID</td>
					  <td width="100" align="center">
                          Product</td>
					 <td width="100" align="center">Amount refunded<br>against product</td>
					  <td width="100" align="center">Amount refunded<br>against delivery</td>
					 <td width="100" align="center">Refund<br>
                          Mode </td>
						 
					  
					  </tr>
					  
					  #set ($srNo=1)
					  #foreach($entry in ${ctx.childEntries})
															<tr class="tableBody" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#424242;">
					  <td valign="top" style="border-left:1px solid #fff; padding:14px 4px;">$ctx.transactionId</td>
					  <td valign="top" style="padding:14px 4px;">$ctx.nameOfProduct</td>
					  <td align="center" valign="top" style="padding:14px 4px;">$ctx.amountrefunded 
against product</td>
					  <td align="center" valign="top" style="padding:14px 4px;">$ctx.deliveryCharge
against delivery, 
if any</td>
					  <td align="center" valign="top" style="padding:14px 4px;">Back to Source 
Mode</td>
					 
					  </tr>
					  #set ($srNo=$srNo+1)
					  #end
															
														  </table></td>
				  <td align="left" valign="top">&nbsp;</td>
				</tr>
				
				
								<tr>
				  <td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="3" style="opacity:0;" /></td>
				  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"></td>
				  <td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="3" style="opacity:0;" /></td>
				</tr>
				
				
				
				
				
				<tr>
				  <td height="18" colspan="3" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
				</tr>
				<tr>
				 
				  <td align="left" valign="top"  style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">In the case of prepaid orders, you can expect the money to be credited back to the source of payment in 3-4 days. However, this will depend on the issuing bank and instrument used.</td>
				  <td align="left" valign="top">&nbsp;</td>
				</tr>
				<tr>
				  <td height="18" colspan="3" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
				</tr>
				<tr>
				  
				  <td align="left" valign="top"  style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">For COD orders, we'll get in touch with you soon.</td>
				  <td align="left" valign="top">&nbsp;</td>
				</tr>
				<tr>
				  <td height="18" colspan="3" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
				</tr>
				<tr>
 
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;"><table width="405" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td width="300" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#AA133D;font-weight:bold;">For further clarifications, feel free to </td>
      <td width="188" align="left" valign="top"><a href="${ctx.contactUsLink}" style="color:#AA133D"><strong>contact us.</strong></a></td>
      </tr>
    </tbody></table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
				  <td height="18" colspan="3" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
				</tr>
				<tr>
					  
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.Tip}</td>
              </tr>
						
						<tr>
                
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					 
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							 The best way to get over a failed love affair? A tub of ice cream and binge shopping!There's nothing a click can't fix at TataCliQ.
							 
							</span></td>
						  
						  </tr>
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					
					<tr>
					 
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
					  <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
						<tr>
						  <td>${ctx.cmsSlotContents.smileyimg}</td></td>
						  </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					<tr>
					  
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;padding-left:13px"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
						  </tr>
						  <tr>
               
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
					
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;padding-left:13px"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">© 2016 Tata CLiQ | All Rights Reserved</td>
						  <td width="240" align="left" valign="top">&nbsp;</td>
						  <td width="121" align="left" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
							  <td width="8" align="left" valign="middle"><a href="https://www.facebook.com"  style="border:none;">${ctx.cmsSlotContents.fb}</td>
							  <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.tweet}</td>
							   <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.youtube}</td>
							   <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.insta}</td>
							  
							  </tr>
							</table></td>
						  </tr>
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
						  <td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  </tr>
				</table>
			
		</tr>
	</table>
</body>
</html>
