<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />

  <title>Tata CliQ</title>

</head>
<body style="padding: 0; margin:0; font-family:Arial, Helvetica, sans-serif;">

  <style type="text/css">
	body{ padding: 0; margin:0; }
	@media only screen and (max-width:600px) {
		.maintable{ width: 300px }
		.smFull{ width: 100%; display: inline-block; }
		
		.toplink{ font-weight: bold; display: inline-block; width: 90%; padding: 10px 5%; text-align: left;  }
		.toplink a{ font-size:12px!important }
		.logo{ font-weight: bold; display: inline-block; width: 100% }
		.logo img{ width: 80px; height: auto }
		.topLinks{display: inline-block; width: 90%; padding: 10px 5%; text-align: left;letter-spacing: 1px}
		.inPad{display: inline-block; width: 90%; padding: 10px 5%; text-align: left;}
		.topLinks a{font-size: 11px!important; vertical-align: middle;}
		.topLinks span{font-size: 25px!important; vertical-align: middle; line-height: 10px}
		.dsnone{ display: none!important }
		.fwnormal{ font-weight: normal; }
		.content{ line-height: 18px }
		.lesspad img{ height: 20px }
		.orderdetail{ text-align: left; }
		.orderitemtable{ border-bottom: 1px solid #dadada }
		.iprice{ text-align: left; font-weight: bold; }
		.trackdiv{ padding: 0 0 15px; font-size: 12px!important  }
		.followhead{ font-weight: bold; padding: 10px 0 5px; font-size: 12px!important }
		.bordertop{padding-top:0; padding-bottom: 0 }
		.bordertop td{border-top: 1px solid #dadada; width: 100%; display: inline-block; }
		.socialLinks a{ display: inline-block; margin: 0 5px 0 0 }
		.taleft{ text-align: left }
		.btn{ font-size: 12px; width: 150px!important; padding: 7px 10px!important; letter-spacing: 0.5px }
		.borderBot td{ width: 100%; display: inline-block;  }
		.borderBot{  display: inline-block;width: 90%; padding: 0 5%; }
		.foocontnt div{font-size: 12px!important  }
		.dsBlock{ display: table-row !important;}
		.borTotal{ border-top: 1px solid #ccc; padding: 10px 0 0 0}
	}
</style> 
		<table class="maintable" width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;max-width:600px;">
			<tbody>
			    <tr>
			      <td>
			        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
			          <tbody>
			            <tr>
			  	        	<td>
			  	        		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
			  	        		  <tbody>
			  	        		    <tr>
			  	        		      <td >
			  	        		        <!--${ctx.cmsSlotContents.placeh}-->
										<span style="display:block; height: 10px; line-height:0;font-size:0;"></span>
			  	        		      </td>
		  	        		        </tr>
			  	        		    <tr>
									
										#if($ctx.cmsSlotContents.SiteLogoNew)
										<td class="logo" ><a href="https://www.tatacliq.com/" target="_blank">
										
										<span style="width:133px; height:48px; display:block; line-height:0; font-size:0">
										${ctx.cmsSlotContents.SiteLogoNew}</span>
										
										</a></td>
										#end

										<td align="right" class="toplink">
			  	        		      	 <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
			  	        		      	   <tbody>
			  	        		      	      <tr>
					  	        		      <td >
					  	        		        <span style="display:block; height: 15px; line-height:0;font-size:0;"></span>
					  	        		      </td>
				  	        		        </tr>
			  	        		      	   	 <tr>
			  	        		      	   	 	<td align="right">
			  	        		      	   	 		<p class="fwnormal" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #aa1d3d;margin:2px 0;padding:0;"><a href="https://www.tatacliq.com/my-account/orders?tcid=em:transactional:paymenttimeout:myorders:22052017" target="blank" style="color: #aa1d3d;line-height:16px; text-decoration: none;">Your Orders</a></p>
			  	        		      	          <p class="fwnormal" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #333333;margin:2px 0;padding:0;">Payment Timeout - Order  <span style="color: #aa1d3d;">${ctx.orderReferenceNumber}</span></p>
			  	        		      	   	 	</td>
			  	        		      	   	 </tr>
			  	        		      	   </tbody>
			  	        		      	 </table>
			  	        		      </td>
			  	        		    </tr>
			  	        		  </tbody>
			  	        		</table>
			  	        	</td>
			  	        	
			  	        </tr>
			          </tbody>
			        </table>
			      </td>
			    </tr>
				<tr>
					<td>
					  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
					   <tbody>
					    <tr>
					      
                          <td>
					  	 <!-- starts here-->
					  	   <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
					  	     <tbody>
					  	        <tr class="dsnone">
					  	         <td>
					  	       	   <span style="display:block; height: 20px; line-height:0;font-size:0;"></span>
					  	          </td>
					  	        </tr>
		  	        		    <tr>
		  	        		    	<td align="center" class="topLinks">
		  	        		    		<span style="font-size:14px;font-family:Arial, Helvetica, sans-serif;color: #aa1d3d;text-decoration:none"> FASHION </span>
			  	        		      	<span style="font-size:20px;font-family:Arial, Helvetica, sans-serif;color: #333333;"> &middot; </span>
			  	        		      	<span style="font-size:14px;font-family:Arial, Helvetica, sans-serif;color: #aa1d3d;text-decoration:none"> ELECTRONICS </span>
			  	        		      	<span style="font-size:20px;font-family:Arial, Helvetica, sans-serif;color: #333333;"> &middot; </span>
			  	        		      	<span style="font-size:14px;font-family:Arial, Helvetica, sans-serif;color: #aa1d3d;text-decoration:none"> MOBILES </span>
			  	        		      	<span style="font-size:20px;font-family:Arial, Helvetica, sans-serif;color: #333333;"> &middot; </span>
			  	        		      	<span style="font-size:14px;font-family:Arial, Helvetica, sans-serif;color: #aa1d3d;text-decoration:none"> LUXURY </span>
		  	        		    	</td> 
		  	        		    </tr>
		  	        		     <tr >
		  	        		      <td style="border-bottom:1px solid #aa1d3d;"></td>
		  	        		    </tr>
		  	        		    <tr class="dsnone">
		  	        		      <td>
		  	        		        <span style="display:block; height: 15px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		    <tr>
		  	        		    	<td class="inPad content">
		  	        		    		<div style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #333333;">
		  	        		    		<strong>Hi ${ctx.customerName},</strong>
		  	        		    		<br>
		  	        		    		<br>
		  	        		    		We know you want to buy the stuff in your shopping bag, but we regret that the payment gateway timed out. 
										
		  	        		    		</div>
		  	        		    	</td>
		  	        		    </tr>
		  	        		    <tr>
		  	        		      <td class="lesspad">
									<span style="display:block; height: 20px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		   
		  	        		     <tr>
		  	        		      <td>
									<span style="display:block; height: 20px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		    <tr>
		  	        		     <td>
		  	        		     	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="inPad">
		  	        		     	  <tbody>
		  	        		     	  	<tr>
		  	        		     	  		<td class="smFull" style="font-size:12px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;color: #333333;">
		  	        		     	  		  Order Details	
		  	        		     	  		</td>
		  	        		     	  		<td class="smFull orderdetail" align="right" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #333333;">Order placed on ${ctx.orderPlaceDate} | Order <span style="color:#aa1d3d;">${ctx.orderReferenceNumber}</span></td>
		  	        		     	  	</tr>
		  	        		     	  </tbody>
		  	        		     	</table>
		  	        		     </td>
		  	        		    </tr>
		  	        		     
		  	        		    <tr class="borderBot">
		  	        		      <td style="border-bottom:1px solid #aa1d3d;">
										<span style="display:block; height: 3px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		    <tr>
		  	        		      <td>
									 <span style="display:block; height: 20px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		    <tr class="inPad">
		  	        		      <td>
		  	        		      	 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="orderitemtable">
		  	        		      	   <tbody>
		  	        		      	   	
										
										 #foreach($entry in ${ctx.p_order.entries})
					  	        		 <tr>
		  	        		      	   	 	<td width="12" class="dsnone">&nbsp;</td>
		  	        		      	   	 	<td width="60">
		  	        		      	   	 	  <img src="http:${entry.product.picture.url}" width="51" height="75" style="border:1px solid #cbcbcb;">
		  	        		      	   	 	 </td>
		  	        		      	   	 	 <td width="10">&nbsp;</td>
		  	        		      	   	 	 <td style="vertical-align:top;">
		  	        		      	   	 	 	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="content">
					  	        		      	   <tbody>
					  	        		      	   	 <tr>
					  	        		      	   	 <td class="smFull">
				  	        		      	   	 	  <div style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#aa1d3d;">
				  	        		      	   	 	  $entry.quantity X  $entry.product.name
				  	        		      	   	 	  #if($entry.product.size)
				  	        		      	   	 	  <br>
				  	        		      	   	 	  <span style="color:#333333">Size: $entry.product.size</span>
				  	        		      	   	 	  #end
				  	        		      	   	 	  <br>
				  	        		      	   	 	  <span style="color:#333333">Sold by: $entry.SellerInfo </span>
				  	        		      	   	 	  	
				  	        		      	   	 	  </div>
				  	        		      	   	 	 </td>
													 
				  	        		      	   	 	<td class="smFull iprice" width="110" align="right" style="vertical-align:top;font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #000000;font-weight:bold;">
												
				  	        		      	   	 	#if (((!$entry.cartPromoCode) || ("$entry.cartPromoCode" == "")) || ((! $entry.productPromoCode) || ("$entry.productPromoCode" == "")))
													
				  	        		      	   	 	&#x20b9; $ctx.numberTool.format("#0.00",$entry.totalPrice)
													#else
													
				  	        		      	   	 	&#x20b9; $ctx.numberTool.format("#0.00",$entry.netAmountAfterAllDisc)
													#end
													</td>
				  	        		      	   	 	</tr>
				  	        		      	   	 	</tbody>
													
		  	        		      	   	 	</table>
											</td>
		  	        		      	   	 	</td>
		  	        		      	   	 	<td width="12">&nbsp;</td>
		  	        		      	   	 </tr>
		  	        		      	   	 <tr>
					  	        		      <td>
													<span style="display:block; height: 20px; line-height:0;font-size:0;"></span>
					  	        		      </td>
					  	        		 </tr>
										
										
										#end	
										 
										 
										
		  	        		      	   </tbody>
		  	        		      	 </table>
		  	        		      </td>
		  	        		    </tr>
		  	        		   <tr>
		  	        		    	<td class="inPad">
		  	        		    		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  	        		    		  <tbody>
		  	        		    		  	<tr>
			  	        		    		    <td class="smFull dsnone" width="100">&nbsp;</td>
			  	        		    		    <td class="smFull">
			  	        		    		    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="content">
	  	        		    		 				 <tbody>
	  	        		    		 				 	<tr>
			 			  	        		    		    <td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #000000;">Subtotal</td>
						  	        		    		    <td align="right" class="taleft" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color: #000000; text-align: right;">&#x20b9; $ctx.numberTool.format("#0.00",$ctx.subTotal)</td>
			 			  	        		    	   </tr>
						  	        		    	   
						  	        		    	   
						  	        		    	   <tr>
								  	        		      <td>
								  	        		        <span style="display:block; height: 15px; line-height:0;font-size:0;"></span>
								  	        		      </td>
								  	        		      <td>&nbsp;
								  	        		      </td>
								  	        		   </tr>
						  	        		    	   <tr>
			 			  	        		    		    <td class="borTotal" style="font-size:12px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;color: #000000;">Total</td>
						  	        		    		    <td class="borTotal taleft" align="right"  style="font-size:12px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;color: #000000; text-align: right;">&#x20b9; $ctx.numberTool.format("#0.00",$ctx.subTotal)</td>
			 			  	        		    	   </tr>
	  	        		    		 				 </tbody>
	  	        		    		 				</table> 
			  	        		    		    </td>
			  	        		    		    <td width="12">&nbsp;</td>
			  	        		    	   </tr>
			  	        		    	  </tbody>
			  	        		    	 </table>
 
		  	        		    	</td>
		  	        		    </tr>
		  	        		    <tr>
		  	        		      <td>
		  	        		        <span style="display:block; height: 25px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
                                
		  	        		    <tr class="dsnone">
		  	        		    	<td style="background-color:#aa1d3d" align="center">
                                        <table  border="0" cellspacing="0" cellpadding="0" align="center">
                                          <tbody>
                                          	 <tr>
                                          	 <td><span style="display:block; width:18px; height: 25px; line-height:0;font-size:0;">${ctx.cmsSlotContents.tatatrust}</span>
											 
											 </td>
                                          	   <td width="70" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #ffffff;">
                                          	     
                                          	 Tata Trust
                                          	   </td>
                                          	   <td>
                                          	     <span style="display:block; width:21px; height: 25px; line-height:0;font-size:0;">${ctx.cmsSlotContents.cliqnpic}</span>
                                          	   </td>
                                          	   <td width="90" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #ffffff;">
                                          	      CLiQ and PIQ
                                          	   </td>
                                          	   <td>
                                          	     <span style="display:block; width:20px; height: 25px; line-height:0;font-size:0;">${ctx.cmsSlotContents.easyreturn}</span>
                                          	   </td>
                                          	   <td width="84" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #ffffff;">
                                          	      Easy Returns
                                          	   </td>
                                          	   <td>
                                          	     <span style="display:block; width:16px; height: 25px; line-height:0;font-size:0;">${ctx.cmsSlotContents.authenticbrands}</span>
                                          	   </td>
                                          	   <td width="99" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #ffffff;">
                                          	      Authentic Brands
                                          	   </td>
                                          	   <td>
                                          	     <span style="display:block; width:25px; height: 25px; line-height:0;font-size:0;">${ctx.cmsSlotContents.freeshipping}</span>
                                          	   </td>
                                          	   <td style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #ffffff;">
                                          	     Free Shipping
                                          	   </td>
                                          	 </tr>
                                          </tbody>
                                        </table>
		  	        		    	</td>
		  	        		    </tr>



		  	        		    
		  	        		    <!-- stage mobile -->

 <!-- shipping mobile -->
		  	        		   
		  	        		    <!-- shipping mobile -->
		  	        		    <!-- stage mobile -->
		  	        		    



		  	        		    <tr>
		  	        		      <td>
		  	        		        <span style="display:block; height: 6px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		    <tr align="center">
		  	        		    	<td>
		  	        		    		
		  	        		    		<table class="content inPad">
		  	        		    			<tbody>
		  	        		    				<tr>
		  	        		    				    <td class="smFull trackdiv" width="190" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #000000;">Track Your Order on the go. Download our app.Stay updated on what's NEW &amp; NOW.</td>
		  	        		    					<td class="smFull">
														#if($ctx.cmsSlotContents.appstore)
															<a href="https://itunes.apple.com/us/app/tata-cliq-online-shopping/id1101619385?ls=1&amp;mt=8&amp;tcid=em:transactional:paymenttimeout:ios:22052017" target="_blank" style="text-decoration: none;"> ${ctx.cmsSlotContents.appstore}</a> 
														#end
														#if($ctx.cmsSlotContents.googleplay)
															<a href="https://play.google.com/store/apps/details?id=com.tul.tatacliq&amp;tcid=em:transactional:paymenttimeout:android:22052017" target="_blank" style="text-decoration: none;"> ${ctx.cmsSlotContents.googleplay}</a> 
														#end
													</td>
		  	        		    					<td class="smFull dsnone">
														${ctx.cmsSlotContents.linegrey}
													</td>
		  	        		    					<td class="smFull followhead" style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #000000;"> Follow Us: </td>
		  	        		    					<td class="smFull socialLinks">
		  	        		    						#if($ctx.cmsSlotContents.fbNew)<a href="https://www.facebook.com/TataCLiQ/" target="_blank" style="text-decoration: none;"> ${ctx.cmsSlotContents.fbNew}</a> #end
														
						  	        		    		#if($ctx.cmsSlotContents.twitterNew)<a href="https://twitter.com/tatacliq" target="_blank" style="text-decoration: none;">${ctx.cmsSlotContents.twitterNew}</a>#end
						  	        		    		#if($ctx.cmsSlotContents.instaNew)<a href="https://www.instagram.com/tatacliq/" target="_blank" style="text-decoration: none;">${ctx.cmsSlotContents.instaNew}</a>#end
														
						  	        		    		#if($ctx.cmsSlotContents.gplus)<a href="https://plus.google.com/+TataCLiQ/" target="_blank" style="text-decoration: none;">${ctx.cmsSlotContents.gplus}</a>#end
						  	        		    		
														#if($ctx.cmsSlotContents.youtubeNew)<a href="https://www.youtube.com/channel/UCUwkaWqIcl9dYQccKkM0VRA" target="_blank" style="text-decoration: none;">${ctx.cmsSlotContents.youtubeNew}</a>#end
					  	        		    		</td>
		  	        		    				</tr>
		  	        		    			</tbody>
		  	        		    		</table> 
		  	        		    		
		  	        		    	</td>
		  	        		    </tr>
		  	        		    <tr class="inPad bordertop">
		  	        		      <td class="">
		  	        		        <span style="display:block; height: 5px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
		  	        		    <tr>
		  	        		    	<td align="center" class="content foocontnt inPad">
		  	        		    	  <div style="font-size:10px;font-family:Arial, Helvetica, sans-serif;color: #333333;">
		  	        		    	    This email can't receive replies. Get in touch with us by contacting Tata CLiQ Care <a href="https://www.tatacliq.com/contact?tcid=em:transactional:paymenttimeout:customercare:22052017" target="blank" style="text-decoration:underline;color: #aa1d3d;line-height:16px;">click here</a>
		  	        		    	    <br>
		  	        		    	    You can also write to us at <a href="mailto:hello@tatacliq.com" target="blank" style="text-decoration:underline;color: #aa1d3d;line-height:16px;">hello@tatacliq.com</a>. For help with our luxury products. Write to <a href="mailto:concierge@tatacliq.com" target="blank" style="text-decoration:underline;color:#aa1d3d;line-height:16px;">concierge@tatacliq.com</a>
		  	        		    	  </div>
		  	        		    	</td>
		  	        		    </tr>
		  	        		     <tr>
		  	        		      <td>
		  	        		        <span style="display:block; height: 10px; line-height:0;font-size:0;"></span>
		  	        		      </td>
		  	        		    </tr>
					  	     </tbody>
					  	   </table>

                         </td>
                         
                        </tr>
                       </tbody>
                     </table>
					  	 <!-- ends here-->
				</td>
					
				</tr>
			</tbody>
		</table>
 </body>
</html>
