<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Tata Unistore</title>
<style>
 img.spacer-img {
 	opacity:0;
 }
</style>
</head>

<body style="margin:0;">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc">
<tr>
<td width="617" align="left" valign="top">${ctx.cmsSlotContents.InviteSiteLogo}</td>
</tr>
<tr>
<td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="15" height="1" /></td>
<td width="569" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="30" /></td>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="15" height="1" /></td>
</tr>
<tr>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="15" height="1" /></td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="92%" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="8%" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;">Hey </td>
<td width="92%" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;">Friend,</td>
</tr>
<tr>
  <td colspan="2" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="21" /></td>
</tr>
</table></td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">
  #if ($ctx.isHeader) 
  ${ctx.messageTextHeader}
  #end
  #if ($ctx.isBody)${ctx.messageTextBody}#end #if ($ctx.isBodyEdited)${ctx.messageText}#end
  </td>
</tr>
<tr>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;"><table width="187" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="90" align="left" valign="top" style="font-size:14px;color:#00b6bd;">Join me right</td>
<td width="97" align="left" valign="top"><a href="${ctx.inviteUrl}" style="font-size:14px;color:#00b6bd;">here. </a></td>
</tr>
</table></td>
</tr>
<tr>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;"></td>
</tr>
<tr>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="33" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top" bgcolor="#00B6BD">&nbsp;</td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="43%" height="35" align="left" valign="middle" bgcolor="#00B6BD" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff;">You'll be missing out on a lot </td>
<td width="3%" align="left" valign="top" bgcolor="#FAA61A">${ctx.cmsSlotContents.Invitefantastic1}</td>
<td width="19%" align="left" valign="middle" bgcolor="#FAA61A" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff;">if you don't:</td>
<td width="4%"  align="right" valign="top" bgcolor="#FAA61A">${ctx.cmsSlotContents.Invitefantastic2}</td>
<td width="31%" align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="22" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><table width="569" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#000000;">
<tr>
<td width="104" align="center" valign="top">${ctx.cmsSlotContents.Invitehandpick}</td>
<td width="49" rowspan="2" align="center" valign="bottom">${ctx.cmsSlotContents.InviteslashImgOne}</td>
<td width="98" align="center" valign="top">${ctx.cmsSlotContents.Invitebrand}</td>
<td width="43" rowspan="2" align="center" valign="bottom">${ctx.cmsSlotContents.InviteslashImgTwo}</td>
<td width="113" align="center" valign="top">${ctx.cmsSlotContents.Inviteexp}</td>
<td width="37" rowspan="2" align="center" valign="bottom">${ctx.cmsSlotContents.InviteslashImgThree}</td>
<td width="125" align="center" valign="top">${ctx.cmsSlotContents.Invitefast}</td>
</tr>
<tr>
<td align="center" valign="top" >Handpicked<br />
collections</td>
<td align="center" valign="top">Exclusive<br />
brands</td>
<td align="center" valign="top">Personalised<br />
experiences</td>
<td align="center" valign="top">Faster<br />
delivery</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="5%" align="left" valign="middle">${ctx.cmsSlotContents.Invitesmileyimg}</td>
<td width="26%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#00b6bd;"><strong>Happy shopping!</strong></td>
<td width="23%" align="left" valign="middle">&nbsp;</td>
<td width="25%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#00b6bd;">&nbsp;</td>
<td width="10%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#606060;">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#606060;">${ctx.customerEmail}</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="6%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">${ctx.cmsSlotContents.Invitetip}</td>
<td width="94%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">Here's a tip: </td>
</tr>
<tr>
<td colspan="2" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="15" height="1" /></td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="7%" height="53" align="left" valign="top" bgcolor="#ed0c6e">&nbsp;</td>
<td width="80%" rowspan="2" align="left" valign="top" bgcolor="#ED0C6E"><table width="448" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">
<tr>
<td colspan="2" align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td width="24" align="left" valign="top">&nbsp;</td>
<td width="424" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">If you're worried you might order the wrong size online </td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">- walk into a partner store, try on what you like,</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"> and buy it in a jiffy. </td>
</tr>
</table></td>
<td width="13%" rowspan="2" align="left" valign="top">${ctx.cmsSlotContents.tipcontent}</td>
</tr>
<tr>
<td height="38" align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td colspan="3" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="33" /></td>
</tr>
<tr>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="15" height="1" /></td>
<td align="left" valign="top" bgcolor="#00B5BC"><table width="570" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="257" height="114" align="left" valign="top" bgcolor="#00B5BC"><table width="254" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="10" height="29" align="left" valign="top">&nbsp;</td>
<td width="244" align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:15px; color:#ffffff;">Shop with us even when you're </td>
</tr>
<tr>
<td height="24" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff;"> out for coffee with your best friend.</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff;"><strong><a href="#" style="color:#ffffff;">Download our app now! </a></strong></td>
</tr>
</table></td>
<td width="313" rowspan="2" align="left" valign="middle" bgcolor="#00B5BC">${ctx.cmsSlotContents.bestfriend2}</td>
</tr>
<tr>
<td height="71" align="right" valign="bottom">${ctx.cmsSlotContents.bestfriend1}</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td colspan="3" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="36" /></td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="border-top:1px solid #ccc;"></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="95%" align="left" valign="top"  style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">This email can't receive replies. Get in touch with us by contacting our <a href="mailto:hello@tatacliq.com" style="color:#606060;">CLIQhelpers</a> (or dig in at our Friday night pizza party)). You can also shoot an email to <a href="mailto:hello@tatacliq.com" style="color:#606060;">hello@tatacliq.com</a>.</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="25" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="49%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&copy; 2015 TataCliQ | All Rights Reserved</td>
<td width="31%" align="left" valign="top">&nbsp;</td>
<td width="20%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="right">
<tr>
<td width="8%" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.Invitefb}</a></td>
<td width="8%" align="left" valign="middle"><a href="https://www.facebook.com" style="border:none;">${ctx.cmsSlotContents.Invitegplus}</a></td>
</tr>
</table></td>
</tr>
<tr>
<td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
</body>
</html>
