<!DOCTYPE html>
<head>
<title>TATA - CLiQ</title>
</head>

<body>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0" style=" border:1px solid #000;" >
  <tr>
    <td><table width="598" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" bgcolor="#ffffff">${ctx.cmsSlotContents.OrderConfirmSiteLogo}</td>
      </tr>
 
      <tr>
        <td bgcolor="#FBFBFB"><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td>
			<h2 style="padding-left: 17px;color: #AA133D;margin-bottom: 2px;margin-top:0px">Great News !</h2>
			<h2 style="padding-left: 17px;color: #AA133D;margin-top: 4px;margin-bottom:0px">Order Confirmed.</h2>
			<br>
			<font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4a4a4b; font-weight:bold;">Hey ${ctx.customerName},</font>
                  <br>
                  <br>
                  <font style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#AA133D;">We checked out your order and found that it's good to go, so we're sending it straight to you!
 
 <br>
                  <br>
                  </font>
				   <font style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#AA133D;">Here's what's on its way:
 
 <br>
                  <br>
                  </font>
				  </td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
	 
      
	  
	 
	 
      <tr>
        <td bgcolor="#fbfbfb"><table width="598" border="0" cellspacing="0" cellp12 baje
        dding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td><table width="572" border="0" cellspacing="0" cellpadding="0">
			<tr>
        <td bgcolor="#FBFBFB"><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" height="35" bgcolor="#f5f5f5">&nbsp;</td>
            <td width="203" align="left" bgcolor="#f5f5f5" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:17px; color:#aa133d; font-weight:bold;">Order reference number:</td>
            <td width="240" align="center" bgcolor="#f5f5f5" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:17px; color:#4a4a4a; font-weight:bold;padding-right:12px;">$ctx.orderReferenceNumber</td>
            <td>&nbsp;</td>
          </tr>
        </table><br></td>
      </tr>
	  
	   #set ($shippingCharge=0)
	    #foreach( $childorder in ${ctx.childOrders} )
	  <tr>
        <td bgcolor="#FBFBFB"><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" height="35" bgcolor="#f5f5f5">&nbsp;</td>
            <td width="125" align="left" bgcolor="#f5f5f5" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:17px; color:#aa133d; font-weight:bold;">Order number:</td>
            <td width="100" align="center" bgcolor="#f5f5f5" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:17px; color:#4a4a4a; font-weight:bold; padding-right: 12px;">$childorder.code</td>
            <td>&nbsp;</td>
          </tr>
        </table><br></td>
      </tr>
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td style="border-bottom:solid 1px #f4f4f4;"><table width="572" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#aa133d; font-weight:bold;">
                      <tr>
                        <td width="120" height="55" align="center">Transaction <br>
                          ID</td>
                        <td width="130" align="center">Product</td>
                        <td width="50" align="center">Qty</td>
                        <td width="80" align="center">Price</td>
                        <td width="120" align="center">Shipping charges<br>
                          (if any) </td>
						   <td width="120" align="center">COD Charges<br>
                          (if any) </td>
                        
                      </tr>
                    </table></td>
                  </tr>
				  #set ($srNo=1)
					  #foreach($entry in ${childorder.entries})
                  <tr>
                    <td style="border-bottom:solid 1px #f4f4f4;"><table width="572" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#424242;">
                      <tr>
                        <td width="120" height="55" align="center">$entry.orderLineId</td>
                        <td width="130" align="center">$entry.product.name</td>
                        <td width="50" align="center" >$entry.quantity</td>
                        <td width="80" align="center">$ctx.numberTool.format("#0.00",$entry.netAmountAfterAllDisc)</td>
                        <td width="120" align="center" >$ctx.numberTool.format("#0.00", $entry.currDelCharge)</td>
                        <td align="center" >$ctx.numberTool.format("#0.00", $entry.convenienceChargeApportion)</td>
                      </tr>
                    </table></td>
                  </tr>
				  #set ($srNo=$srNo+1)
					#set($shippingCharge=$shippingCharge+$entry.currDelCharge)
					#end
                 
                  
                </table></td>
              </tr>
				#end
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="280" height="70" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#aa133d; font-weight:bold;">Total: 	<span style="color:#000;">${ctx.totalPrice}</span>  </td>
                    <td>&nbsp;</td>
					<td width="280" height="70" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#aa133d; font-weight:bold;">Shipping: 	<span style="color:#000;">${ctx.totalPrice}</span>  </td>
                    
                  </tr>
				  
                    
                   
                    
                  
                </table>
				<div style="text-align:center;font-weight:bold;"><a href="${ctx.trackOrderUrl}" style="text-decoration:none; color:#fff;padding: 10px 15px;">${ctx.cmsSlotContents.trackbtn}</a></div>
				<br><br>
				
				</td>
              </tr>
			   <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;font-weight:bold;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">Delivery details are as follows:</span></td>
              </tr>
			  <tr>
                <td bgcolor="#f3f3f3"><table width="572" border="0" cellspacing="0" cellpadding="0" >
                  <tr>
                    <td width="10" >&nbsp;</td>
                    <td width="265" align="left" valign="top" style="padding-right:10px;vertical-align:middle;">${ctx.cmsSlotContents.OrderDelivery}</td>
                    <td>&nbsp;</td>
                    <td width="265" align="left" valign="top"><table width="394" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="35" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:15px; color:#202020;"><strong style="color:#000">${ctx.nameofperson}</strong></td>
                      </tr>
                      <tr>
                        <td height="1"></td>
                      </tr>
                      <tr>
                        <td height="35" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:15px; color:#202020;"><strong style="color:#000">${ctx.nameofperson}</strong></td>
                      </tr>
                      <tr>
                        <td height="1"></td>
                      </tr>
					  <tr>
                        <td height="35" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:15px; color:#202020;"><strong style="color:#000">${ctx.nameofperson}</strong></td>
                      </tr>
                    </table></td>
                    <td width="10">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
             
              <tr>
                <td>&nbsp;</td>
              </tr>
			  <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">As you've requested, we'll be sending SMS alerts about your order status on your registered mobile number as well. </span></td>
              </tr>
			   <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.Tip}</td>
              </tr>
              <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">Quote your <strong>order reference number</strong> to get information 
								about
							  
							
							  
							  all the items you've ordered this time.
							
							
							  
							  If you want to know more about the items you've bought
							
							
							 
							 from a seller, quote the <strong>order number</strong>. And if you're looking for
							 
							
							 
							  information about an individual product, quote its <strong>transaction ID.</strong></span></td>
              </tr>
              <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
              <tr>
                <td>${ctx.cmsSlotContents.smileyimg}</td>
              </tr>
              <tr>
                <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">&#169; 2016 Tata CLiQ | All Rights Reserved</td>
                    <td>&nbsp;</td>
                    <td width="27" align="right"><a href="https://www.facebook.com" style="border:none;">${ctx.cmsSlotContents.fb}</a></td>
                    <td width="27" align="right"><a href="https://twitter.com" style="border:none;">${ctx.cmsSlotContents.tweet}</a></td>
                    <td width="27" align="right"><a href="https://www.youtube.com" style="border:none;">${ctx.cmsSlotContents.youtube}</a></td>
                    <td width="27" align="right"><a href="https://www.instagram.com" style="border:none;">${ctx.cmsSlotContents.insta}</a></td>
                  </tr>
                </table></td>
              </tr>
              </table></td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#fbfbfb">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
