<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>Tata Unistore</title>
<style>
 img.spacer-img {
 	opacity:0;
 }
</style>
</head>

<body style="margin:0;">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc">
<tr>
<td width="598" align="left" valign="top">${ctx.cmsSlotContents.pdp_Header}</td>
</tr>
<tr>
<td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="20" height="1" /></td>
<td width="550" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="30" /></td>
<td width="25" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="20" height="1" /></td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="8%" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#ed0c6e;">Hey,</td>
</tr>
<tr>
  <td colspan="2" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="21" /></td>
</tr>
</table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">You know what they say - when you know, you know. And now I can't picture life 
    without this ${ctx.productName} that I found on TataCliQ.com. Quite the catch, right?</td>
  <td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td colspan="3" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="40" /></td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd;"><table width="290" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="219" align="left" valign="top" style="font-size:14px; color:#00b6bd;">Can't wait for you to check it out </td>
<td width="71" align="left" valign="top"><a href="${ctx.productUrl}" style="color:#00b6bd;font-size:14px;">here </a></td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="25" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">See you soon,</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#000000;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="20" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">${ctx.username}</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">${ctx.customerEmail}</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="20" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="6%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">${ctx.cmsSlotContents.pdp_tips}</td>
<td width="94%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;">Here's a tip: </td>
</tr>
<tr>
<td colspan="2" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="19" /></td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="7%" height="53" align="left" valign="top" bgcolor="#ed0c6e">&nbsp;</td>
<td width="80%" rowspan="2" align="left" valign="top" bgcolor="#ED0C6E"><table width="416" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">
<tr>
<td colspan="2" align="left" valign="top"><img src="images/spacer.jpg" class="spacer-img" width="1" height="20" /></td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">If you two get lonely, all the company you'll need </td>
</tr>
<tr>
<td width="26" align="left" valign="top">&nbsp;</td>
<td width="418" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">is at TataCliQ.</td>
</tr>
</table></td>
<td width="13%" rowspan="2" align="left" valign="top">${ctx.cmsSlotContents.pdp_rightBanner}</td>
</tr>
<tr>
<td height="23" align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="27" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#f9a61a;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="184" align="left" valign="top" bgcolor="#f9a61a"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="46%" height="184" align="left" valign="top" bgcolor="#F9A61A"><table width="261" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;">
<tr>
<td width="17" height="55" align="left" valign="top">&nbsp;</td>
<td width="244" align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">Add and strike things off </td>
</tr>
<tr>
<td height="26" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">your wish list anytime you want.</td>
</tr>
<tr>
<td height="38" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><strong><a href="#" style="color:#ffffff;">Download our app now!</a></strong></td>
</tr>
</table></td>
<td width="54%" align="right" valign="top" bgcolor="#F9A61A">${ctx.cmsSlotContents.pdp_app}</td>
</tr>
</table></td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="36" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;1px solid #ccc;"></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="95%" align="left" valign="top"  style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">This email can't receive replies. Get in touch with us by contacting our <a href="mailto:${ctx.customerCareEmail}" style="color:#606060;">CLIQhelpers</a> (or perform at our mid-week karaoke night). You can also shoot an email to <a href="mailto:${ctx.customerCareEmail}" style="color:#606060;">${ctx.customerCareEmail}</a>.</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><img src="images/spacer.jpg" class="spacer-img" width="1" height="25" /></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="49%" align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&copy; 2015 TataCliQ | All Rights Reserved</td>
<td width="31%" align="left" valign="top">&nbsp;</td>
<td width="20%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="right">
<tr>
<td width="8%" align="left" valign="middle"><a href="https://plus.google.com"  style="border:none;">${ctx.cmsSlotContents.pdp_gplus}</a></td>
<td width="8%" align="left" valign="middle"><a href="https://www.facebook.com"  style="border:none;">${ctx.cmsSlotContents.pdp_fb}</a></td>
</tr>
</table></td>
</tr>
<tr>
<td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
</body>
</html>
