<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>Order Delivery</title>
		<style>
 		img.spacer-img {
 			opacity:0;
 			}
 			.headerImage img{
 			width:100%;
 			}
			.tableHeader td,.tableBody td{
			border-bottom:1px solid #f4f4f4;
			}
 			
		</style> 
	</head>
	<body style="margin:8px; background-color:#fff;">
	
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:solid 1px #cccccc; table-layout: fixed;">
		<tr>
			<td width="600" align="left" valign="top">${ctx.cmsSlotContents.InviteSiteLogo}</td>
</td>
		</tr>
		
		<tr>
			<td align="left" valign="top">
			<h2 style="padding-left: 17px;color: #AA133D;margin-bottom: 2px;margin-top:0px">To buy or not to buy?</h2>
			<h2 style="padding-left: 17px;color: #AA133D;margin-top: 4px;margin-bottom:14px">That is never the question</h2>
				<table width="600" border="0" cellspacing="0" cellpadding="0" style="padding-left:13px">
					
					
					<tr>
						
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						<tr>
						
							
							<td width="486" align="left" valign="top" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; color:#000;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4a4a4b; font-weight:bold;">Hey Friend,</font></td>
						</tr>
						<tr>
							<td height="10" colspan="2" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						  <tr>
							<td colspan="2" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">Hey, I was blown away by the incredible shopping experience at Tata CliQ. I highly recommend that you register as a member as well</td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
						
						<td align="left" valign="top"><table width="550" border="0" cellspacing="0" cellpadding="0">
						
							
						
						
						  <tr>
							<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:15px; color:#AA133D; font-weight:bold;">Join me right <a href="${ctx.inviteUrl}" style="font-size:14px;color:#AA133D;">here. </a></td>
						  </tr>
						</table></td>
						<td align="left" valign="top">&nbsp;</td>
						</tr>
						
						<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
  
  <td align="left" valign="top"><table width="560" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr bgcolor="#f5f5f5">
      <td width="1" height="35" align="left" valign="top">&nbsp;</td>
      <td width="215" align="left" valign="middle" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:17px; color:#aa133d; font-weight:bold;">You'll be missing out on a lot </td>
     <td width="139" align="left" valign="middle" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:17px; color:#4a4a4a; font-weight:bold;">if you don't:</td>
      <td width="20" align="left" valign="top"> </td>
      <td width="113" align="left" valign="top">&nbsp;</td>
    </tr>
  </tbody></table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>

<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>

  <td align="left" valign="top"><table width="569" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#000000;">
    <tbody>    
    <tr>
      <td width="104" align="center" valign="top">${ctx.cmsSlotContents.Invitehandpick}</td>
	  <td width="43" rowspan="2" align="center" valign="bottom">${ctx.cmsSlotContents.InviteslashImgOne}</td>
      <td width="49" align="center" valign="top">${ctx.cmsSlotContents.Invitebrand}</td>
	  <td width="43" rowspan="2" align="center" valign="bottom">${ctx.cmsSlotContents.InviteslashImgTwo}</td>
      <td width="98" align="center" valign="top">${ctx.cmsSlotContents.Inviteexp}</td>
	  <td width="43" rowspan="2" align="center" valign="bottom">${ctx.cmsSlotContents.InviteslashImgThree}</td>
      <td width="43" align="center" valign="bottom">${ctx.cmsSlotContents.Invitefast}</td>
      
    </tr>
    <tr>
      <td align="center" valign="top">Handpicked<br>
        collections</td>
      <td align="center" valign="top">Exclusive<br>
        brands</td>
      <td align="center" valign="top">Personalised<br>
        experiences</td>
      <td align="center" valign="top">Faster<br>
        delivery</td>
    </tr>
  </tbody></table></td>
  <td align="left" valign="top">&nbsp;</td>
</tr>



<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>

<td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#606060;">${ctx.customerEmail}</td>
<td align="left" valign="top">&nbsp;</td>
</tr>

<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						
				<tr>
					  
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.Tip}</td>
              </tr>
						
						<tr>
                
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					 
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							  If you're worried you might order the wrong size online - walk into a partner store, try on what you like, and buy it in a jiffy.
							 
							</span></td>
						  
						  </tr>
						  
						 
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					<tr>
							<td height="15" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="15" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="15" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
					
					<tr>
					 
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							  Shop with us even when you're out for coffee with your best friend.
							 
							</span></td>
						  
						  </tr>
						  
						 
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					<tr>
					 
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table width="550" border="0" cellspacing="0" cellpadding="0">
					  <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
						<tr>
						   <td>${ctx.cmsSlotContents.smileyimg}</td></td>
						  </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					
					
					<tr>
					
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;padding-left:13px"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
						  </tr>
						  <tr>
               
              </tr>
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					  <td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
					 
					  <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;padding-left:13px"><table width="550" border="0" cellspacing="0" cellpadding="0">
						<tr>
						 <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">&copy; 2016 Tata CLiQ | All Rights Reserved</td>
						  <td width="240" align="left" valign="top">&nbsp;</td>
						  <td width="121" align="left" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
							  <td width="8" align="left" valign="middle"><a href="https://www.facebook.com"  style="border:none;">${ctx.cmsSlotContents.fb}</td>
							  <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.tweet}</td>
							   <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.youtube}</td>
							   <td width="8" align="left" valign="middle"><a href="https://plus.google.com" style="border:none;">${ctx.cmsSlotContents.insta}</td>
							  
							  </tr>
							</table></td>
						  </tr>
						
						</table></td>
					  <td align="left" valign="top">&nbsp;</td>
					</tr>
					<tr>
						  <td align="left" valign="middle" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#606060;">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  <td align="left" valign="top">&nbsp;</td>
						  </tr>
				</table>
			
		</tr>
	</table>
</body>
</html>
