<!DOCTYPE html>
<head>
<title>TATA - CLiQ</title>
<style>
td span img{
width:100%;
}
.tip-icon img{
			float: left;
		 }
</style>
</head>

<body>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0" style=" border:1px solid #cccccc; font-family:Arial, Helvetica, sans-serif;">
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" bgcolor="#ffffff">
<span>${ctx.cmsSlotContents.SiteLogo}</span></td>
      </tr>
 
      <tr>
        <td><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td>
			<br>
			<font style="font-family:Arial, Helvetica, sans-serif; font-size:large; color:#000000; font-weight:bold;">Hi ${ctx.customerName},</font>
                  <br>
                  <br>
				  <font style="font-family:Arial, Helvetica, sans-serif; font-size:medium; color:#000000;">All or some of the products from order no. $ctx.orderCode, placed on have been delivered to ${ctx.deliveryAddress}.</font>
				  </td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
	  <tr>
	  <td width="13" height="26">&nbsp;</td>
	  </tr>
     
	 
	 <tr>
        <td><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13" height="35">&nbsp;</td>
            <td align="left" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:large; color:#000000; font-weight:bold;">Order Reference Number:</td>
            <td align="left" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:large; color:#000000; font-weight:bold; padding-right: 50px;">${ctx.pOrderCode}</td>
            <td width="13">&nbsp;</td>
          </tr>
        </table>
		<br>
		</td>
      </tr>
	  
	  <tr>
        <td><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13" height="35">&nbsp;</td>
            <td align="left" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:large; color:#000000; font-weight:bold;">Order Number: </td>
            <td align="left" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:large; color:#000000; font-weight:bold; padding-right: 50px;">${ctx.orderCode}</td>
            <td width="13">&nbsp;</td>
          </tr>
        </table>
		<br>
		</td>
      </tr>
	  
      <tr>
        <td><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td><table width="572" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td style="border-bottom:solid 1px #f4f4f4;"><table width="572" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:small; color:#000000; font-weight:bold;">
                      <tr>
                        <td width="120" height="55" align="center">Transaction <br>
                          ID</td>
                        <td width="155" align="center">Product</td>
                        <td width="80" align="center">Qty</td>
                        <td width="90" align="center">Price<br></td>
						  <td width="120" align="center">Shipping charges<br>
                          (if any) </td>
						   <td width="120" align="center">COD Charges<br>
                          (if any) </td>
                       
                      </tr>
                    </table></td>
                  </tr>
					  #set ($srNo=1)
					  #foreach($entry in ${ctx.childEntries})
                  <tr>
                    <td style="border-bottom:solid 1px #f4f4f4;"><table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:small; color:#000000;">
                      <tr style="word-break:break-word;">
                        <td width="120" height="55" align="center" >$entry.orderLineId</td>
                        <td width="130" align="center">$entry.product.name</td>
                        <td width="50" align="center" >$entry.quantity</td>
                        <td width="80" align="center">$ctx.numberTool.format("#0.00",$entry.netAmountAfterAllDisc)</td>
                        <td width="100" align="center" >$ctx.numberTool.format("#0.00", $entry.currDelCharge)</td>
						<td width="120" align="center" >$ctx.numberTool.format("#0.00", $entry.convenienceChargeApportion)</td>
                        
                      </tr>
                    </table></td>
                  </tr>
				   #set ($srNo=$srNo+1)
					  #end
                 
                  
                </table>
				<br>
				</td>
              </tr>
              
             
              <tr>
                <td width="13">&nbsp;</td>
              </tr>
			  <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#AA133D; padding:5px 0;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:medium; color:#000000; padding:5px 0;font-weight:normal;">We hope you're happy with your order. If not,  <a href="https://www.tatacliq.com">click here.</a>
 </span></td>
              </tr>
			  <tr>
                <td style="border-bottom: 1px solid black;">&nbsp;</td>
				<td>&nbsp;</td>
              </tr>
			  <tr>
				<td>&nbsp;</td>
              </tr>
			    <!--<tr>
               <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#AA133D; padding:5px 0;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:medium; color:#000000; padding:5px 0;font-weight:normal;">We hope you liked what you bought.<a href="https://www.tatacliq.com">Click here</a> to write a Review
 </span></td>
              </tr>-->
			  
			 
              <!--<tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.Tip}</td>
              </tr>-->
		<tr bgcolor="#fbfbfb">
			#if($ctx.cmsSlotContents.Tip)
            <td colspan="5" class="tip-icon">
               ${ctx.cmsSlotContents.Tip} <font size="4" color="#000000" style="display: block; padding-left: 5px; text-align: left; margin-top: 8px; margin-left: 58px;"><strong> HERE'S A TIP </strong></font>
            </td>
			 #end
         </tr>
              <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:small; color:#000000; padding:5px 0;">Please quote your <strong>order reference number</strong> to get information about your whole order. If you want to know more about an individual product, quote its <strong> transaction ID.</strong></span></td>
              </tr>
              <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
              <!--<tr>
                <td><span>${ctx.cmsSlotContents.smileyimg}</span></td>
              </tr>-->
			  <td style="padding-left:16px; border-top: 1px solid black;
				border-bottom: 1px solid black;" colspan="7" text="" align="left" bgcolor="#fbfbfb"><p style="margin-top: 10px;
				margin-bottom: 10px;">
				<font size="4" color="#000000"><strong>Happy Shopping! </strong></font><font size="4" color="#000000">
				<strong>
				</strong></font></p>
			</td>
			<tr>
			<td>&nbsp;<td>
			</tr>
			<tr>
			   <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:small; color:#000000;">
				  <p>This email can't receive replies. Get in touch with us by contacting Tata CLiQ Care <a href="tel:1800 208 8282">1800 208 8282</a>. You can also write to us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a>. For help with our luxury products, write to <a href="mailto:luxury@tatacliq.com">luxury@tatacliq.com. </a></p>
			   </td>
			</tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><table border="0" cellspacing="0" cellpadding="0" style="width:95%;">
                  <tr>
                    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:small; color:#000000; width: 486px;">&copy; 2016 Tata CLiQ | All Rights Reserved</td>
                    <td>&nbsp;</td>
                    <td align="right"><a href="https://www.facebook.com/TataCLiQ/" style="border:none;">${ctx.cmsSlotContents.fb}</a></td>
                    <td align="right"><a href="https://twitter.com/tatacliq" style="border:none;">${ctx.cmsSlotContents.tweet}</a></td>
                    <td align="right"><a href="https://www.youtube.com/channel/UCUwkaWqIcl9dYQccKkM0VRA" style="border:none;">${ctx.cmsSlotContents.youtube}</a></td>
                    <td align="right"><a href="https://www.instagram.com/tatacliq/" style="border:none;">${ctx.cmsSlotContents.insta}</a></td>
                  </tr>
                </table></td>
              </tr>
              </table></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>