<!DOCTYPE html>
<head>
<title>TATA - CLiQ</title>
</head>

<body>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0" style=" border:1px solid #000;" >
  <tr>
    <td><table width="598" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" bgcolor="#ffffff">${ctx.cmsSlotContents.ForgotPwdSiteLogo}</td>
      </tr>
 
      <tr>
        <td bgcolor="#FBFBFB">
<h2 style="padding-left: 17px;color: #AA133D;margin-bottom: 12px;margin-top:0px">Looking For A Change ?</h2>
<table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td>
                  <font style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">Our folks tell us that you want to change your password. We hear you.<br>
                  <br>
                  </font></td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
	  
	  <tr>
        <td bgcolor="#FBFBFB"><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
           <td align="center" valign="top"><table width="211" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>


<td align="left" valign="middle" bgcolor="#aa133d" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align:center;font-size:17px; height: 30px; border-radius: 20px;color:#ffffff;"><a href="${ctx.secureResetPasswordUrl}" style="color:#ffffff;text-decoration:none;">Change Password</a></td>


</tr>
<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
					


<tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>					
</tbody></table></td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
	  <tr>

<td colspan="3" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; padding-left:13px; font-size:14px; color:#606060;">If clicking the button doesn't work, try copying the link below into your browser window.</td>

</tr>
      
      <tr>
        <td bgcolor="#fbfbfb"><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td><table width="572" border="0" cellspacing="0" cellpadding="0">
             
             
             <tr>
                <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#00b6bd; font-weight:bold;">
<a href="${ctx.secureResetPasswordUrl}" style="color:#AA133D;">link for reset password</a></td>
              </tr>
		
			  
              <tr>
                <td>&nbsp;</td>
              </tr>
			  <tr>
               <td colspan="3" align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">	If you didn't request this, don't worry. You can ignore this email, as your account details are still under lock and key.</td>
              </tr>
			  <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
              <td height="60" align="left" valign="top">${ctx.cmsSlotContents.ForgorPwdTip}</td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#ed0c6e;"><table border="0" cellspacing="0" cellpadding="0">
						<tbody><tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							  Abracadabra is everyone's first choice!But you won't need that to unlock the magic in store for you at TataCLiQ!
							 
							</span></td>
						  
						  </tr>
						  <tr>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
							<td height="18" align="left" valign="top" style="font-size:0; line-height:0;">&nbsp;</td>
						</tr>
						
						<tr>
						 
						  <td rowspan="2" align="left" valign="top" color="#000" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">
							
							
							
							  P.S. We will never ever email you and ask you to disclose or verify your account password, credit card, or bank account number. If you think you've gotten a no-good, suspicious email with a link to update your account information, DO NOT click on it. Instead, report it to us on <a href="mailto:talktous@mpl.com" style="color:#606060;">talktous@mpl.com</a>
							 
							</span></td>
						  
						  </tr>
						
						
						
						</tbody></table></td>
              </tr>
              <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
			  <tr>
                <td>&nbsp;</td>
              </tr>
             <tr>
						  <td>${ctx.cmsSlotContents.ForgotPwdsmileyimg}</td>
						  </tr>
						    <tr>
                <td>&nbsp;</td>
              </tr>
             <tr>
						 <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
						  </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">&#169; 2016 Tata CLiQ | All Rights Reserved</td>
                    <td>&nbsp;</td>
                    <td width="27" align="right"><a href="https://www.facebook.com" style="border:none;">${ctx.cmsSlotContents.ForgotPwdfb}</a></td>
                    <td width="27" align="right"><a href="https://twitter.com" style="border:none;">${ctx.cmsSlotContents.tweet}</a></td>
                    <td width="27" align="right"><a href="https://www.youtube.com" style="border:none;">${ctx.cmsSlotContents.youtube}</a></td>
                    <td width="27" align="right"><a href="https://www.instagram.com" style="border:none;">${ctx.cmsSlotContents.insta}</a></td>
                  </tr>
                </table></td>
              </tr>
              </table></td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#fbfbfb">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>