<!DOCTYPE html>
<html>
<head>
<title>TATA - CLiQ</title>
</head>

<body>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0" style=" border:1px solid #000;" >
  <tr>
    <td><table width="598" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" bgcolor="#ffffff">${ctx.cmsSlotContents.SiteLogo}</td>
      </tr>
 
      <tr>
        <td><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td>
			<h2 style="padding-left: 17px;color: #AA133D;margin-bottom: 2px;margin-top:0px">We Like To Put</h2>
			<h2 style="padding-left: 17px;color: #AA133D;margin-top: 4px;margin-bottom:0px">The 'Fun' In 'Refund'</h2>
			<br>
			<font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4a4a4b; font-weight:bold;">Hey  $ctx.customerName ,</font>
                  <br>
                  <br>
				  <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#606060;">We know that there's no feeling like getting that refund you really wanted. So we're accepting your return request and refunding a total amount of <strong>$ctx.amountrefunded</strong> refunded INR too!</font>
				  <br><br>
                  <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#AA133D;">Here's more about the refund:<br>
                  <br>
                  </font></td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
     
	 
	 <tr>
        <td><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" height="27">&nbsp;</td>
            <td width="120" align="left" bgcolor="#f5f5f5" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:15px; color:#aa133d; font-weight:bold;">Order number:</td>
            <td align="left" bgcolor="#f5f5f5" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:15px; color:#4a4a4a; font-weight:bold; padding-right: 50px;width:calc(100% - 140px);">${ctx.orderReferenceNumber}</td>
            <td>&nbsp;</td>
          </tr>
        </table>
		<br>
		</td>
      </tr>
      <tr>
        <td><table width="598" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13">&nbsp;</td>
            <td><table width="572" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td style="border-bottom:solid 1px #f4f4f4;"><table width="572" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#aa133d; font-weight:bold;">
                      <tr>
                        <td width="120" height="55" align="center">Transaction <br>
                          ID</td>
                        <td width="130" align="center">Product</td>
                        <td width="80" align="center">Amount refunded<br>against product</td>
                        <td width="120" align="center">Amount refunded<br>against delivery<br></td>
						  <td width="120" align="center">Refund<br>
                          Mode </td>
                       
                      </tr>
                    </table></td>
                  </tr>
				<tr>
                    <td style="border-bottom:solid 1px #f4f4f4;"><table width="572" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#424242;">
                      <tr>
                        <td width="120" height="55" align="center" >$ctx.transactionId</td>
                        <td width="130" align="center">$ctx.nameOfProduct</td>
                        <td width="50" align="center" >$ctx.numberTool.format("#0.00",$ctx.amountrefunded) against product</td>
                        <td width="80" align="center">$ctx.numberTool.format("#0.00",$ctx.deliveryCharge) against delivery, if any</td>
                        <td width="120" align="center" >Back to Source Mode</td>
                        
                      </tr>
                    </table></td>
                  </tr>
				 </table>
				<br>
				</td>
              </tr>
              
             
              <tr>
                <td>&nbsp;</td>
              </tr>
			  <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">In the case of prepaid orders, you can expect the money to be credited back to the source of payment in 3-4 days. However, this will depend on the issuing bank and instrument used.	 
 </span></td>
              </tr>
			  <tr>
                <td>&nbsp;</td>
              </tr>
			  <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">For COD orders, we'll get in touch with you soon.	</span></td>
              </tr>
			  <tr>
                <td>&nbsp;</td>
              </tr>
			  <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#AA133D; padding:5px 0;font-weight:bold;">For further clarifications, feel free to <a href="${ctx.contactUsLink}" style="color:#AA133D"><strong>contact us.</strong></a>	</span></td>
              </tr>
			  <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="60" align="left" valign="top">${ctx.cmsSlotContents.Tip}</td>
              </tr>
              <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;"><span style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; padding:5px 0;">The best way to get over a failed love affair? A tub of ice cream and binge shopping!There's nothing a click can't fix at TataCliQ.</span></td>
              </tr>
              <tr>
                <td height="70" align="center"><a href="https://www.tatacliq.com/apps" target="_blank">${ctx.cmsSlotContents.AppDownloadUrl}</a></td>
              </tr>
              <tr>
                <td>${ctx.cmsSlotContents.smileyimg}</td>
              </tr>
              <tr>
                <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;"><p>This email cant receive replies. Get in touch by calling  us at 1800 208 8282 or email us at <a href="mailto:hello@tatacliq.com">hello@tatacliq.com</a></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><table width="572" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="200" align="left" style="font-family:Avenir, Arial, Helvetica, sans-serif; font-size:11px; color:#4a4a4a;">&#169; 2016 Tata CLiQ | All Rights Reserved</td>
                    <td>&nbsp;</td>
                    <td width="27" align="right"><a href="https://www.facebook.com" style="border:none;">${ctx.cmsSlotContents.fb}</a></td>
                    <td width="27" align="right"><a href="https://twitter.com" style="border:none;">${ctx.cmsSlotContents.tweet}</a></td>
                    <td width="27" align="right"><a href="https://www.youtube.com" style="border:none;">${ctx.cmsSlotContents.youtube}</a></td>
                    <td width="27" align="right"><a href="https://www.instagram.com" style="border:none;">${ctx.cmsSlotContents.insta}</a></td>
                  </tr>
                </table></td>
              </tr>
              </table></td>
            <td width="13">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
