/config/local.properties
/config/custom_local_debug.properties
/config/customize
/config/solr
/config/licence/installedSaplicenses.properties

/ext/**/web/commonwebsrc
/ext/**/src/**/jalo/*
/ext/**/hmc/bin
/ext/**/hmc.xsd
/ext/**/eclipsebin
/ext/**/beans.xsd
/ext/**/gensrc
/ext/**/classes
/ext/**/items.xsd
/ext/**/extensioninfo.xsd
/ext/**/platformhome.properties
/ext/**/*-testclasses.xml
/ext/**/*-webtestclasses.xml
/ext/**/build.xml

/ext/luxury/**/web/addonsrc/*
/ext/luxury/**/web/webroot/**/addons/*
/ext/luxury/**/web/testclasses/*

/ext/marketplace/**/web/addonsrc/*
/ext/marketplace/**/web/webroot/**/addons/*
/ext/marketplace/**/web/testclasses/*
ext/marketplace/marketplacestorefront/web/webroot/WEB-INF/lib/addon-tealiumIQ-tealium_udo_helper_1_2_0a.jar
ext/marketplacecoupon/web/addonsrc/marketplaceomsservices/com/tisl/mpl/constants/MarketplaceomsservicesWebConstants.java
ext/marketplacecoupon/web/addonsrc/marketplaceomsservices/com/tisl/mpl/controllers/MarketplaceomsservicesControllerConstants.java
ext/marketplacecoupon/web/webroot/WEB-INF/messages/addons/marketplaceomsservices/base.js.properties
ext/marketplacecoupon/web/webroot/WEB-INF/messages/addons/marketplaceomsservices/base.properties
ext/marketplacecoupon/web/webroot/WEB-INF/tags/addons/marketplaceomsservices/desktop/AddDesktopTagsHere.txt
ext/marketplacecoupon/web/webroot/WEB-INF/tags/addons/marketplaceomsservices/mobile/AddMobileTagsHere.txt
ext/marketplacecoupon/web/webroot/WEB-INF/tld/addons/marketplaceomsservices/AddTagLibsHere.txt
ext/marketplacecoupon/web/webroot/WEB-INF/views/addons/marketplaceomsservices/desktop/cms/AddCmsComponentsHere.txt
ext/marketplacecoupon/web/webroot/WEB-INF/views/addons/marketplaceomsservices/desktop/fragments/AddPageFragmentsHere.txt
ext/marketplacecoupon/web/webroot/WEB-INF/views/addons/marketplaceomsservices/desktop/pages/AddPagesHere.txt
ext/marketplacecoupon/web/webroot/_ui/addons/marketplaceomsservices/desktop/common/css/marketplaceomsservices.css
ext/marketplacecoupon/web/webroot/_ui/addons/marketplaceomsservices/desktop/common/images/AddImagesHere.txt
ext/marketplacecoupon/web/webroot/_ui/addons/marketplaceomsservices/desktop/common/js/marketplaceomsservices.js
ext/marketplacecoupon/web/webroot/_ui/addons/marketplaceomsservices/mobile/common/css/marketplaceomsservices.css
ext/marketplacecoupon/web/webroot/_ui/addons/marketplaceomsservices/mobile/common/images/AddImagesHere.txt
ext/marketplacecoupon/web/webroot/_ui/addons/marketplaceomsservices/mobile/common/js/marketplaceomsservices.js
ext/marketplacewebservices/web/webroot/WEB-INF/messages/addons/marketplaceomsservices/base.js.properties
ext/marketplacewebservices/web/webroot/WEB-INF/messages/addons/marketplaceomsservices/base.properties
ext/marketplacewebservices/web/webroot/_ui/addons/marketplaceomsservices/desktop/common/css/marketplaceomsservices.css
ext/marketplacewebservices/web/webroot/_ui/addons/marketplaceomsservices/desktop/common/images/AddImagesHere.txt
ext/marketplacewebservices/web/webroot/_ui/addons/marketplaceomsservices/desktop/common/js/marketplaceomsservices.js
ext/marketplacewebservices/web/webroot/_ui/addons/marketplaceomsservices/mobile/common/css/marketplaceomsservices.css
ext/marketplacewebservices/web/webroot/_ui/addons/marketplaceomsservices/mobile/common/images/AddImagesHere.txt
ext/marketplacewebservices/web/webroot/_ui/addons/marketplaceomsservices/mobile/common/js/marketplaceomsservices.js
ext/tataomsbackoffice/resources/backoffice/tataomsbackoffice_bof.jar
ext/luxury/luxurycheckoutaddon/resources/luxurycheckoutaddon/web/spring/luxurycheckoutaddon-web-spring.xml
ext/luxury/luxurystoreaddon/acceleratoraddon/web/webroot/WEB-INF/tags/responsive/product/luxuryProductDetailsPanel.tag
ext/luxury/luxurystoreaddon/acceleratoraddon/web/webroot/WEB-INF/views/responsive/cms/weeklyspecialbanner.jsp
ext/luxury/luxurystoreaddon/src/com/tisl/lux/device/impl/LuxuryDeviceDetectionFacade.java
ext/marketplace/marketplacestorefront/web/webroot/_ui/responsive/theme-luxury/Gruntfile.js
ext/marketplace/marketplacestorefront/web/webroot/_ui/responsive/theme-luxury/combined/luxury-main.js
ext/marketplace/marketplacestorefront/web/webroot/_ui/responsive/theme-luxury/js/main.js
ext/marketplaceWalletServices/gensrc/com/tisl/mpl/wallet/jalo/GeneratedMarketplaceWalletServicesManager.java
/.project
/.gitignore