/config/local.properties
/config/custom_local_debug.properties
/config/customize
/config/solr
/config/licence/installedSaplicenses.properties

/ext/**/web/commonwebsrc
/ext/**/src/**/jalo/*
/ext/**/hmc/bin
/ext/**/hmc.xsd
/ext/**/eclipsebin
/ext/**/beans.xsd
/ext/**/gensrc
/ext/**/classes
/ext/**/items.xsd
/ext/**/extensioninfo.xsd
/ext/**/platformhome.properties
/ext/**/*-testclasses.xml
/ext/**/*-webtestclasses.xml
/ext/**/build.xml

/ext/luxury/**/web/addonsrc/*
/ext/luxury/**/web/webroot/**/addons/*
/ext/luxury/**/web/testclasses/*

/ext/marketplace/**/web/addonsrc/*
/ext/marketplace/**/web/webroot/**/addons/*
/ext/marketplace/**/web/testclasses/*