.base {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: -30px;
}
.descriptionList {
  width: 100%;
  height: auto;
}
.buttonHolder {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #fff;
  text-align: left;
  border-top: 1px solid #ececec;
  margin-top: -30px;
}

.noBackground {
  composes: buttonHolder;
  background: transparent;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
}
