.base {
  width: 100%;
  height: auto;
}
.descriptionList {
  width: 100%;
  height: auto;
}
.buttonHolder {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #fff;
  text-align: left;
}
.noBackground {
  composes: buttonHolder;
  background: transparent;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
}
