.base{
  width:100%;
  height:auto;
  display:inline-block;
  padding:15px;
  background:#212121;
}
.totalPriceButtonHolder{
  width:100%;
  height:auto;
  display:inline-block;
  vertical-align:top;
  margin-bottom:30px;
  position: relative;
  padding-right:125px;
}
.totalPriceHeading{
  width:100%;
  height:auto;
  margin-bottom:5px;
  font-size:14px;
  color:#8f8f8f;
  font-family:regular;
  display:inline-block;
}
.amountHolder{
  width:100%;
  height:auto;
  display:inline-block;
}
.amount{
  color:#fff;
  font-size:20px;
  font-family:regular;
  display:inline-block;
  vertical-align:middle;
}
.infoIconholder{
  width:22px;
  height:22px;
  display:inline-block;
  vertical-align:middle;
  margin-left: 10px;
}
.checkoutButtonHolder{
  width:auto;
  height:auto;
  position:absolute;
  right:0;
  top:5px;
  display:inline-block;
}
.detailsHolder{
  width:100%;
  height:auto;
  margin-bottom: 20px;
  display:inline-block;
}
.informationHolder{
  width:100%;
  height:auto;
  display:inline-block;
  margin-bottom: 12px;
}
.informationQuestionHolder{
  width:50%;
  height:auto;
  color:#fff;
  font-size:14px;
  display:inline-block;
  text-align:left;
  font-family:semibold;
}
.informationAnswerHolder{
  width:50%;
  height:auto;
  color:#fff;
  font-size:14px;
  display:inline-block;
 font-family:regular;
 text-align:right;
}
.apply{
  composes: informationAnswerHolder;
  color:#ff1744
}

