.base {
  width: 50px;
  margin: auto;
  padding-bottom: 100%;
  position: relative;
}
.textHolder {
  text-align: center;
  font-family: semibold;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 20px;
  display: inline-block;
  background: url(../components/img/tick.svg)no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: 200ms;
}
.color {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22),
    inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 50%;
}
.content {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  padding-bottom: 2px;
}
.textHolderActive {
  composes: textHolder;
  opacity: 1;
}
