.base {
  width: 100%;
  height: auto;
}
.imageHolder {
  width: 100%;
  height: auto;
  background: #fff;
}

.imageHolder img {
  width: 100%;
  height: auto;
}
.descriptionHolder {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background: #fff;
  padding: 15px;
}
.noOffset {
  composes: descriptionHolder;
  margin: 0;
}
.descriptionHolder h2 {
  margin: 0 !important;
  font-size: 16px;
  font-family: semibold;
  font-weight: normal;
}
.descriptionHolder h4 {
  margin: 0 !important;
  font-family: semibold;
  font: 16px;
  font-weight: normal;
}
.descriptionHolder h3 {
  margin: 0;
  font-size: 16px;
  font-family: semibold;
  font-weight: normal;
}
.subHeader {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  font-family: semibold;
  margin-bottom: 15px;
}
.descriptionText {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
