.base {
  width: 100%;
  height: auto;
}
.imageHolder {
  width: 100%;
  height: auto;
  padding-bottom: 50%;
  position: relative;
}
.imageCard {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.descriptionHolder {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background: #fff;
  padding: 15px;
}
.noOffset {
  composes: descriptionHolder;
  margin: 0;
}
.descriptionHolder h2 {
  margin: 0 !important;
  font: 16px;
  font-family: bolder;
}
.descriptionHolder h4 {
  margin: 0 !important;
  font-family: bolder;
  font: 16px;
}
.subHeader {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  font-family: bolder;
  margin-bottom: 15px;
}
.descriptionText {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
