.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #fff;
}
.content {
  width: 100%;
  height: auto;
}
.header {
  width: 100%;
  height: 40px;
  background: #212121;
  color: #fff;
  font-family: semibold;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
}
.info {
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
}
.termsAndConditions {
  background: #ececec;
  padding: 10px;
  font-family: light;
  font-size: 14px;
}
.termsAndConditions li {
  font-size: 14px;
  line-height: 22px;
  font-family: regular;
  margin-bottom: 5px;
}
.bankNameHeader {
  width: 100%;
}
.bankNameHeader {
  width: 100%;
  height: auto;
  padding: 10px;
  color: #000;
  font-family: semibold;
  font-size: 14px;
  background: #ececec;
}
