*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
.base{
  width: 100%;
  height: 25px;
  padding: 0px 50px 0px 50px;
  display: inline-block;
  position: relative;
  margin-bottom:10px;
}
.defaultBar{
  width: 100%;
  height: 3px;
  background: #ebeced;
  position: relative;
  display: inline-block;
}
.filledBar{
  height:3px;
  position: absolute;
  left:0;
  top:0;
  background: linear-gradient(269deg, #fd2c7a, #ff7255);
}
.pointNumber{
  width: 50px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 0;
  color: #000;
  font-size: 13px;
  font-family: regular;
  bottom: 0;
  margin: auto;
  line-height: 22px;
  text-align:left;
  padding-left:15px;
}
.indexNumberWithIcon{
  width:50px;
  height:20px;
  padding-right:30px;
  color:#000;
  font-size:13px;
  font-family:semibold;
  position: absolute;
  left:0px;
  top:0;
  bottom:0px;
  margin:auto;
  line-height:22px;
  text-align:right
}
.ratingIcon{
  width:20px;
  height:20px;
  background:url(./img/star-fill.svg)no-repeat;
  background-position: center;
  background-size:auto 13px;
  position:absolute;
  right:6px;
  top:0;
}
