.base {
  width: 100%;
  height: auto;
  background-color: #ececec;
  padding-top: 15px;
  display: inline-block;
}
.detailsContainer {
  width: 60%;
  height: auto;
  padding-bottom: 1px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.brandName {
  font-size: 16px;
  width: 100%;
  height: auto;
  font-family: semibold;
}

.productNameLink {
  color: inherit;
  text-decoration: none;
}
.productName {
  padding-top: 10px;
  font-family: regular;
  font-size: 16px;
  line-height: 22px;
}
.productDescription {
  padding-top: 3px;
  font-family: regular;
  font-size: 14px;
}
.priceContainer {
  width: 40%;
  height: auto;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.price {
  font-size: 16px;
  width: 100%;
  height: auto;
  font-family: semibold;
}
.deletePriceAndDiscount {
  padding-top: 10px;
  font-family: regular;
  width: 100%;
  display: inline-block;
  font-size: 14px;
}
.discount {
  width: auto;
  display: inline-block;
  color: #ff1744;
  padding-left: 5px;
}
.linkHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.discountPrice {
  text-decoration: line-through;
  width: auto;
  display: inline-block;
  opacity: 0.5;
}
.button {
  padding-top: 3px;
  font-size: 14px;
  margin-top: 20px;
  width: 100px;
  display: inline-block;
}
.textHolder {
  composes: linkHolder;
  margin-top: 20px;
}
.informationText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: regular;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.buttonSpan {
  color: #ff1744;
  padding-left: 5px;
}
.emiAvailableText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  display: inline-block;
}
