.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #f8f8f8;
}
.base a {
  color: #ff1744;
}
.content {
  width: 100%;
  height: auto;
  padding: 20px;
  position: relative;
}

.border {
  width: 100%;
  height: 1px;
  background: #979797;
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  width: 100%;
  height: 40px;
  background: #212121;
  color: #fff;
  font-family: semibold;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
}
.section {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.headingText {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  color: #212121;
}
.subHeader {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  font-family: bolder;
}
.description {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #212121;
  line-height: 24px;
  margin-top: 5px;
}
.description a {
  color: #ff1744;
}
.timeSection {
  width: 50%;
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  font-size: 14px;
  line-height: 22px;
}
