.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-image: linear-gradient(131deg, #fd2c7a, #ff7255);
}
.headingText {
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 20px;
  font-family: semibold;
  color: #ffff;
  text-align: left;
}
.headingDescription {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  padding-bottom: 10px;
  color: #ffff;
}
.text {
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: semibold;
  color: #ffff;
}
.description {
  width: 70%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 15px;
  color: white;
}
.button {
  width: 75px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.timer {
  width: 60px;
  line-height: 20px;
}

.iconHolder {
  width: auto;
  height: auto;
  float: right;
  position: relative;
  padding-left: 25px;
}
.timerHolder {
  position: absolute;
  left: 0;
  top: 0;
}
