.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-image: linear-gradient(131deg, #fd2c7a, #ff7255);
  margin-top: 20px;
}
.themeElectronics {
  composes: base;
  background-image: linear-gradient(110deg, #ff878b, #c85be5);
}
.headingText {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: light;
  color: #ffff;
  text-align: left;
  position: relative;
}
.headingText:nth-child(2) {
  padding-top: 20px;
}
.headingText:nth-child(2):before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  top: 10px;
  left: 0;
  position: absolute;
}
.headingDescription {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  padding-bottom: 10px;
  color: #ffff;
}
.text {
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: semibold;
  color: #ffff;
}
.description {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
  color: white;
}
.button {
  width: 75px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.timer {
  width: 60px;
  line-height: 20px;
}

.iconHolder {
  width: auto;
  height: auto;
  float: right;
  position: relative;
  padding-left: 25px;
}
.timerHolder {
  position: absolute;
  left: 0;
  top: 0;
}
.descriptionText {
  width: 100%;
  height: auto;
  line-height: normal;
  color: #fff;
  font-size: 12px;
  font-family: regular;
  padding: 5px 0px;
}
