.base {
  width: 100%;
  height: auto;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}
.overlayText {
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 16px;
  color: #fff;
  padding: 0px 30px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-family: regular;
  line-height: normal;
}
