.base {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 80px);
  background: #ececec;
  padding-bottom: 60px;
}
.pageHeader {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
