.base {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px 40px 15px 10px;
  position: relative;
}
.linkArrow {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0px;
  right: 25px;
  bottom: 0;
  margin: auto;
  transform: rotate(-90deg);
}
