.base {
  width: 100%;
  height: auto;
  padding: 0 130px 0 15px;
  position: relative;
  margin: 20px 0;
}
.label {
  width: 100%;
  height: auto;
  line-height: 25px;
}
.labelMessage {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #000000;
}
.buttonHolder {
  width: 120px;
  height: auto;
  top: 0;
  right: 20px;
  text-align: right;
  position: absolute;
}
.button {
  width: auto;
  display: inline-block;
}
