.base {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #212121;
  font-family: regular;
  margin-top: 20px;
  line-height: 22px;
  padding: 0 15px;
}

.link {
  font-size: 14px;
  color: #ff1744;
  font-family: light;
  display: inline-block;
  margin-left: 10px;
}
.content {
  width: 100%;
  height: auto;
  font-family: light;
}
