.piqPageHolder {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10000;
}
.piqHeaderHolder {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}
