.base {
  width: 100%;
  padding-top: 50px;
}

.reviewText {
  width: 35%;
  text-align: right;
  text-decoration: underline;
  color: #181818;
  font-family: regular;
  font-size: 16px;
  padding: 10px 0px;
  background: #fff;
  vertical-align: top;
  margin-left: 10%;
  display: inline-block;
}

.productBackground {
  width: 100%;
}
.reviewHolder {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 0px;
}

.dropDownHolder {
  width: 100%;
  display: inline-block;
  background: #fff;
  padding: 10px;
}
.dropDownBox {
  width: 50%;
  height: auto;
  display: inline-block;
  border: grey;
}
.dropdown {
  width: 100%;
  flex-direction: row;
  padding: 10px 0px 0px 0px;
}
.reviews {
  width: 100%;
  display: inline-block;
}
