.base {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
}
.productImageHolder {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.productDescriptionHolder {
  width: 70%;
  height: auto;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.productName {
  width: 100%;
  height: auto;
  color: #181818;
  font-family: semibold;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}
.producMaterial {
  width: 100%;
  height: auto;
  color: #181818;
  font-family: regular;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}
.productPrice {
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.productPrice .onPrice {
  width: auto;
  height: auto;
  color: #181818;
  font-size: 16px;
  font-family: semibold;
  padding: 0px 10px 0px 0px;
}
.productPrice .deletePrice {
  width: auto;
  height: auto;
  color: #8d8d8d;
  font-size: 16px;
  font-family: regular;
}
.displayRating {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 5px;
}
.noOfReviews {
  width: auto;
  height: auto;
  display: inline-block;
  padding-left: 10px;
  color: #181818;
  font-size: 16px;
  font-family: regular;
}
.displayRatingText {
  width: 100%;
  height: auto;
  color: #8d8d8d;
  font-size: 14px;
  font-family: regular;
}
.displayRatingText span {
  padding-left: 6px;
}
.flag {
  width: 65px;
  height: 30px;
  color: #fff;
  font-size: 10px;
  background: url(/static/media/flag.887290d5.svg) no-repeat;
  font-family: bolder;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: -2px;
  z-index: 5;
  padding-left: 5px;
}
