.base {
  width: 100%;
  padding-bottom: 130%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  transition: 300ms;
}
.content {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #999;
  border: 1px solid #fff;
}
.navHolder {
  height: 8px;
  width: auto;
  white-space: nowrap;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.navButton {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ececec;
  transition: 200ms;
  margin-right: 10px;
  display: inline-block;
}
.navActive {
  composes: navButton;
  background: #000;
}
