.base {
  width: 100%;
  padding-top: 50px;
}

.reviewText {
  width: 100%;
  text-align: right;
  text-decoration: underline;
  color: #181818;
  font-family: regular;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 10px;
  background: #fff;
}

.productBackground {
  width: 100%;
}
.reviewHolder {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 0px;
}

.dropDownHolder {
  width: 100%;
  display: flex;
  background: #fff;
  flex-direction: row;
  padding: 10px;
}
.dropDownBox {
  width: 70%;
  height: auto;
  margin-left: 10px;
  display: inline-block;
  border: grey;
  justify-content: center;
  align-items: center;
}
.dropDownBox:first-child {
  border: 1px solid #d2d2d2;
}
