.base {
  width: 100%;
  height: auto;
  display: inline-block;
}

.productDetails {
  width: 100%;
  height: auto;
}
.content {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.description {
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-family: light;
}
.header {
  composes: description;
  font-family: semibold;
}
.holder {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 15px;
}
.holder:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ececec;
  position: absolute;
  left: 0;
  bottom: 0;
}
