.base {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.ratingsHolder {
  width: 40%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.textHolder {
  width: 60%;
  height: auto;
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  color: #212121;
  font-size: 12px;
  font-family: regular;
}
.textHolder span {
  font-family: semibold;
  padding-right: 5px;
}
.text {
  font-size: 14px;
  font-family: regular;
  width: 64%;
  height: auto;
  display: inline-block;
}
