.base{
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
  padding-right:60px
}
.inputHolder{
  width:100%;
  height:auto;
  display:inline-block;
  vertical-align:middle;
}
.buttonHolder{
  width:50px;
  height:auto;
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
}
.buttonCover{
  width: auto;
  height: auto;
  margin: auto;
  display: inline-block;
  vertical-align: sub;
}