.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #fff;
}
.imageHolder {
  width: 100%;
  height: auto;
  padding-bottom: 56.5%;
  position: relative;
  margin-bottom: 10px;
}
.header {
  width: 100%;
  height: 40px;
  background: #212121;
  color: #fff;
  font-family: semibold;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.noSizeGuideHolder {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
}
.noSizeGuide {
  width: 100%;
  height: auto;
  line-height: 30px;
  font-size: 14px;
  font-family: semibold;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
