.base {
  width: 100%;
  height: auto;
  padding: 35px 0px;
  background-color: #ececec;
}
.header {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  position: relative;
  margin-bottom: 20px;
  padding: 0 15px;
}
.button {
  width: auto;
  position: absolute;
  top: 0;
  right: 20px;
}
