.base {
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.display {
  width: 20%;
  height: auto;
  display: inline-block;
  margin: auto;
  text-align: center;
  vertical-align: top;
  padding: 10px 0px;
}
.grey {
  composes: display;
  background-color: #f8f8f8;
}
.white {
  composes: display;
  background-color: #ffffff;
}
.header {
  width: 100%;
  height: 50px;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-family: semibold;
  font-size: 14px;
}
.dimensionValue {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: regular;
  font-size: 14px;
}

.dimensionValueList {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: regular;
  font-size: 14px;
  padding-top: 20px;
}
