.base {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.textBox {
  height: auto;
  color: #212121;
  font-size: 14px;
  line-height: 50px;
  font-family: semibold;
  text-align: center;
  display: inline-block;
}
.sizeBox {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  line-height: 30px;
  font-family: semibold;
  display: inline-block;
}
.sizeText {
  width: 40%;
  height: auto;
  display: inline-block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: regular;
  vertical-align: top;
}
.sizeNumber {
  width: 60%;
  height: auto;
  display: inline-block;
  font-size: 14px;
  font-family: regular;
  position: relative;
  line-height: 30px;
  vertical-align: top;
}
.sizeNumber:before {
  content: ": ";
}
