.base {
  width: 100%;
  padding: 10px;
}
.input {
  width: 100%;
  margin-bottom: 10px;
  border-color: #ffffff;
  color: #000000;
  border-width: 1px;
  border-style: solid;
}

.ratingContainer {
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 20px;
}
.ratingHeader {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-family: regular;
  margin-right: 10px;
}
.ratingBar {
  width: auto;
  height: auto;
  width: 55%;
  display: inline-block;
}

.buttonContainer {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}
.cancelButton {
  display: inline-block;
  width: 50%;
  text-align: left;
  color: #8d8d8d;
  font-size: 14px;
  font-family: regular;
}
.submitButtonHolder {
  display: inline-block;
  width: 50%;
  height: auto;
  text-align: right;
}
.submitButton {
  width: auto;
  display: inline-block;
  height: auto;
}
