/* Wallet css*/

.giftCheckoutContainer {
		border: solid 1px #dddddd;
		padding: 10px;
		padding-top: 6px;
	}
	
	.giftCheckoutContainer p {margin-bottom: 0;}
	.cliqTotalBalance {padding-left: 5%; vertical-align: middle;}
	.cliqTotalBalance p {padding: 2px;}
	.cliqTotalBalanceLabel {font-size: 12px;}
	.giftCheckoutContainer input[type="checkbox"] {display: block;}
	
	.giftCheckoutInnerCols4 input[type="checkbox"]+label:before {display: none;}
	.useGiftCardBtn input[type="checkbox"] {display: none;}
	.useGiftCardBtn, .useGiftCardBtn:hover {
	    border: solid 1px #a5173c;
	    color: #a5173c;
	    background-color: white;
	    font-size: 12px;
	    padding: 0px 20px;
	    letter-spacing: normal;
	    height: 25px !important;
	    cursor: pointer;
	}
	
	.addNewGiftCard .viewCardTerms {float: right;}
	.addNewGiftCard .viewCardTerms a {color: #a5173c; font-weight: bold;}
	.addNewGiftCard .addNewCard a {color: #a5173c; font-weight: bold;}
	.payRemainingDesc {color: #666666; font-size: 12px;}
	
	.giftInfoLeft {border-right: 1px solid #dddddd; border-bottom: none; padding: 4%; padding-left: 0;}
	.giftCheckoutInfoMiddle {padding: 0;}
	.giftWalletImg {vertical-align: middle;}
	.giftCheckoutInnerCols1, .giftCheckoutInnerCols2, .giftCheckoutInnerCols3, .giftCheckoutInnerCols4 {padding: 4%;}
	.giftInfoBottom {border-top: 1px solid #dddddd; padding: 0; margin-top: 1%; padding-top: 1%;}
	.topPlaceOrderCodBtn {height: 42px !important; font-size: 12px !important}
	.topPlaceOrderBtn {margin: 12px 0 0 !important;}
	.emiTopOrderPlaceButton {background-color: #a5173c; font-size: 12px; color: white; height: 40px; line-height: normal; padding: 10px; width: 40%; font-weight: 400;}
	#netbanking .nbButton .topPlaceOrderBtn {margin-left: 35px !important;}
	
	
	@media(max-width: 768px){
		.cliqCashPlaceOrderBtnMobile {bottom: 7.2px;left: auto;right: 8px !important;width: 50%;height: 33.5px !important;font-weight: normal;background-color: #a5173c;line-height: 1 !important;font-size: 12px !important;position: fixed;z-index: 100; color: white;}
		.emiTopOrderPlaceButton {display: none !important;}
	}
	
	@media(min-width: 768px){
		.cliqCashPlaceOrderBtnMobile {display: none !important;}
		.topPlaceOrderBtn {width: 216px !important; margin: 30px !important; background-color: #a5173c !important; color: white; font-size: 12px; height: 40px; letter-spacing: 1px; line-height: 40px; padding: 0;}
	}
	
	@media(min-width: 768px){
		.useGiftCardBtn, .useGiftCardBtn:hover {float: right; line-height: normal; padding-top: 5px;}
		.giftCheckoutInnerCols1, .giftCheckoutInnerCols2, .giftCheckoutInnerCols3 {text-align: center;}
	}
	
	@media(max-width: 768px){
	.giftInfoLeft {border-bottom: 1px solid #dddddd; border-right: none; padding: 4%; padding-left: 0;}
	.giftCheckoutInfoMiddle {width: 100%;}
	.giftCheckoutInnerCols1 {padding: 20% 0%; text-align: left;}
	.giftCheckoutInnerCols2 {padding: 20% 0%; text-align: left;}
	.giftCheckoutInnerCols3 {padding: 20% 0%; text-align: left;}
	.giftCheckoutInnerCols4 {padding: 20% 0%; text-align: right;}
	.giftCheckoutContainer button {height: 18px !important;}
	.giftCheckoutContainer {border-radius: 4px; font-size: 10px; background-color: white; padding: 0;}
	.giftInfoBottom {border-top: 1px solid #dddddd; padding: 4% 0; margin-top: 0;}
	.useGiftCardBtn {height: 25px !important; line-height: normal !important; padding: 5px 6px !important;}
    .cliqCashApplyAlert {border-radius: 4px;}
	}
	
	#paytm_logo_img {width: 100px;}
	
	.splitTotalPayableInfo, #finalCliqCashUsedDefault {display: none;}
	#finalCliqCashUsed {text-transform: none;}
	
/* wallet css end */	


/* Cliq Cash Page */

.closeCashSuccess {
	float: right;
	font-size: initial;
	cursor: pointer;
}

.cliqCashContainer {
	margin: 2%;
}

.cliqCashContainerOne {
	border: solid 1px #dddddd;
	padding: 2%;
}

.cliqCashContainerLeft {
	float: left;
	line-height: 22px;
}

.cliqCashContainerRight {
	float: right;
	width: 50%;
	text-align: right;
}

.cliqCashInnerTop {
	font-size: 26px;
	margin-bottom: 10px;
}

.cliqCashWalletImg {
	vertical-align: middle;
}

.cliqCashBtns, .cliqCashBtns:hover {
	display: inline;
	border: solid 1px #a5173c;
	color: white;
	background-color: #a5173c;
	font-size: 14px;
	padding: 5px 20px;
	font-weight: normal;
	margin-top: 2%;
	letter-spacing: normal;
	height: 25px;
	margin-left: 4%;
}
/* .cliqCashBtns:hover {color:white; background-color: #a5173c;} */
.cliqCashContainerLeft p {
	padding-left: 3%;
}

.cliqCashContainerTwo {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* Style the buttons inside the tab */
.cliqCashContainerTwo button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px !important;
	padding: 1% 2%;
	transition: 0.3s;
	font-size: 17px;
}

.cliqCashBannerSection {
    font-weight: 100;
    width: 100%;
    text-align: center;
    height: 300px;
    background: url(../images/CliqCashBanner.jpg) no-repeat center;
}
.cliqCashBannerSectionInfo {
	font-size: 24px;
	padding-top: 5%;
	color: #ffedc2;
	font-family: serif;
}

.cliqCashBannerSectionInfoC1 {font-size: 40px;}
@media (max-width: 768px) {
 .cliqCashBannerSection {border-radius: 4px;}
 .cliqCashBannerSectionInfo {font-size: 18px !important; padding-top: 24%;}
 .cliqCashBannerSectionInfoC1 {font-size: 24px;}
}

/* Change background color of buttons on hover */
.cliqCashContainerTwo button:hover {
	color: #a5173c;
}

/* Create an active/current tablink class */
.cliqCashContainerTwo button.active {
	color: #a5173c;
	border-bottom: 3px solid #a5173c;
}

/* Style the tab content */
.cliqCashContainerTwoContent {
	display: none;
	border: 1px solid #ccc;
	border-top: none;
}

.cliqStatementTable {
	width: 100%;
}

.cliqStatementTable thead td {
	font-weight: bold;
}

.cliqStatementTable thead {
	background-color: #ddd
}

.cliqStatementTable td {
	padding: 2%;
}

.cliqStatementTable tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

@media ( max-width : 650px) {
	.cliqCashContainer {
		margin: 3%;
	}
	.cliqCashContainerOne {
		border-radius: 4px;
	}
	.cliqCashInnerTop {
		font-size: 18px;
	}
	.cliqCashContainerHead > .cliqCashInnerTop {text-align: center;}
	.cliqCashContainerLeft {
		border-bottom: 1px solid #ddd;
		width: 100%;
	}
	.cliqCashBtns {
		height: 30px !important;
		margin-top: 10px !important;
		float: right !important;
	}
	.cliqCashContainerTwoContent {
		overflow-x: auto;
	}
	.cliqCashSuccessAlert {
		border-radius: 4px;
	}
	.cliqCashContainerTwo button {
		font-size: 12px !important;
	}
}

/* Cliq Cash End */

/* ADD GIFT POPUP */
#singlePageAddEGVPopup .content {max-width: 600px;left: 2px;}
.addVoucherPopupBtn, .addVoucherPopupBtn:hover {
	padding: 10px 15px !important;
	cursor: pointer;	
}

.redeemVoucherPopupAlert {display: none; font-size: small; margin-bottom: 2% !important;}


/* Add EGV TO Wallet */
.addGiftContainer {border: 1px solid #ddd;}
	/* .addGiftVoucherSection {padding: 0 !important;}
	.addGiftVoucherSub {padding: 0;} */
	.giftVoucherNo, .giftVoucherPin {
	  width: 100%;
	  font-size: 12px;
	  color: #000;
	  height: 37px !important;
	  border-radius: 4px;
	  border: none !important;
	  background-color: #ededed;
	}
	.addVoucherBtn, .addVoucherBtn:hover, .addVoucherBtn:active  {
	  max-width: 230px;
	  height: 30px;
	  border: none;
	  line-height: 12px;
	  background-color: #a9143c;
	  color: white;
	  font-size: 12px;
	  font-weight: 400;
	  padding: 0 15px;
	}
	
	.addMoreBtn, .addMoreBtn:hover, .addMoreBtn:active {
	  font-size: 10px;
	  border: 1px solid #a9143c;
	  padding: 0 5px;
	  height: 25px;
	  line-height: normal;
	  margin-top: 5px;
	  color: #a9143c;
	  position: absolute;
      right: 2%;
      cursor: pointer;
      z-index: 1;
	}
	
	.addMoreGiftVouchers {margin-top: 2%;}
	
	.addMoreGiftVouchersBtn {float: right;}
	
	.voucherHeadingTexts {padding-left: 0 !important;color: black;text-align: left;font-size: small;}
	.dividerVS {margin: 2%; border-bottom: none; border-top: 1px solid #ddd;}
	
	@media(min-width: 651px){
		.addGiftContainer{margin-left: 10% ;margin-right: 10%;}
		.voucherHeadingTexts {padding-top: 4%;}
		.dividerVS { margin-bottom: 0;}
		.redeemToWalletBtn {float: right;}
		.redeemVoucherAlert {padding: 10px !important; margin: 0 0 10px !important;}
	}
	
	@media(max-width: 650px){
		.addGiftVoucherSection {padding: 0 !important;}
		.addGiftContainer {margin: 3%; border-radius: 8px; padding-top: 8px;}
		.addVoucherBtn {font-size: 12px !important;}
		.addGiftBlock {padding-top: 2%;}
		.addMoreGiftVouchers {margin-top: 5%;}
		.addMoreBtn, .addMoreBtn:hover, .addMoreBtn:active {font-size: 8px; height: 20px; margin-top: -5px; right: 5%;}
		.redeemVoucherAlert {border-radius: 4px !important;}
		.giftCardPinNo {margin-top: 15px !important;}
	}
	
	
	.Gift_Main_Heading {
	  font-family: Montserrat;
	  font-size: 12px;
	  line-height: 1.33;
	  letter-spacing: 0.6px;
	  text-align: left;
	  color: #000000;
	  color: var(--black);
	}
	
	.Gift_Card {
	  font-family: Montserrat;
	  font-size: 20px;
	  line-height: 1.4;
	  letter-spacing: 0.6px;
	  text-align: left;
	  color: #000000;
	  color: var(--black);
	}
	
	.Oval {
	  background-color: #a9133d;
	  color: white;
	  border-radius: 50%;
	  padding: 0px 5px;
	}

	/* .giftContSub {z-index: 9;} */
	.giftLabel img {width: 100%;}
	.giftCard_input {
	  width: 100%;
	  height: 37px !important;
	  border-radius: 4px;
	  border: none !important;
	  background-color: #ededed;
	}
	.giftCard_textarea {
	  width: 100%;
	  max-width: 510px;
	  padding: 10px;
	  min-height: 100px;
	  max-height: 153px;
	  border-radius: 4px;
	  border: none !important;
	  background-color: #ededed;
	  font-size: 12px;
	}
	.giftLabel {cursor: pointer;}
	.moreGiftTemplates {color: #a9133d; cursor: pointer;}
	.giftAmountBtns {
	  width: 72px;
	  height: 32px;
	  margin: 5px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  background-color: var(--white-two);
	  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
	}
	.giftAmountBtns:focus {border-color: #a9133d;}
	.qtyField {width: 35px; height: 35px; border-radius: 4px; text-align: center; padding: 0 !important;}
	.textRight {text-align: right;}
	.giftBuyBtn {
	  width: 100%;
	  max-width: 200px;
	  min-width: 140px;
	  height: 42px;
	  line-height: 12px;
	  background-color: #a9143c;
	  color: white;
	  font-size: 12px;
	  font-weight: 400;
	}
	.btn.active {border: 1px solid #a9133d;}
	
	.giftImgRight {width: 500px;}
	
	.giftFinalTemp {
		border-radius: 4px;
		/* border: 1px solid #ccc; */
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	}
	
	.giftFinalTempContainer {
		padding: 2%;
	}
	
	.giftFinalTempTop img {
		width:100%;
		border-top-left-radius: 4px; border-top-right-radius: 4px; 
		/* background: url(../_ui/responsive/common/images/egv_template.png) no-repeat center; */
	}
	
	.giftFinalTempMiddle {
		padding: 15px;
		color: darkgrey;
		min-height: 100px;
		text-align: justify;
		line-height: normal;
		border-top: 1px solid #ccc;
	}
	
	.giftFinalTempBottom {
		color: #444;
		padding: 15px;
		font-size: 30px;
		border-top: 1px solid #ccc;
	}
	
	.giftTermsDesc {
		font-size: 12px;
		color: darkgrey;
		/* text-align: right; */
	}
		
	
	@media(max-width: 650px){
		.giftContSub {padding-bottom: 10%;}
		.giftContSub1 {border-bottom: 1px solid #ddd;}
		.giftContSub2 {padding-top: 5%;}
		.giftTermsDesc {text-align: left;}
		.giftCategoryTab button {padding: 5px !important; font-size: 8px !important; overflow: hidden;}
		.giftBuyBtn {max-width: 100%; bottom: 0; left: 0; right: 0; position: fixed; z-index: 12;}
	}
	
	@media(min-width: 1024px){
		.giftContSub2 {padding-left: 8% !important;}
		.giftFinalTempContainer {margin-left: 3%; padding-left: 0% !important; width: 75%; float: left;}
		.giftTermsDesc {margin-left: 1%;}
	}
	
	@media(min-width: 651px){
		.headingTexts {text-align: right; padding-top: 2%;}
		.giftContSub1 {float: right !important;}
		.giftContSub1, .giftContSub3 {padding-left: 10%;}
		/* .stepTexts {text-align: center;} */
	}
	
	/* POPUP CODE */
	/* The Modal (background) */
	.giftDesignModel {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 99999; /* Sit on top */
	    padding-top: 90px; /* Location of the box */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content */
	.giftDesignModelContent {
	    background-color: #fefefe;
	    margin: auto;
	    padding: 20px;
	    border: 1px solid #888;
	    width: 80%;
	}
	
	/* The Close Button */
	.giftDesignModelClose {
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	    top: 80px;
	    right: 9%;
	    background-color: black;
	    color: white;
	    padding: 1px 7px;
	    border-radius: 50%;
	    position: absolute;
	}
	
	.giftDesignModelClose:hover,
	.giftDesignModelClose:focus {
	    cursor: pointer;
	}
	
	.giftModalContainer {
	
	}
	
	.giftCategoryTab {
		float: left;
	    border: 1px solid #ccc;
	    border-right: none;
	    background-color: #f1f1f1;
	    width: 15%;
	    height: 500px;
	}
	
	.giftCategoryTab button {
	    display: block;
	    background-color: inherit;
	    color: black;
	    font-size: 14px !important;
	    padding: 15px;
	    width: 100%;
	    border: none;
	    outline: none;
	    text-align: left;
	    cursor: pointer;
	    transition: 0.3s;
	    font-size: 17px;
	}
	
	.giftCategoryTab button:hover {
	    background-color: #ddd;
	}
	
	.giftCategoryTab button.active {
	    background-color: #fff;
	}
	
	.giftCategoryTabcontent {
	    float: left;
	    padding: 12px;
	    border: 1px solid #ccc;
	    width: 85%;
	    border-left: none;
	    height: 500px;
	    overflow-y: auto;
	}
	
	.extGiftTempItem {
	    cursor: pointer;
	}
	
	.extGiftTempItem:hover {
		border: 1px solid #a9133d;
	}
	
	.extGiftTempItem p {
		padding: 0px 8px;
	}
	
	.extGiftTemplateImg {
		height: 230px;
	}
	
	.extGiftDesc {
		height: 24px;
		overflow: hidden;
	}
	
	.extGiftTemplateImg img {
		width: 100%;
	}
	
	#customAmountError, #giftCardFromNameError, #giftCardFromFirstNameError, #giftCardFromLastNameError, #giftCardEmailError, #giftCardPhoneNoError {display: none;}

/* Add EGV To Wallet End */	


/*Account Page CSS*/
.orderStatementContainer {
	overflow: auto;
	max-height: 400px;
}

.orderStatementOrderId {
	font-size: 24px;
}

.orderStatementTable {
	width: 100%;
}

.orderStatementTable td {
	border: 1px solid grey;
	padding: 1%;
}

.orderStatementTable .orderSellerId {
	background-color: #ddd;
}

.orderStatementTable .orderSellerId td {
	text-align: center;
}

.orderStatementTable thead {
	background-color: darkgrey;
	font-weight: bold;
	text-align: center;
}

.orderStatementTable thead .orderTransactionId {
	vertical-align: middle;
}

.accountPopupClose {
	top: 15% !important;
	right: 10% !important;
	font-size: 28px !important;
	padding: 0px 0px 7px 7px;
	background: black;
	color: white !important;
}

@media ( max-width : 768px) {
	.orderStatementOrderId {
		font-size: 18px;
	}
}



.orderRedeemedStatusInfo {
	text-align: right;
	color: green;
}

.orderRedeemedStatusInfo span {
	font-weight: bold;
	padding: 2px;
	border: 2px dashed;
	position: relative !important;
}

.showStatementModel {
 display: none;
 position: fixed;
 z-index: 1;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0, 0, 0);
 background-color: rgba(0, 0, 0, 0.4);
}

.showStatementModel-content {
 background-color: #fefefe;
 margin: auto;
 padding: 20px;
 border: 1px solid #888;
 width: 80%;
}

.resend_order_email {
    height: 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: .6px;
    text-align: center;
    color: #a5173c;
    cursor: pointer;
    text-transform: uppercase;
}

.resend_email_limit {margin-bottom: 0 !important; display: none;}

.orders-product-block .header ul .viewDetails {width: 50% !important;} 
.orders-product-block .header ul li {width: 16% !important;}
.orders-product-block .header ul .resendEmail {text-align: right;}

/*Cliq Cash in Total*/
.cliqCashSpan {color: #666; float: left !important; text-transform: none;}
.cliqCashSpanAmt {font-size: 14px;}

@media(max-width: 480px) {
	.orders-product-block .header ul .viewDetails {width: 100% !important;}
	.orders-product-block li.header > ul > li {width: 33% !important; float: left;}
	.orders-product-block .header ul .resendEmail {text-align: center;}
	.orders-product-block .header ul .viewDetailsAnchor {text-align: left; position: static !important;}
	.orders-product-block .header ul .trackOrderAnchor {position: static !important;}
}

@media(max-width: 768px) {
	.orders-product-block .header ul .trackOrderAnchor, .orders-product-block .header ul .viewDetailsAnchor {position: static !important;}
}
.juspayConnErrorSection {top: 0 !important;}
/*Account Page CSS*/	

/*Wallet OTP Popup CSS - Start*/
.egv-otp-container .input-group {border: 1px solid #a9143c; border-radius: 4px;}
.egv-otp-container .giftCard_input {background-color: #fff; height: 35px !important;}
.createWalletModel {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.giftAmountBtns {
	z-index: 1 !important;
}

/* Modal Content */
.createWalletModel-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 35%;
}

@media(max-width: 480px) {
	.createWalletModel-content {
		width: 90%;
	}
}

#closePop {
	float: right;
	padding: 0;
	
}
#createWalletData {
	display: inline-block;
	width: 100%;
}

/*POPUP*/
.otp-button {
    border: 1px solid #a9143c;
    display: inline;
    background-color: #a9143c;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    height: 36px;
    line-height: normal;
    padding: 10px 20px;}
    
.otp-error-text {
	text-align: left;
}

.otp-edit-button {
	background-color: #a9143c;
	color: white;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
    
#otp-submit-section {display: none;}

/*Wallet OTP Popup CSS - End*/