body.page-returnSubmit .account .wrapper {
	padding: 0 31px;
    margin-bottom: 0;
}
.return-order-history {
	display: inline-block;
    margin: 20px 0 0;
    font-weight: 700;
    font-size: 14px;
}
.return-order-history:before {
	content: "";
    display: inline-block;
    margin-right: 10px;
    height: 0;
    width: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000;
    border-top: 5px solid transparent;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    transition: border .3s;
}
.returnItemForm .return-container {
	width: 100%;
    margin: 0 auto;
}
body.page-returnSubmit p.return-title {
	font-size: 28px;
    line-height: 1.29;
    color: #000;
    margin-bottom: 17px;
}
body.page-returnSubmit .accordtionTataCliq {
	border: 0;
    border-top: solid 1px #eee;
    margin-top: 0;
    /* height: auto; */
    padding: 0 !important;
}
body.page-returnSubmit .accordtionTataCliq .accHeading {
	background: #fff;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .6px;
    color: #000;
    cursor: pointer;
    padding: 30.5px 0;
}
.accordtionTataCliq .accContents {
	padding: 0 0 15px 0 !important;
    margin-top: 10px;
}
body.page-returnSubmit .col-md-5.col-sm-5.col-xs-5.return-img {
	width: 93px;
}
body.page-returnSubmit .col-md-7.productDetails.col-sm-7.col-xs-7.return-prod-desc {
	width: calc(100% - 93px);
}
.accordtionTataCliq .accContents .productDetails {
	padding-top: 5px;
}
body.page-returnSubmit .col-md-7.productDetails.col-sm-7.col-xs-7 * {
	font-size: 12px;
    line-height: 1.5;
    letter-spacing: .6px;
    color: #666;
}
body.page-returnSubmit .col-md-7.productDetails.col-sm-7.col-xs-7>span {
	margin-bottom: 3px !important;
}
body.page-returnSubmit .col-md-7.productDetails.col-sm-7.col-xs-7 div.attributes {
	margin-top: 15px;
}
body.page-returnSubmit .col-md-7.productDetails.col-sm-7.col-xs-7 div.attributes>p>span {
	display: inline !important;
}
.col-md-7.col-sm-7.col-xs-12.reverseSealJwlry b, .col-md-7.col-sm-7.col-xs-12.selectReasonForReturn b {
	font-size: 16px;
    line-height: 1;
    letter-spacing: .6px;
    font-weight: normal;
}
.accordtionTataCliq .accContents.selectReason.col-md-12 .col-md-7.col-sm-7.col-xs-12.selectReasonForReturn #returnReason {
	border: solid 1px #bbb;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: .6px;
    padding-right: 22px;
    background: url(../images/plp-select-arrow.png) no-repeat 97% 13px #fff;
    background-size: 10px;
    width: 47%;
}
.accordtionTataCliq .accContents .button_holder {
    margin-top: 45px;
    width: 100%;
    text-align: center;
}
body.page-returnSubmit .accordtionTataCliq .accContents .col-md-7.col-sm-7.col-xs-12 ~ .button_holder {
	position: static;
    margin-bottom: 79px;
}
.accordtionTataCliq .accContents .button_holder .submit-request {
	margin: 0 auto;
    text-align: center;
    margin-top: 0;
    display: inline-block;
}
body.page-returnSubmit .accordtionTataCliq .accContents .col-md-7.col-sm-7.col-xs-12 ~ .button_holder button {
	width: 181px;
    height: 42px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: .6px;
    font-weight: normal;
}
.accordtionTataCliq .reasonType, .accordtionTataCliq .returnMethod, .accordtionTataCliq .accContents .quickDrop .mapArea, .accordtionTataCliq .accContents .scheduledPickup .selectDateTime {
	display: none;
}
.accordtionTataCliq .reasonType.col-md-12, .accordtionTataCliq .accContents .selectReason.selectRefund.col-md-12.blackColor {
	margin-top: 0;
}
.accordtionTataCliq .accContents .selectReason {
	overflow: hidden;
}
.accordtionTataCliq .accContents .selectReason, .accordtionTataCliq .accContents .selectReturnMethod, .accordtionTataCliq .accContents .selectquickDrop {
	margin-top: 15px;
}
.selectRadio.col-md-2.col-sm-2.col-xs-2 {
	clear: both;
}
.accordtionTataCliq .accContents .radioButton {
	display: block !important;
    height: 15px !important;
    width: 15px !important;
    color: #fff;
    padding: 0 !important;
    margin-right: 5px;
    border: 1px solid #000 !important;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
    z-index: 9999999999;
    position: static;
    overflow: auto;
}
.accordtionTataCliq .accContents .radioButton:checked {
	background-color: #000;
    border: 2px solid #ccc !important;
}
.accordtionTataCliq .accContents .selectReason.selectRefund b, .accordtionTataCliq .accContents .slectionRefund b, .accordtionTataCliq .accContents.returnMethod .selectReturnMethod b {
	font-size: 14px;
    line-height: 1.43;
    letter-spacing: .6px;
    display: inline-block;	
}
.accordtionTataCliq .accContents .selectReason span, .accordtionTataCliq .accContents .selectReturnMethod span, .accordtionTataCliq .accContents .selectquickDrop span {
	line-height: 20px;
}
.accordtionTataCliq .slectionRefund, .accordtionTataCliq .scheduledPickup, .accordtionTataCliq .selfCourier, .accordtionTataCliq .slectionReplace, .accordtionTataCliq .selfCourier, .accordtionTataCliq .quickDrop {
	display: none;
}
.accordtionTataCliq .accContents .slectionRefund, .accordtionTataCliq .accContents .slectionRefund .col-md-12 .col-md-4, .accordtionTataCliq .accContents .slectionRefund .col-md-12 .col-md-3, .accordtionTataCliq .accContents .slectionRefund .col-md-12 .col-md-2 {
	padding: 0 15px 0 10px !important;
}
.accordtionTataCliq .slectionRefund .paymentCC {
	background: #ebeff0;
    margin: 30px;
    padding: 25px;
}
.accordtionTataCliq .accContents .slectionRefund .bankDetailsText {
	line-height: 24px;
    font-size: 14px;
}
.accordtionTataCliq .slectionRefund .paymentText {
	line-height: 20px;
    padding-left: 40px;
}
body.page-returnSubmit .accordtionTataCliq .accContents.reasonType .slectionRefund ~ .button_holder, body.page-returnSubmit .accordtionTataCliq .accContents.returnMethod .button_holder {
	margin-top: 30px;
    margin-bottom: 21px;
    position: static;
}
.accordtionTataCliq .accContents .button_holder .newRequest {
	text-align: center;
    margin-top: 0;
    display: inline-block;
    margin-right: 15px;
}
body.page-returnSubmit .accordtionTataCliq .accContents.reasonType .slectionRefund ~ .button_holder button, body.page-returnSubmit .accordtionTataCliq .accContents.returnMethod .button_holder button {
	width: 181px;
    height: 42px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: .6px;
    font-weight: normal;	
}
body.page-returnSubmit .accordtionTataCliq .accContents.reasonType .slectionRefund ~ .button_holder button.light-blue.submit-request, body.page-returnSubmit .accordtionTataCliq .accContents.returnMethod .button_holder button#saveBlockData.btn.btn-primary {
	margin-right: 26px;
}
body.page-returnSubmit .accordtionTataCliq.removeMargin {
	border-bottom: solid 1px #eee;
}
.accordtionTataCliq .returnMethod .col-sm-6, .accordtionTataCliq .returnMethod .col-sm-12, .accordtionTataCliq .returnMethod .col-sm-2 {
	z-index: 99;
}
.accordtionTataCliq .accContents .quickDropArea, .accordtionTataCliq .accContents .scheduledPickupArea {
	height: 211px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 10px;
}
.accordtionTataCliq .greyColor {
	color: #ccc;
}
.accordtionTataCliq .accContents .quickDrop span, .accordtionTataCliq .accContents .scheduledPickup span {
	line-height: 25px;
}
.accordtionTataCliq .accContents.returnMethod .scheduledPickup .scheduledPickupArea .selectScheduledPickup .editAddress {
	width: 100%;
}
.accordtionTataCliq .accContents a {
	color: #a9143c;
    text-decoration: underline;
}
.accordtionTataCliq .accContents .scheduledPickup .sideHead {
	margin-top: 35px;
}
.accordtionTataCliq .accContents .scheduledPickup .selectDateTime .selectRadio {
	text-align: center;
}
.accordtionTataCliq .accContents .scheduledPickup .selectDateTime .selectRadio input {
	margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.accordtionTataCliq .accContents .selfCourierArea {
	line-height: 18px;
}
.accordtionTataCliq .accContents .fa-angle-right:before {
	font-family: FontAwesome;
    font-weight: lighter;
    color: #a9143c;
    content: "\f105";
    font-size: 70px;
    line-height: 18px;
    margin-right: 5px;
    top: 2px;
    position: relative;
}
@media (min-width: 791px) {
	body.page-returnSubmit .body-Content {
		padding-bottom: 50px !important;
	}
}
@media (max-width: 650px) {
	.accordtionTataCliq .scheduledPickup .col-md-6 {
		margin-left: -30px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	body.page-returnSubmit .accordtionTataCliq .accContents.reasonType .slectionRefund ~ .button_holder button, body.page-returnSubmit .accordtionTataCliq .accContents.returnMethod .button_holder button {
		width: 170px;
	}
	.accordtionTataCliq .scheduledPickupArea {
		width: 118%;
	}
	.hidden-xs {
		display: none !important;
	}
}
@media (max-width: 480px) {
	body.page-returnSubmit .accordtionTataCliq .accContents.reasonType .slectionRefund ~ .button_holder button, body.page-returnSubmit .accordtionTataCliq .accContents.returnMethod .button_holder button {
		width: 100px;
	}
	.accordtionTataCliq .accContents.returnMethod .scheduledPickup .scheduledPickupArea .selectScheduledPickup .editAddress {
		float: none;
	}
}
@media (max-width: 1024px) {
	.accordtionTataCliq .slectionRefund .paymentText {
		padding-left: 0;
	}
}
@media (max-width: 768px) {
	.page-returnSubmit .thirdTataCliq .col-md-12.col-xs-12 {
		padding-right: 0;
	}
	.page-returnSubmit .thirdTataCliq .col-md-6.col-sm-6.col-xs-12 {
		padding-right: 0;
	}
	.page-returnSubmit .thirdTataCliq .col-md-6.col-sm-6.col-xs-6.update-pickup-address {
		margin-left: -3px;
    	margin-top: 0;
	}
	.page-returnSubmit .thirdTataCliq .col-md-6.col-sm-12.col-xs-12 {
		margin-left: 10px;
	}
	.page-returnSubmit .thirdTataCliq .row.col-md-12.col-sm-6.col-xs-12.selectDateTime {
		padding: 0;
	}
	.page-returnSubmit .accordtionTataCliq .accContents .scheduledPickup .selectDateTime .selectRadio input {
		margin: 10px auto 15px auto!important;
	}
	.thirdTataCliq .col-md-9.scheduledPickup+.col-md-9.selfCourier b {
		display: inline-block;
	}
	.thirdTataCliq .col-md-2.col-xs-12.col-sm-2 {
		width: 100%;
	}
}