.account-emptyOrderMessage {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
    color: #a9143c;
}
body .account .right-account ul.saved-cards>li img {
    position: absolute;
    display: block;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 50px;
}
body .account .right-account ul.saved-cards>li a.view-details, body .account .right-account ul.saved-cards>li a.make-default {
    color: #a9143c;
}
body .account .right-account ul.saved-cards>li a.delete, body .account .right-account ul.saved-cards>li a.view-details, body .account .right-account ul.saved-cards>li a.make-default {
    position: relative;
    float: right;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}
body .account .right-account ul.saved-cards>li .paymentItem h3 {
    padding-left: 80px;
}
body .account .right-account ul.saved-cards>li h3, body .account .right-account ul.saved-cards>li h2 {
    font-weight: bold;
}
body .account .right-account ul.saved-cards>li h3, body .account .right-account ul.saved-cards>li h2 {
    font-size: 14px;
    line-height: 1.5;
}
body .account .right-account .info p, body .account .right-account .password p, body .account .right-account .nickname p, body .account .right-account .picture p {
    font-size: 12px;
    font-weight: 500;
}
body .account .right-account ul.saved-cards>li p {
    font-size: 12px;
    line-height: 1.5;
    padding-left: 80px;
}
body .account .right-account .info p {
    color: #666;
}
body .account .right-account ul.saved-cards>li .details {
    display: block;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .3s;
    -moz-transition: max-height .3s;
    transition: max-height .3s;
    border: 2px solid #f0f4f5;
}
div, span, h2, h4, p, a, img, b, ul, li, form, label, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body .account .right-account ul.saved-cards {
    width: 100%;
}
body .account .right-account ul.saved-cards>li {
    margin-bottom: 5px;
}
body .account .right-account ul.saved-cards>li .number, body .account .right-account ul.saved-cards>li .address {
    background: #edf2f5;
}
body .account .right-account ul.saved-cards>li .details>ul, body .account .right-account ul.saved-cards>li .number, body .account .right-account ul.saved-cards>li .address {
    position: relative;
    padding: 20px 10px;
}
body .account .right-account ul.saved-cards .details p {
    padding-left: 0;
}
body .account .right-account ul.saved-cards>li .active+.details {
    max-height: 200px;
    -webkit-transition: max-height .15s;
    -moz-transition: max-height .15s;
    transition: max-height .15s;
}
body .account .right-account ul.saved-cards>li a.delete {
    color: #ff1e48;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    margin-right: 10px;
    font-weight: bold;
}
@media (max-width: 650px){
body .account .right-account ul.saved-cards>li a.delete {
    top: 20px;
    margin-top: 0;
    font-weight: bold;
}
body .account .right-account ul.saved-cards>li img {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
body .account .right-account ul.saved-cards>li a.view-details {
    position: absolute;
    top: 20px;
    right: 10px;
}
body .account .right-account ul.saved-cards>li .number h3, body .account .right-account ul.saved-cards>li .number>p {
    padding-left: 0;
}
body .account .right-account ul.saved-cards>li .number h3, body .account .right-account ul.saved-cards>li .number>p {
    padding-left: 0;
}
body .account .right-account ul.saved-cards>li .details>ul li {
    width: 100% !important;
    padding-bottom: 10px;
}
body .account .right-account form label {
    font-size: 12px;
}
}
