.sign-in.wrapper::after {
    clear: both;
    content: "";
    display: table;
}
.sign-in.wrapper .sign-in.tab-view {
    width: 100%;
    display: inline-block;
    float: left;
}
nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.sign-in.tab-view .nav {
    width: 100%;
    float: left;
    display: block;
}
.sign-in.tab-view .nav li.active {
    background: #fff;
    color: #a9143c;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    position: relative;
}
.sign-in.tab-view .nav li {
    padding: 10px;
    text-align: center;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: #dfd1d5;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.sign-in.tab-view .tabs>li .left p {
    padding: 5px 0 22px 2px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 0;
}
.sign-in.tab-view .tabs>li .left p.sign-in-welcomeMessage {
    color: #a9143c;
}
.sign-in.tab-view .tabs>li.active {
    display: inline-block;
}
.sign-in.tab-view .tabs>li .left form input {
    color: #555;
    font-size: 12px;
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 10px;
    letter-spacing: 1px;
}
.or-rounded {
    display: inline-block;
    top: 158px;
    float: left;
    border: 1px solid #eaeaeb;
    padding: 7px 9px 10px;
    position: absolute;
    left: 44.4%;
    color: #7f7f7f;
    font-size: 14px;
    border-radius: 24px;
    margin-left: 1px;
    background: #fff;
    letter-spacing: 1px;
}
.vrt-line {
    margin-top: 55px;
    background: #eaeaeb;
    width: 1px;
    height: 110px;
    display: inline-block;
}
.container:before, .container:after {
    content: " ";
    display: table;
}

.sign-in.tab-view .tabs>li .left form input {
    color: #555;
    font-size: 12px;
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 10px;
    letter-spacing: 1px;
}
.sign-in.tab-view .tabs>li .left form div#checkBox input[type="checkbox"]:checked+label:before {
    content: "";
    font-size: 20px;
    background: rgba(0,0,0,0) url(../images/sprite.svg) no-repeat scroll -251px -1px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.sign-in.tab-view .tabs>li .left p {
    padding: 5px 0 22px 2px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 0;
}
.sign-in.tab-view .tabs>li .left form div#checkBox label:before {
    height: 25px !important;
    margin: 0;
    width: 25px !important;
    position: relative;
    float: left;
    border: 1px solid #fff !important;
    box-shadow: 0 0 0 1px #666;
    padding-left: 2px;
    padding-top: 2px;
    margin-right: 10px;
    margin-bottom: 1px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.sign-in.tab-view .tabs>li .left form div#checkBox label, .sign-in.tab-view .tabs>li .left form div#checkBox label a {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline;
    line-height: 16.5px;
    text-decoration: none;
    padding: 0;
}
.sign-in.tab-view .tabs>li .left form div#checkBox label {
    color: #7a7a7a;
    float: left;
    width: 70%;
    line-height: 20px;
    font-size: 12px;
    margin-left: 1px;
}
.sign-in.tab-view .tabs>li .left form a.js-password-forgotten {
    text-decoration: underline;
}
.sign-in.tab-view .tabs>li .left form a {
    padding: 0;
    display: block;
    color: #a9143c;
    font-size: 12px;
}
.sign-in.tab-view .tabs>li .left form button {
    width: 150px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border: 0;
    background-color: #a9143c;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 19px;
}
.sign-in.tab-view .tabs>li .left form button:hover {
    background-color: #fff;
    border: 1px solid #a9143c;
    color: #a9143c;
}
.cart.wrapper.checkout-payment .blocks .error-message, #captchaError {
    font-size: 11px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: .6px;
}
#captchaError {
    margin-top: 10px;
}
.sign-in.tab-view .tabs>li .left form .forgotten-password_register {
    display: none;
}
.else-sec {
    display: none;
}
#password_login_minchar, #password_minchar {
    display: none;
}
.sign-in.tab-view .tabs>li form .help-block {
    margin-top: -7px;
    margin-bottom: 5px;
}
.form-group #password_login_bar {
    overflow: hidden;
    margin-bottom: -10px;
    margin-top: 5px;
}
.progress {
    background-image: none !important;
    background-repeat: none !important;
}
.progress-bar[aria-valuenow="0"] {
    color: #777;
    min-width: 30px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #f44;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar {
    background-image: none !important;
}
.sign-in.tab-view .tabs>li .left form label.accept-cond {
    clear: left;
    display: block;
    font-size: 12px;
    color: #7a7a7a;
    letter-spacing: 0;
}
.sign-in.tab-view .tabs>li .left form a.spec-notes {
    color: #a7183e;
    display: inline-block;
    width: auto;
    font-size: 12px;
}
.clearfix {
    zoom: 1;
}
.sign-in.tab-view .tabs::after {
    clear: both;
    content: "";
    display: table;
}
.vr-line {
    background: #eaeaeb;
    width: 1px;
    height: 110px;
    display: inline-block;
}
.alert.alert-danger.alert-dismissable {
    padding: 0;
    margin-bottom: 17px !important;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #ff1c47;
}




@media only screen and (max-width: 1450px){
.sign-in.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
}
@media (min-width: 981px){
.sign-in.tab-view .tabs>li .left form a {
    text-align: left;
}
.sign-in.tab-view .tabs>li .left form a.js-password-forgotten {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
}
.sign-in.tab-view .tabs>li .left form a {
    width: 100%;
}
.sign-in.tab-view .tabs>li .left form a {
    text-align: left;
}
.sign-in.wrapper .sign-in.tab-view {
    width: 100%;
    margin-bottom: 140px;
}
.sign-in.tab-view {
    margin: 0;
}
.sign-in.tab-view .nav {
    display: none;
}
.sign-in.tab-view .tabs>li .left {
    width: 100%;
}
.sign-in.tab-view .tabs>li#sign_in_content {
    padding-right: 116px;
    width: 45.8%;
}
.sign-in.tab-view .tabs>li {
    float: left;
    padding: 0;
    margin-top: 25px;
}
.sign-in.tab-view .form-group {
    margin-top: -12px;
}
.control-label {
    font-weight: 600;
    margin-bottom: 5px;
}
.sign-in.tab-view .tabs>li.or {
    width: 1px;
    min-height: 280px;
    display: inline-block;
    float: left;
    margin-top: 36px;
    padding: 0;
}
.sign-in.tab-view .tabs>li#sign_up_content {
    padding-left: 113px;
    width: 47.6%;
}
}
@media (min-width: 791px){
.sign-in.tab-view .tabs>li .left form button {
   /*  width: 100%; */
    display: inline-block;
}
.sign-in.tab-view .tabs>li .left #checkBox {
    width: 115%;
}
.sign-in.tab-view .tabs>li .left form label {
    letter-spacing: 1.2px;
}
.sign-in.tab-view .nav li {
    font-size: 20px;
}
.sign-in.tab-view .tabs>li .left {
   /*  width: 50%; */
    float: left;
}
.sign-in.tab-view .tabs>li .left p {
    line-height: 1;
    margin-bottom: 0;
}
.sign-in.tab-view .tabs>li .left form input {
    width: 100%;
    /* height: 30px; */
    line-height: 30px;
}
.sign-in.tab-view .tabs>li .left form input {
    width: 100%;
    height: 30px;
    line-height: 30px;
}
}
@media (min-width: 768px){
.sign-in.wrapper {
    margin-top: 0 !important;
    padding: 0;
}
}