.base {
  width: 100%;
  padding: 3vh 40px;
  min-height: 100vh;
  background: url(./img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.center {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 4vh;
}
.logo {
  display: inline-block;
}
.goBack {
  width: 25px;
  height: 25px;
  position: absolute;
  background: url(./img/cancel.svg) no-repeat;
  background-size: auto 15px;
  background-position: center;
  right: 40px;
  top: 15px;
}
.footer {
  color: white;
  font-family: regular;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 4vh;
  text-decoration: underline;
}

.socialButtons {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
.legalLinkHolder {
  width: calc(100% - 80px);
  height: auto;
  padding: 0px 5px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.link {
  width: auto;
  height: auto;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
  font-family: regular;
  display: inline-block;
}
.callUs {
  composes: link;
  padding-left: 10px;
}
.callUs a {
  text-decoration: none;
  color: #fff !important;
}
.linkLabelLeft {
  width: 33.33%;
  height: auto;
  display: inline-block;
  text-align: left;
}
.linkLabelRight {
  composes: linkLabelLeft;
  text-align: right;
  width: 35%;
}
.linkLabelMiddle {
  composes: linkLabelLeft;

  padding-left: 10px;
  width: 30%;
}
