.base {
  width: 100%;
  padding: 5vh 40px;
  min-height: 100vh;
  background: url(./img/background.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}
.center {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 4vh;
}
.logo {
  display: inline-block;
}

.footer {
  color: white;
  font-family: regular;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 8vh;
}

.socialButtons {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
