.base {
  width: 100%;
  padding: 3vh 40px;
  height: auto;
  min-height: 540px;
  background: url(./img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.center {
  width: 100%;
  height: auto;
  text-align: center;
}
.logo {
  display: inline-block;
}
.goBack {
  width: 25px;
  height: 25px;
  position: absolute;
  background: url(./img/cancel.svg) no-repeat;
  background-size: auto 15px;
  background-position: center;
  right: 40px;
  top: 15px;
}
.footer {
  color: white;
  font-family: regular;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 3vh;
  text-decoration: underline;
}

.socialButtons {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.legalLinkHolder {
  width: 100%;
  height: auto;
  margin-top: 35px;
}
.link {
  width: auto;
  height: auto;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
  font-family: regular;
  display: inline-block;
}
.callUs {
  composes: link;
  padding-left: 10px;
}
.callUs a {
  text-decoration: none;
  color: #fff !important;
}
.linkLabelLeft {
  width: 33.33%;
  height: auto;
  display: inline-block;
  text-align: left;
}
.linkLabelRight {
  composes: linkLabelLeft;
  text-align: right;
  width: 35%;
}
.linkLabelMiddle {
  composes: linkLabelLeft;

  padding-left: 10px;
  width: 30%;
}
