.input {
  width: 100%;
  margin-bottom: 30px;
}

.buttonLogin {
  text-align: center;
  width: 100%;
  float: left;
  margin-top: 10px;
}
.buttonHolder {
  display: inline-block;
}
.forgotButton {
  width: 100%;
  float: left;
  margin: 15px 0;
}

@media screen and (min-width: 1024px) {
  .forgotButton {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1024px) {
  .forgotButtonPosition {
    float: right;
    margin-right: -15px;
  }
}

.loadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
