.container {
  position: relative; /* for absolute child element */
}
.button {
  margin-left: 20;
  cursor: "pointer";
  padding: 5;
  position: absolute; /* to align it to right and positon it over the input */
  top: 0px;
  right: 5px;
}
