.container {
  position: relative; /* for absolute child element */
}

@media screen and (min-width: 1024px) {
  .base {
    width: 100%;
    border: none;
    font-size: 12px;
    font-family: regular;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 2px;
    border-color: hsl(0, 0%, 83%);
    border-style: solid;
    background: transparent;
  }
}
@media screen and (max-width: 1024px) {
  .base {
    width: 100%;
    border: none;
    font-size: 12px;
    font-family: regular;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px;
    border-bottom-color: hsl(0, 0%, 83%);
    border-bottom-style: solid;
    background: transparent;
  }
}

.base:focus {
  border: none;
  outline: none;
}
.button {
  margin-left: 20;
  cursor: "pointer";
  padding: 5;
  position: absolute; /* to align it to right and positon it over the input */
  top: 0px;
  right: 5px;
}
.focused {
  composes: base;
}
.disabled {
  composes: base;
  opacity: 0.5;
  pointer-events: none;
}
