.passWordButton {
  width: 40px;
  height: 40px;
  position: relative;
}
.scaler {
  width: 1px;
  height: 20px;
  margin: 13px;
  transform-origin: 0% 0%;
  background-color: #ffffff;
  transform: rotate(45deg) scaleY(1);
  transition: 200ms;
  position: absolute;
  top: 0;
  right: 0;
}

.scalerHolder {
  composes: scaler;
  transform: rotate(45deg) scaleY(0);
}
