.submit {
  width: auto;
  margin-right: 10px;
}
.cancel {
  width: auto;
  margin-left: 10px;
}
.iconHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 1024px) {
  .submit {
    margin-right: 0px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .cancel {
    margin-left: 0px;
    display: inline-block;
  }
  .lockIcon {
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
  }
  .content {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: auto;
    font-family: regualr;
    font-size: 16px;
  }
  .password {
    font-size: 16px;
  }
}
