.input {
  width: 100%;
  margin-bottom: 30px;
}
.buttonHolder {
  display: inline-block;
}
.buttonSignup {
  width: 100%;
  float: left;
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .buttonSignup {
    text-align: center;
  }
}
