@media screen and (min-width: 1025px) {
  .base {
    text-align: center;
  }
  .holder {
    display: inline-block;
  }

  .separator {
    composes: holder;
    margin: 0px 20px 0px 20px;
  }

  .textHolder {
    text-align: center;
  }
  .title {
    color: "#212121";
    font-size: 16px;
    font-family: semibold;
  }
}

@media screen and (max-width: 1024px) {
  .base {
    text-align: center;
  }
  .holder {
    display: inline-block;
  }

  .separator {
    composes: holder;
    margin: 0px 15px 0px 15px;
  }

  .textHolder {
    text-align: center;
    margin-bottom: 20px;
  }
  .title {
    color: white;
    font-size: 16px;
    font-family: semibold;
  }
}
