.base {
  width: 100%;
  height: auto;
  line-height: 20px;
  color: #212121;
  font-size: 14px;
  font-family: regular;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.base:first-child {
  margin-top: 0;
}
.selected {
  composes: base;
}
.selected::before {
  content: "";
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #ff1744;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -20px;
}
