.base{
  width:100%;
  height:auto;
  color:#212121;
  font-size:16px;
  font-family:regular;
  margin-bottom:20px;
  display:inline-block;
  padding-left: 20px;
}
.active{
  composes:base;
  color:#ff1744
}