.base {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  padding: 0px 10px;
  font-size: 14px;
  font-family: semibold;
  opacity: 0.5;
  position: relative;
  transition: 300ms;
  min-width: 25%;
  text-align: center;
}
.base::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #ff1744;
  bottom: -20px;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 300ms;
}
.active {
  composes: base;
  color: #ff1744;
}
.active::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #ff1744;
  bottom: -20px;
  position: absolute;
  left: 0;
  opacity: 1;
  transition: 300ms;
}
