.base {
  width: 100%;
  height: auto;
  margin: 50px 0px 0px 0px;
}
.firstItemBase {
  composes: base;
  margin: 20px 0px 0px 0px;
}
.headerText {
  width: 100%;
  height: auto;
  color: #212121;
  margin-bottom: 10px;
  font-family: semibold;
  padding-left: 10px;
}
.imageHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  overflow: hidden;
}
.featuresCardHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.curatedCard {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.overlayTextHolder {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 10px;
  z-index: 5;
}
.featuresHeader {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-family: semibold;
}
.featuresText {
  width: 100%;
  height: auto;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  font-family: regular;
  font-size: 14px;
}
