.base {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}
.LatestCollectionsHolder {
  width: 100%;
  height: auto;
  line-height: normal;

  position: relative;
  padding: 15px 45px 15px 15px;
}
.textHolder {
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: left;
  display: inline-block;
  font-family: regular;
  font-size: 14px;
}
.iconHolder {
  width: 30px;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 15px;
}
.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
