.base {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
}
.couponInnerBox {
  width: 100%;
  height: auto;
  min-height: 25px;
  position: relative;
  padding: 0px 0px 0px 40px;
  margin-bottom: 10px;
}
.headingText {
  width: 100%;
  color: #000000;
  font-size: 13px;
  font-family: regular;
  margin: auto;
  text-align: left;
  line-height: 25px;
}
.couponNumber {
  composes: headingText;
  font-size: 18px;
  font-family: semibold;
}
.lebelText {
  width: 100%;
  color: #000000;
  padding: 15px 0px;
  border-bottom: 1px solid #ececec;
  font-family: light;
}
.couponIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
}
.couponFooter {
  height: auto;
  width: 100%;
  margin-top: 20px;
}
.couponFooterHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
}
.couponInformation {
  width: 50%;
  height: auto;
  display: inline-block;
  line-height: 17px;
  color: #000000;
  text-align: left;
  font-size: 14px;
}
.couponData {
  composes: couponInformation;
  padding-left: 30px;
}
