.base {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px;
  margin-top: 40px;
}
.headerText {
  width: 100%;
  height: auto;
  line-height: 24px;
  margin-bottom: 15px;
  color: #212121;
  font-size: 20px;
  font-family: semibold;
  display: inline-block;
}
.categorieHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.leftSection {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-right: 2%;
  position: relative;
}
.oneImageHolder {
  width: 100%;
  height: auto;
  padding-bottom: 150%;
  position: relative;
}
.twoByTwoImageHolder {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 72%;
}
.bigImageHolder {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  left: 0;
  top: 0;
  overflow: hidden;
}
.tShirtHolder {
  composes: bigImageHolder;
}

.labelText {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-family: semibold;
  z-index: 5;
}
.rightSection {
  width: 50%;
  height: auto;
  padding-left: 2%;
  display: inline-block;
}
.twoByTwo {
  width: 100%;
  height: auto;
  padding-bottom: 3%;
}
.footWareHolder {
  width: 100%;
  height: auto;
  padding-top: 3%;
}
