.base {
  width: 100%;
  background: #ececec;
  display: inline-block;
  height: auto;
  min-height: 100vh;
}
.addressBlock {
  background: #fff;
  margin: 10px;
  border-radius: 4px;
}
.addressHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}
.name {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: semibold;
  margin-bottom: 10px;
}
.address {
  width: 100%;
  height: auto;
  color: #000;
  font-family: regular;
  line-height: 20px;
  font-size: 14px;
}
.phoneNumber {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: regular;
}
.actionHolder {
  width: 100%;
  height: auto;
  padding: 15px;
  display: inline-block;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
