.base {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: inline-block;
  background-color: #ececec;
  padding: 15px;
}
.order {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}
.orderIdHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 25px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
}
.noOrder {
  width: 100%;
  text-align: center;
}
.noOderText {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #181818;
}
.continueShoppingButton {
  margin: auto;
  display: inline-block;
}
