.base {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 0px 0px 60px 0px;
}
.giftCardImageHolder {
  width: 100%;
  height: auto;
  padding-bottom: 65%;
  position: relative;
}
.giftCradImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.giftCardDataHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  background: #ececec;
}
.displayMessageHolder {
  width: 100%;
  height: auto;
  padding: 20px 15px;
  color: #9b9b9b;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  font-family: regular;
  font-style: italic;
  line-height: normal;
  background: #fff;
  word-break: break-word;
}
.displayAmountHolder {
  width: 100%;
  height: auto;
  padding: 20px 15px;
  color: #000;
  font-size: 14px;
  font-family: regular;
  background: #fff;
}
.giftCardTextHolder {
  width: 100%;
  height: auto;
  padding: 30px 15px 15px 15px;
}
.infoHeder {
  width: 100%;
  height: auto;
  font-size: #181818;
  font-size: 16px;
  font-family: semibold;
  margin-bottom: 10px;
}
.infoText {
  width: 100%;
  height: auto;
  color: #181818;
  font-size: 16px;
  font-family: regular;
}
.formCard {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #fff;
  margin-bottom: 15px;
}
.formHeader {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  color: #181818;
  font-size: 14px;
  font-family: semibold;
}
.labelHeader {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #181818;
  font-family: regular;
  margin-bottom: 10px;
}
.amountCardHolder {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: inline-block;
}
.amountHolder {
  composes: amountCardHolder;
  margin-bottom: 0px;
}
.amountSelect {
  width: auto;
  height: 40px;
  padding: 0px 10px;
  line-height: 40px;
  color: #181818;
  font-size: 14px;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.inputHolder {
  composes: amountCardHolder;
}
.selectHolder {
  width: 40%;
  height: auto;
  display: inline-block;
}
.footer {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.textHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #ececec;
  padding: 10px 0px;
}
.textHeader {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  color: #ff1744;
  font-family: semibold;
  margin-bottom: 20px;
}
.text {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  font-family: semibold;
  margin-bottom: 20px;
}
.buttonHolder {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.quantityValue {
  border: 1px solid #ececec;
  padding: 10px;
  width: 40%;
  height: auto;
  display: inline-block;
  margin: auto;
  text-align: center;
}
.amountSign {
  background: url(./img/59.svg) no-repeat;
  background-size: auto 40px;
  background-position: left center;
  padding-left: 30px;
}
.enterAmountHolder {
  width: 100%;
  height: 33px;
  position: relative;
}
.rupyLabel {
  width: 30px;
  height: 33px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(./img/59.svg) no-repeat;
  background-size: auto 40px;
  background-position: 4px -2px;
}
