.base {
  width: 100%;
  height: auto;
  display: inline-block;
}

.accountHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 15px;
  background: #ececec;
  position: relative;
  padding: 15px 60px 15px 15px;
}
.tabHolder {
  width: 100%;
  height: 60px;
  background: #fff;
}
.dataHolder {
  width: 100%;
  height: auto;
  background: #ececec;
}
.ordersHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.recentOrderHolder {
  composes: ordersHolder;
  margin-bottom: 10px;
}
.alertsHolder {
  width: 100%;
  height: auto;
  padding: 15px 15px 70px;
  display: inline-block;
}
.couponHolder {
  composes: alertsHolder;
}
.logoutButton {
  width: auto;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 15px;
  bottom: 0px;
  margin: auto;
}
.useFulLinkHolder {
  width: 100%;
  height: auto;
  padding: 20px 0px 80px 0px;
}
.linkTabHolder {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  background: #fff;
  margin-top: 20px;
}
.linkTabHolder:first-child {
  margin-top: 0px;
}
.usefulLinkText {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 16px;
  font-family: light;
}
a {
  text-decoration: none;
  color: initial;
}

.callClass {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: 300ms;
}
.callClass:active {
  transform: scale(1.2);
  transition: 300ms;
  transform-origin: center center;
}
