.base {
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
  background: #ececec;
}
.orderIdHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 25px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
}
.order {
  margin-bottom: 15px;
  background: #fff;
  padding: 12px;
}
.payment {
  border-top: 1px solid #ececec;
}
.orderStatusVertical {
  padding: 30px 0px;
  border-bottom: 1px solid #ececec;
}
.buttonHolderForUpdate {
  width: 100%;
  height: auto;
  display: inline-block;
}
.replaceHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
}
.replace {
  font-size: 14px;
  display: inline-block;
  opacity: 0.5;
}
.reviewHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: right;
}
.review {
  font-size: 14px;
  display: inline-block;
}
