.base {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.home {
  width: 100%;
  height: auto;
  display: inline-block;
  font-family: semibold;
  font-size: 14px;
  margin-bottom: 5px;
}
.addressDetails {
  width: 100%;
  height: auto;
  display: inline-block;
  font-family: regular;
  font-size: 14px;
  line-height: 25px;
}
.address {
  composes: addressDetails;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
