.base {
  width: 100%;
  height: auto;
  display: inline-block;
}
.replaceHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
}
.replace {
  font-size: 14px;
  display: inline-block;
  opacity: 0.5;
}
.reviewHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: right;
}
.review {
  font-size: 14px;
  display: inline-block;
}
.reviewDesible {
  composes: review;
  opacity: 0.5;
  pointer-events: none;
}
