.content {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
}
.card {
  width: 100%;
  height: auto;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}

.text {
  width: 100%;
  height: auto;
  padding: 15px;
}
