.card {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
}
.content {
  width: 100%;
  height: auto;
  padding: 15px;
}
.cardOffset {
  composes: card;
  margin-bottom: 20px;
}
.header {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  color: #212121;
  line-height: 20px;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}
