.base {
  width: 100%;
  height: auto;
  padding: 25px 15px 85px 15px;
  background: #ececec;
  min-height: calc(100vh - 80px);
}

.header {
  width: 100%;
  font-size: 18px;
  color: #000000;
  font-family: semibold;
  position: relative;
  padding-right: 60px;
  margin-bottom: 25px;
}
.cancel {
  position: absolute;
  right: 0;
  top: 0;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}
.button {
  display: inline-block;
}
