.base {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 15px;
  background: #ececec;
  min-height: 100vh;
}
.headerHolder {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.listCardHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px 0px 25px;
  border-radius: 4px;
}
.noSaveListBlock {
  background: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
}
