.base {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 25px;
}
.headerText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: semibold;
  margin-bottom: 20px;
}
