.base {
  width: 100%;
  height: auto;
  display: inline-block;
}
.cardHolder {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 25px;
  display: inline-block;
  padding: 15px;
  border-radius: 4px;
}
.noAlerts {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 10px;
  font-size: 16px;
  font-family: regular;
  text-align: center;
}
