.page-luxuryCategoryPage{
	.mainContent-wrapper{
		> .container{
			width:100%;
			padding:0px;
			.owl-stage-outer{
				.item{
					img{
						width:100%;
					} 
				}
			}
		}
		footer{
			.container{
				max-width:1200px;
				margin:0 auto;
			}
		}
	}
}
.look-book-wrapper{
	.colmn.left{
		float:left;
	}
	.colmn.right{
		float:right;
	}
	li{
		width:50%;
		float:left;
	}
}
.lux-main-banner-slider{
	margin-bottom:40px;
	position:relative;
	.owl-stage-outer{
		overflow:hidden;
		.owl-item{
			float:left;
		}
	}
	.owl-dots {
		bottom: 15px;
		position: absolute;
		text-align: center;
		width: 100%;
		.owl-dot {
			background: gray;
			display: inline-block;
			height: 2px;
			margin-left: 10px;
			text-align: center;
			width: 56px;
		}
		.owl-dot.active {
			background: #fff;
		}
	}
	

}
.look-book {
	max-width: 910px;
	margin: 0 auto 60px;
	text-align: center;
	.slick-slide {
		img {
			display: inline-block;
		}
	}
	.section-content{
		font-size: 18px;
		letter-spacing: 1px;
	}
	@include media-breakpoint-up(md) {
		.colmn, .look-book-carousel li {
			width: 50%;
			float: left;
		}
	}
	/* look book carousel */
	.look-book-carousel {
		li {
			float: left;
			opacity: 0;
		}
	}
	.slick-current ul li {
		opacity: 1;
		transition: opacity .5s ease-in-out;
		@for $i from 1 through 4 {
		    &:nth-child(#{$i}) {
		        transition-delay: $i * 0.25s; 
		    }
		}
	}
	/* EOF look book carousel */
	/* look book 4 column */ 
	.look-book-img {
		.colmn {
			&:nth-child(1) {
				padding-right: 5px;
			}
			&:nth-child(2) {
				padding-left: 5px;
			}
		}
		li {
			float:left;
			margin-bottom: 10px;
			
			& + li {
				margin-bottom: 10px;				
			}
		}
	}
	/* EOF look book 4 column */
	/* look book link */
	.look-book-link{
		
		li{
			width: 33%;
			display: inline-block;
			text-align: left;
			margin: 10px 0px;
			vertical-align: top;
				a{
					font-size: 15px;
				}			
		}
		
	}
	
	/* EOF look book link */
}
.brand-follow {
    max-width: 920px;
    margin: 0 auto 35px;
	
	@include media-breakpoint-up(xs) {
		
		text-align: center;
		
		picture{
			display: inline-block;
		}
		
		img, h3 {
			text-align: center;
			 font-size: 1.4em;
		}
		
	}
	@include media-breakpoint-up(md) {
		
		text-align: left;
		
		picture{
			display:inline;
		}
		
		img, h3 {
			text-align: left;
			font-size: 24px;
			float: left;
		}
		h3{
			margin-left: 20px;
		}
	}
}
.trav-edition{
	
	position: relative;
	
	&.single-col{
		.seastion-content{
			padding: 20px 50% 20px 40px;
			top: 50%;
			position: absolute;
			left: 65px;
			right: 0;
			z-index: 3;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
				h2{
					font: 48px/64px $font-family-base ;
					color:$white;
					font-style: italic;
				}			
		}		
	}
	&.double-col{
		max-width: 1120px;
		margin: 0 auto 35px;
			img {
			float: left;
			&:first-child {
				margin-right: 10px; 
			}
		}
	}
	
	.col{
		display: inline-block;
		margin: 0px 10px;
	}
   
}
.shop-by-catagory{
	.slick-track{
		margin:0 auto;
	}
}

.page-luxuryWomenlandingPage,.page-luxuryMenlandingPage,.page-luxuryBrandLandingPage{
	.mainContent-wrapper{
		> .container{
			width:100%;
			padding:0px;
			.owl-stage-outer{
				.item{
					img{
						width:100%;
					} 
				}
			}
		}
		footer{
			.container{
				max-width:1200px;
				margin:0 auto;
			}
		}
	}
	.luxgender-carousel.shop-by-catagory{
		overflow:hidden;
	}
	.lux-blp-carousel{
		display:inline-block;
		width:100%;
		.owl-stage-outer{
			overflow:hidden;
			.owl-item{
				float:left;
			}
		}
	}
	.look-book-img{
		margin-top:50px;
	}
	.luxgender-carousel{
		.owl-stage-outer{
			display:inline-block;
			.owl-item{
				float:left;
			}
		}
		.owl-dot{
			background-color: #fff;
		    border-radius: 50%;
		    border: 1px solid #2d2d2d;
		    text-indent: -90000px;
		    width: 10px;
		    height: 10px;
		    padding: 0;
		    display:inline-block;
		    margin-right:10px;
		}
		.owl-dot.active{
			background-color: #2d2d2d;
		}
	}	
}



@include media-breakpoint-down(sm) {
	.page-luxuryWomenlandingPage,.page-luxuryMenlandingPage,.page-luxuryBrandLandingPage{
		.look-book-wrapper{
			.colmn{
				width:100%;
				text-align:center;
				li{
					width:50%;
				}
			}
		}
		.look-book-img{
			.colmn{
				width:100%;
				text-align:center;
				li{
					width:100%;
				}
			}
		}
		.look-book-link li{
			width:100%;
			text-align:center;
		}
	}
}