.base {
  width: 100%;
  height: auto;
  background-color: #ececec;
  padding-top: 50px;
  position: relative;
}
.searchBar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.searchResults {
  width: 100%;
  padding: 20px;
  height: calc(100vh - 50px);
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 50px;
  background-color: #ececec;
}
