.base {
  width: 100%;
  height: 50px;
  background-color: #212121;
}
.InformationHeader {
  width: 100%;
  height: 50px;
  position: relative;
  padding: 10px 40px;
}
.logoPresentStyle {
  composes: InformationHeader;
  padding: 10px 40px 10px 75px;
}
.backHolder {
  width: auto;
  height: auto;
  position: absolute;
  left: 15px;
  top: 17px;
}
.logoHolder {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
}
.iconWithLogo {
  composes: logoHolder;
  left: 40px;
}
.searchWithText {
  width: 100%;
  height: 100%;
  position: relative;
}
.textBox {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-family: semibold;
  text-align: center;
  line-height: 32px;
  -webkit-margin-before: inherit;
  -webkit-margin-after: inherit;
  font-weight: inherit;
}
.searchHolder {
  position: absolute;
  top: 17px;
  right: 17px;
  width: auto;
  height: auto;
}
.searchWithInputRedHolder {
  width: 100%;
  height: auto;
}
.searchRedHolder {
  width: 16px;
  height: 16px;
  top: 0;
  bottom: 0;
  left: 17px;
  margin: auto;
  position: absolute;
}
.input {
  width: auto;
  height: auto;
}
.crossIcon {
  width: auto;
  height: auto;
  top: 7px;
  position: absolute;
}
