.base {
  width: 100%;
  height: auto;
  display: inline-block;
}
.InformationHeader {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
.searchHolder {
  position: absolute;
  display: inline-block;
  top: 14px;
  right: 10px;
}
.searchWithInputRedHolder {
  width: 100%;
  height: auto;
  position: absolute;
  display: inline-block;
  top: 0px;
  bottom: 0px;
  padding-left: 50px;
}
.searchRedHolder {
  top: 14px;
  width: auto;
  height: auto;
  position: absolute;
  display: inline-block;
}
.input {
  padding-left: 30px;
  width: auto;
  top: 10px;
  height: auto;
  position: absolute;
  display: inline-block;
}
