.base{
  width:100%;
  height:auto;
  display:inline-block;
  padding-top:65px;
  background: #ececec;
  padding-bottom:65px
}
.bannerHeader{
  width:100%;
  height:auto;
}
.brandsList{
  width:100%;
  height:auto;
  background:#fff;
}
.productDetailsHolder{
  width:100%;
  height:auto;
  padding:25px 0px;
}
.locationHolder{
  width:100%;
  height:auto;
  margin-top:10px;
}
.productSellerHolder{
  width:100%;
  height:auto;
}
.shopeRangeHolder{
  width:100%;
  height:auto;
  padding: 0px 15px;
  margin-top: 30px;
  margin-bottom:30px;
}
.shopeRangeHedaer{
  width:100%;
  height:auto;
  color:#212121;
  font-size:20px;
  margin-bottom:10px;
  font-family:semibold;
  margin-bottom:25px;
}
.newArrivalHolder{
  width:100%;
  height:auto;
  margin-bottom:30px;
}
.questionHolder{
  width:100%;
  height:auto;
  padding:15px;
  background:#fff;
}
.footer{
  width:100%;
  height:65px;
  position: fixed;
  left:0;
  bottom:0;
  background:#fff;
  z-index: 15;
  border-top:1px solid #e8e8e8
}

