.base{
  width:100%;
  height:auto;
  background:#ececec;
  padding:65px 0px;
}
.brandGallery{
  width:100%;
  height:auto;
}
.brandListHolder{
  width:100%;
  height:auto;
}
.productDetailsHolder{
  composes:brandListHolder;
  margin:40px 0px;
}
.colourSelectHolder{
  composes:brandListHolder;
  background:#fff;
  padding:30px 0px;
}
.newBrandHolder{
  width:100%;
  height:auto;
  padding:0px 15px;
  margin:40px 0px 0px 0px;
}
.newBrandHedaer{
  width:100%;
  height:auto;
  color:#212121;
  font-size:20px;
  font-family:semibold;
  margin-bottom:20px;
}
.newBrandImageHolder{
 composes:brandListHolder
}
.footer{
width:100%;
height:65px;
position: fixed;
left:0;
bottom:0;
background:#fff;
z-index: 15;
border-top:1px solid #e8e8e8
  }