.base {
  width           : 100%;
  height          : auto;
  background-color: #ffff;
  border-radius   : 4px;
  padding         : 10px 20px;
}
.couponInnerBox {
  width   : 100%;
  height  : auto;
  position: relative;
  padding : 0px 50px 0px 50px;
}
.couponIcon {
  width   : 25px;
  height  : 25px;
  position: absolute;
  left    : 0;
  top     : 0;
}
.headingText {
  width      : 100%;
  color      : #000000;
  font-size  : 14px;
  font-family: semibold;
  margin     : auto;
  text-align : left;
  line-height: 25px;
  height     : auto;
}

.lebelText{
  width      : 100%;
  color      : #000000;
  font-size  : 14px;
  font-family: regular;
  margin     : auto;
  text-align : left;
  line-height: 30px;
  height     : auto;

}