.base {
	width         : 100%;
	height        : auto;
	background    : #fff;
	display       : inline-block;
	position      : relative;
	border-radius : 4px;
	padding-bottom: 100%;
}
.ProductStockInnerBox {
	width     : auto;
	height    : auto;
	text-align: center;
	bottom    : 110px;
	position  : absolute;
	margin    : auto;
	right     : 0;
	left      : 0;
	padding   : 20px;
}
.ProductStockHeading {
	width      : 100%;
	height     : auto;
	color      : #fff;
	font-size  : 30px;
	line-height: 25px;
	font-family: semibold;
	text-align : left;
}
.ProductStockLabel {
	width      : 100%;
	height     : auto;
	color      : #fff;
	font-size  : 14px;
	line-height: 30px;
	text-align : left;
}
