.contentHolder {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #212121;
  line-height: 22px;
  font-family: regular;
  padding: 15px 15px 15px;
  display: inline-block;
}

.contentHolder h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: semibold;
  margin-top: 0px;
}
.contentHolder h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: semibold;
  margin-top: 0px;
}
.contentHolder p {
  padding-bottom: 5px;
}
.contentHolder span {
  color: #000;
  font-size: 14px !important;
  font-family: regular !important;
}
.contentHolder strong {
  font-family: semibold;
}
.contentHolder ul {
  padding: 0px 0px 0px 20px;
  margin: 0px;
  display: inline-block;
  width: 100%;
  height: auto;
}
