.questionAnswerHolder {
  width: 100%;
  height: auto;
  position: relative;
}
.questionAnswerHolder::before {
  content: "";
  width: 90%;
  border-bottom: 1px solid #ebebeb;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.answer {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  padding: 0px 15px 15px;
  font-family: regular;
}
