.base {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px;
}
.header {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 20px;
  font-family: semibold;
  margin-bottom: 25px;
}
.navigationHolder {
  width: 100%;
  height: auto;
}
