.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #ececec;
}
.dataHolder {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  padding: 15px 15px 0px;
}
.dataHolder p {
  margin-bottom: 10px;
}
