.base {
  width: 100%;
  height: auto;
  padding: 15px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #ececec;
}
.productImage {
  width: 20%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.productDescription {
  width: 80%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.offerPrice {
  display: inline-block;
  vertical-align: middle;
  color: #8d8d8d;
  font-size: 14px;
  font-family: regular;
  text-decoration: line-through;
  padding-left: 10px;
}
.informationText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
  display: inline-block;
  font-family: regular;
}

.serviceAvailabilityText {
  width: 100%;
  height: auto;
  color: #e81e1e;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 3px;
  display: inline-block;
  font-family: regular;
}
