.base {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  border: 1px solid #ededed;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: 300ms;
}
.selected {
  composes: base;
  border: 1px solid #ff1744;
}
.image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
