.base {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #ececec;
}
.couponSubHeader {
  background-color: #ffffff;
  color: #181818;
  font-size: 14px;
  font-family: regular;
  text-align: left;
  display: inline-block;
  position: relative;
  padding: 20px;
}

.couponHeader {
  height: 50px;
  background-color: #212121;
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  font-family: semibold;
  text-align: left;
  padding-left: 20px;
}
.searchHolder {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #ececec;
}
.dataHolder {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #ececec;
}
