.base {
  width: 100%;
  height: auto;
  display: inline-block;
  background: #212121;
  position: fixed;
  bottom: 0;
  left: 0;
}
.hiddenBase {
  composes: base;
  position: relative;
  left: initial;
  bottom: initial;
  opacity: 0;
  pointer-events: none;
}
.totalPriceButtonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 15px 125px 15px 15px;
}
.totalPriceHeading {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  font-size: 14px;
  color: #8f8f8f;
  font-family: regular;
  display: inline-block;
}
.amountHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.amount {
  color: #fff;
  font-size: 20px;
  font-family: regular;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  line-height: 22px;
}
.infoIconHolder {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  opacity: 0.5;
}
.checkoutButtonHolder {
  width: auto;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: inline-block;
}
.detailsHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 15px;
  border-top: 1px solid #bbbbbb;
}
.informationHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 12px;
}
.informationQuestionHolder {
  width: 40%;
  height: auto;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  font-family: semibold;
}
.informationAnswerHolder {
  width: 60%;
  height: auto;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-family: regular;
  text-align: right;
}
.apply {
  composes: informationAnswerHolder;
  color: #ff1744;
}
