.base {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: auto;
  background: #ececec;
}
.row {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.row:nth-child(2) {
  margin-top: -4px;
}
.header {
  width: 100%;
  background: #fff;
  padding: 20px;
}
.products {
  width: 100%;
  margin-top: 15px;
  padding: 0px 15px 15px 15px;
}
.addInitialAddAddress {
  width: 100%;
  height: auto;
  padding: 15px;
}
.deliveryAddress {
  width: 100%;
  height: auto;
  padding: 0px 15px;
}
.paymentCardHolder {
  width: 100%;
  height: auto;
  padding: 15px 15px 15px;
}
.paymentFailedCardHolder {
  width: 100%;
  height: auto;
  padding: 15px 15px 15px;
}

.addDeliveryAddressHolder {
  width: 100%;
  height: auto;
  background: #ececec;
}
.cartItemHolder {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.orderConfirmationHolder {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #ececec;
  padding: 15px;
  margin-bottom: 60px;
}

.cartLoader {
  width: 100%;
  background: #fff;
  position: relative;
  height: calc(100vh - 60px);
}
.spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
