.base {
  width: 100%;
  height: auto;
  padding: 15px 65px;
  position: relative;
}

.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.head {
  width: 100%;
  font-size: 16px;
  font-family: regular;
  line-height: 24px;
  font-family: regular;
  color: rgba(0, 0, 0, 0.47);
}
.message {
  width: 100%;
  height: auto;
  font-family: 12px;
  font-family: regular;
  color: #000;
  line-height: 20px;
}
.arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
