.base {
  width: 100%;
  height: auto;
  min-height: 90px;
  background: #fff;
  border-radius: 4px;
  padding: 15px 75px 15px 15px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}
.buttonHolder {
  width: auto;
  height: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}
.checkIconHolder {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  bottom: 12px;
}
.headerTextHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.productShippingTextHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 5px;
}
