.base {
  width: 100%;
  height: auto;
}
.titleAddress {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  line-height: 22px;
  text-align: left;
}
.titleDescription {
  width: 100%;
  height: auto;
  line-height: 22px;
  text-align: left;
  font-family: regular;
  font-size: 14px;
  position: relative;
  padding-right: 70px;
  margin-bottom: 10px;
}

.checkCircle {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 0px;
}
