.base {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 30px 20px;
  position: absolute;
  bottom: 0;
}
.paymentMethodDescription {
  width: 100%;
  height: auto;
  background: #fef6f7;
  padding: 15px 20px 25px;
  border-radius: 4px;
}
.headingText {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  color: #000000;
  font-size: 14px;
  font-family: semibold;
}
.descriptionText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 12px;
  line-height: normal;
  font-family: regular;
}
.bankLogoAndCouponCode {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 25px;
}
.cardLogo {
  width: auto;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.couponCodeHolder {
  width: auto;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  font-size: 12px;
  color: #000;
  font-family: semibold;
}
.buttonHolderForPaymentMode {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.buttonHolderForContinueCoupon {
  composes: buttonHolderForPaymentMode;
  margin-top: 20px;
}
