.base {
  width: 100%;
  height: auto;
  padding: 20px;
  position: relative;
}
.emiText {
  font-size: 14px;
  width: auto;
  height: auto;
  color: #000;
  display: inline-block;
  line-height: 30px;
}
.header {
  width: 100%;
  font-size: 14px;
  height: auto;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
  font-family: semibold;
  position: relative;
  padding-right: 85px;
}
.button {
  width: 85px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 22px;
}
.price {
  width: auto;
  height: auto;
  display: inline-block;
  font-family: semibold;
  font-size: 14px;
  padding: 0px 10px;
  color: #000;
  line-height: 30px;
}
.checkBoxHolder {
  width: 35px;
  height: 35px;
  position: absolute;
  display: inline-block;
  right: 20px;
  bottom: 20px;
}
.month {
  font-family: regular;
}
