.base {
  width: 100%;
  height: auto;
  min-height: 90px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  padding: 20px;
  display: inline-block;
}
.address {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
}
.buttonHolder {
  width: auto;
  height: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}
.checkIconHolder {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 40px;
  display: inline-block;
}
.headerTextHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: semibold;
}
.subText {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: regular;
  white-space: nowrap;
  padding-right: 60px;
}
.pickUpBox {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  font-family: semibold;
}
.pickUpText {
  width: auto;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.pickUpDay {
  width: auto;
  height: auto;
  font-size: 13px;
  font-family: regular;
  display: inline-block;
  vertical-align: middle;
}
