.base {
  width: 100%;
  height: auto;
  display: inline-block;
  border-top: 1px solid #ececec;
}
.holder {
  width: 100%;
  height: 50px;
  position: relative;
  padding-right: 50px;
  background: #fff;
}
.textHolder {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #000;
  font-size: 14px;
  font-family: regular;
  padding-left: 40px;
}
.iconHolder {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.iconHolder::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./img/minus.svg) no-repeat;
  background-size: auto 55%;
  background-position: center;
  transition: 300ms;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.iconHolder::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./img/minus.svg) no-repeat;
  background-size: auto 55%;
  background-position: center;
  transition: 300ms;
  left: 1px;
  top: 2px;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(90deg);
}
.rot {
  composes: iconHolder;
}
.rot::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./img/minus.svg) no-repeat;
  background-size: auto 55%;
  background-position: center;
  transition: 300ms;
  left: 1px;
  top: 2px;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(180deg);
}
