.base {
  width: 100%;
  height: 60px;
  background: #fff;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: inline-block;
}
.footerButtonHolder {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.buttonHolder {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
}
