.base {
  width: 100%;
  height: 100vh;
  position: relative;
}
.map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.header {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
}
.location {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 50px;
  padding: 15px;
}
.bannerMobileHolder {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
}
.getLocationDetailsHolder {
  padding: 0px 15px 15px;
}
.pickUpDetails {
  margin-top: 15px;
}
.singleCardHolder {
  padding: 15px;
}
