.base {
  width: 100%;
  height: auto;
  background: #fff;
  position: relative;
  padding: 15px 85px 15px 15px;
  border-radius: 4px;
}
.classNameWithShadow {
  composes: base;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
.headingText {
  width: 100%;
  color: #000000;
  font-size: 14px;
  font-family: regular;
  margin: auto;
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
}
.textBorder {
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}
.button {
  width: auto;
  height: 25px;
  position: absolute;
  right: 15px;
  line-height: 16px;
  top: 0px;
  bottom: 0;
  margin: auto;
}
