.base {
  width: 100%;
  height: auto;
  background: #fff;
  position: relative;
  padding: 15px 65px 15px 15px;
  border-radius: 4px;
}
.noOffset {
  composes: base;
  padding: 15px;
}
.withShadow {
  composes: base;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
.headingText {
  width: 100%;
  color: #000000;
  font-size: 14px;
  font-family: regular;
  margin: auto;
  text-align: left;
  line-height: 25px;
}
.defaultClickArea {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.inputHolder {
  width: 100%;
  padding-right: 25px;
}
.button {
  width: auto;
  height: 25px;
  position: absolute;
  right: 15px;
  line-height: 16px;
  top: 0px;
  bottom: 0;
  margin: auto;
}
