.icon {
  width: auto;
  height: auto;
  position: relative;
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: 0 20px 0 30px;
}
.saveLabel {
  width: auto;
  height: auto;
  font-family: bolder;
  font-size: 14px;
}
.removeLabel {
  width: auto;
  height: auto;
  font-family: bolder;
  font-size: 14px;
  color: #8d8d8d;
  display: inline-block;
}
.base {
  width: 100%;
  height: auto;
  padding: 20px;
}
.iconHolder {
  position: absolute;
  left: 0px;
  top: 0;
}
.wrapper {
  width: 100%;
  line-height: 30px;
}
