.removeLabel {
  width: auto;
  height: auto;
  font-family: regular;
  font-size: 14px;
  color: #8d8d8d;
  display: inline-block;
}
.base {
  width: 100%;
  height: auto;
  padding: 15px;
}

.wrapper {
  width: 100%;
  line-height: 30px;
}
