.base {
  width: 100%;
  height: auto;
  padding: 30px;
  object-fit: contain;
  background-image: linear-gradient(#fce38a, #f38181);
  background-image: url(./img/download.svg) no-repeat;
  margin-top: 50px;
}
.firstItemBase {
  composes: base;
  margin-top: 20px;
}
.downloadInnerBox {
  width: 100%;
  height: auto;
  display: inline-block;
}
.dataTextHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.iconWithWidth {
  composes: dataTextHolder;
  width: calc(100% - 40px);
  padding-left: 10px;
  text-align: left;
}
.downloadBox {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.downloadLabel {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.downloadIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}
