.base {
  width: 100%;
  height: 100%;
  position: relative;
}
.imageHolder {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay {
  composes: imageHolder;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1025px) {
  .logoAndText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 40px;
  }
  .logo {
    width: 100%;
    height: 100px;
  }
  .title {
    font-size: 50px;
    line-height: normal;
    margin-top: 20px;
    color: white;
    font-family: semibold;
    white-space: initial;
  }
  .button {
    margin-top: 30px;
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .logoAndText {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    max-height: 100%;
    overflow: hidden;
  }
  .logo {
    width: 100px;
    height: 50px;
  }
  .title {
    font-size: 30px;
    line-height: normal;
    margin-top: 15px;
    color: white;
    font-family: semibold;
    white-space: initial;
  }
  .imageHolder {
    border-radius: 4px;
  }
}
