
.base {
  background-color:#000000;
  padding-bottom:100%;
  border-radius: 50%;
  position: relative;  
}
.imageHolder {
  height:60%;
  width:60%;
 position:absolute;
 top:0;
 bottom:0;
 right:0;
 left:0;
 margin:auto;
} 
.checkIcon{
  width: 30px;
  border-radius:50%;   
  height: 30px;
  top:20px;
  position:absolute;
  right:50px;  
  margin:auto;
  background:#ff1744 url(./img/3w.svg)no-repeat;
  background-size:auto 16px;
  background-position:center;
  transition: 300ms;
  transform:scale(0);
  z-index:1;
}
.checkIconActive{
  composes:checkIcon;
  transform: scale(1);
}
