
.base {
  width: 33.33%;
  overflow: hidden;
  float: left;
}
.imageHolder {
  height:60%;
  width:60%;
 position:absolute;
 top:0;
 bottom:0;
 right:0;
 left:0;
 margin:auto;
} 
.circle{
  background-color:#000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;  
  display: inline-block;
}
.checkIcon{
  width: 22px;
  border-radius: 50%;   
  height: 22px;
  top:0px;
  position:absolute;
  right:5px;  
  margin:auto;
  background:#ff0000  url(./img/3w.svg)no-repeat;
  background-size:auto 16px;
  background-position:center;
  transition: 300ms;
  transform:scale(0);
}
.checkIconActive{
  composes:checkIcon;
  transform: scale(1);
}
