.base {
  width: 100%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  background-color: white;
}
.inactive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 5px;
  border-width: 2px;
  border-color: #dedede;
  border-style: solid;
  padding: 5px;
}
.imageHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  border-radius: 5px;
}
.active {
  composes: inactive;
  border-color: #8d8d8d;
}
