.base {
	width: 100%;
	height: auto;
	padding: 30px;
	object-fit: contain;
	background-image: linear-gradient(292deg, #48dfe6, #4facfe);
}
.innerBox {
	width: 100%;
	height: auto;
	position: relative;
	padding-left: 50px;
}
.connectBox {
	width: 100%;
	height: auto;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	font-family: semibold;
	margin-bottom: 5px;
}
.label {
	width: 100%;
	height: auto;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}
.icon {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
}
.buttonBox {
	height: auto;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
}
.button {
	width: 75px;
	height: auto;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	padding-bottom: 3px;
	font-family: semibold;
}
.button:after {
	height: 1px;
	width: 100%;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	content: '';
	position: absolute;
	background-color: #fff;
	left: 0;
	bottom: 0;
	display: inline-block;
}
