.base {
  width: 100%;
  height: auto;
}
.placeTime {
  width: 100%;
  height: auto;
  font-family: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.text {
  width: 100%;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 20px;
}
.buttonHolder {
  width: auto;
  position: absolute;
  height: auto;
  bottom: 0;
  margin-left: 5px;
}
.headerHolder {
  width: 100%;
  height: auto;
  font-family: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 35px;
}
