.base {
  width: 100%;
  height: auto;
  padding-right: 45px;
  position: relative;
  background: #fff;
}
.dataHolder {
  width: 100%;
  height: auto;
}
.notAvailable {
  composes: dataHolder;
  opacity: 0.4;
}
.placeTime {
  width: 100%;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.text {
  width: 100%;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 20px;
}
.buttonHolder {
  width: auto;
  display: inline-block;
  margin-left: 5px;
}
.headerHolder {
  width: 100%;
  height: auto;
  font-family: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 35px;
}
.checkboxHolder {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.arrowHolder {
  composes: checkboxHolder;
  transform: rotate(180deg);
}
.underLineButtonHolder {
  width: 100%;
  height: auto;
}
.buttonHolderPiq {
  composes: buttonHolder;
  margin-left: 0;
}
.arrowWhiteHolder {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
