.base {
  width: 100%;
  height: auto;
  position: relative;
}
.emiText {
  font-size: 14px;
  width: auto;
  height: auto;
  color: #000;
  display: inline-block;
  line-height: 30px;
}
.price {
  width: auto;
  height: auto;
  display: inline-block;
  font-family: semibold;
  font-size: 14px;
  padding: 0px 10px;
  color: #000;
  line-height: 30px;
}
.checkBoxHolder {
  width: 10%;
  height: 30px;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 2px;
}
.month {
  font-family: regular;
}
