.base {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
.absoluteHeader {
  composes: base;
  position: absolute;
}
.hiddenHeader {
  width: 100%;
  height: 50px;
  display: hidden;
}
