.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0px 30px;
}
.frontSkeliton {
  width: 100%;
  height: auto;
  padding-bottom: 50%;
  background: #d8d8d8;
  border-radius: 4px;
}
.leftSide {
  width: 20px;
  height: 0px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #d8d8d8;
  position: absolute;
  padding-bottom: 35%;
  border-radius: 0px 4px 4px 0px;
}
.rightSide {
  width: 20px;
  height: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #d8d8d8;
  position: absolute;
  padding-bottom: 35%;
  border-radius: 4px 0px 0px 4px;
}
