.base {
  width: 100%;
  height: auto;
  background-color: #ffff;
  padding: 5px 0px 5px 70px;
  display: inline-block;
  position: relative;
}
.textHolder {
  width: 100%;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
}
.iconHolder {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
