.container {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .base {
    height: 40px;
    border: 2px;
    border-color: #d3d3d3;
    border-style: solid;
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .base {
    height: 40px;
    border-bottom: 1px;
    border-bottom-color: #d3d3d3;
    border-bottom-style: solid;
    display: flex;
  }
  .hollow {
    composes: base;
    color: #fff;
    border-bottom-color: #fff;
  }
}
.focused {
  composes: base;
  border-bottom-color: #d3d3d3;
  border-bottom-style: solid;
}
.disabled {
  composes: base;
  opacity: 0.5;
  pointer-events: none;
  border-bottom-color: #d3d3d3;
  border-bottom-style: solid;
}
