@media screen and (min-width: 1024px) {
  .base {
    height: 40px;
    width: 180px;
    border-radius: 20px;
    transition: 300ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media screen and (max-width: 1023px) {
  .base {
    height: 40px;
    width: 130px;
    border-radius: 20px;
    transition: 300ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
