.base {
  width: 100%;
  height: auto;
  display: inline-block;
  border-bottom: 1px solid #ececec;
}
.holder {
  width: 100%;
  height: 50px;
  transition: 300ms;
  position: relative;
  padding: 0 55px 0 55px;
}
.textBox {
  height: auto;
  width: 100%;
  color: #000000;
  font-family: regular;
  margin: auto;
  font-size: 14px;
  text-align: left;
  line-height: 50px;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-image: url("./img/down-arrow-grey.svg");
  position: absolute;
  background-size: auto 14px;
  background-repeat: no-repeat;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  transition: 300ms;
}
.iconup {
  composes: icon;
  transform: rotate(180deg);
}
.debitCardIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 12px;
  margin: auto;
}
