.base {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #fff;
  left: 0;
  bottom: 0;
  padding: 10px 0 5px 0;
  border-top: 1px solid #e8e8e8;
  display: inline-block;
  text-align: center;
  z-index: 100;
}
