.base {
  width: 100%;
  height: auto;
  position: relative;
  height: 35px;
}
.hideInput {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.displayValue {
  width: 100%;
  height: 100%;
  padding: 0px 45px 0px 10px;
  color: #212121;
  font-size: 14px;
  font-family: regular;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  line-height: 35px;
}
.iconHolder {
  width: 45px;
  height: 33px;
  border-radius: 4px;
  background: #fff url(./img/date.png) no-repeat;
  background-size: auto 15px;
  background-position: 22px center;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}
.input {
  width: 100%;
  height: 35px;
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  font-family: regular;
  background: #fff;
}
.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  padding: 0 10px;
  line-height: 35px;
  background: #fff;
  pointer-events: none;
}
