.base {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}
.footerIconeHolder {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  transition:600ms;
}
.footerText {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #000;
  transition:300ms;
}
.textSelect {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #ff1744;
  transition:300ms;
}
.iconActive {
  height:100%;
  width:100%;
  position: absolute;
  opacity: 1;
  transition: 300ms;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;

}
.iconHidden {
  composes:iconActive;
  opacity: 0;

}
