.base {
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  position: relative;
}
.hasDescription {
  composes: base;
  margin-bottom: 40px;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.imageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}
.name {
  width: 100%;
  height: 28px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: semibold;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(-16px);
}
.label {
  width: 100%;
  height: 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: regular;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(8px);
}
.description {
  width: 80%;
  height: auto;
  color: #fff;
  font-family: regular;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 20px;
  bottom: 40px;
  padding: 0 0 0 40px;
}
.logo {
  width: auto;
  max-width: 100%;
  height: 30px;
  position: absolute;
  left: 40px;
  top: -50px;
}
@media only screen and (max-width: 1024px) {
  .imageOverlay {
    background: transparent;
  }
  .base {
    width: 100%;
  }
  .description {
    width: 100%;
    bottom: -20px;
    margin: auto;
    width: calc(100% - 30px);
    padding: 15px 30px;
    border-radius: 5px;
    background: #212121;
  }
  .logo {
    height: 25px;
    top: 15px;
    left: 15px;
  }
}
