.base {
  width: 100%;
}
.header {
  width: 100%;
  margin-bottom: 5px;
}
.hasDownload {
  composes: header;
  padding-right: 30px;
  position: relative;
}
.content {
  width: 100%;
  margin-top: 15px;
  color: #212121;
}
.button {
  position: absolute;
  top: 0px;
  right: 0px;
}
.priceHolder {
  display: inline-block;
  color: #212121;
  margin-top: 15px;
}
.discount {
  composes: priceHolder;
  margin-right: 10px;
}
.priceCancelled {
  composes: priceHolder;
  text-decoration: line-through;
}
.priceCancelledWhite {
  composes: priceCancelled;
  color: #fff;
}
