.base {
  width: auto;
  height: 18px;
  color: #fff;
  font-size: 9px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 18px;
  text-align: center;
  padding: 0 15px 0 10px;
  font-family: semibold;
  position: absolute;
  left: 0;
  top: 10px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}
.outOfStock {
  height: 18px;
  width: auto;
  padding: 0 10px;
  font-size: 9px;
  line-height: 18px;
  font-family: semibold;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  color: #ff1c47;
}
