.base {
  width: 100%;
}
.imageHolder {
  width: 100%;
  height: auto;
  position: relative;
}

.content {
  margin-top: 20px;
}
.ListimageHolder {
  composes: imageHolder;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.Listcontent {
  width: 70%;
  display: inline-block;
  padding: 0 0 0 20px;
}
