.base {
  width: 100%;
}
.imageHolder {
  width: 100%;
  height: auto;
  position: relative;
}
.aTag {
  pointer-events: none;
}
.content {
  margin-top: 20px;
}
.ListimageHolder {
  composes: imageHolder;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.Listcontent {
  width: 70%;
  display: inline-block;
  padding: 0 0 0 20px;
}
.flagHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
