.base {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}
.imageHolder {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
