.base {
  width: 100%;
  padding-bottom: 133%;
  position: relative;
}
.flatImage {
  composes: base;
  padding-bottom: 64%;
}
.imageHolder {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  border-radius: 4px;
}
