.base {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-family: regular;
  position: relative;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}
.hideSelect {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.arrow {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}
.visibleBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  pointer-events: none;
  text-align: left;
}
.hollowBox {
  composes: base;
  border: none;
}
.blackBox {
  composes: base;
  border: 1px solid #212121;
}
.disabled {
  composes: base;
  opacity: 0.5;
  pointer-events: none;
}
.disabledBlack {
  composes: blackBox;
  opacity: 0.5;
  pointer-events: none;
}
.disabledHollow {
  composes: hollowBox;
  opacity: 0.5;
  pointer-events: none;
}
