.base {
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 15px 70px 15px 45px;
  position: fixed;
  color: #fff;
  font-size: 13px;
  text-align: left;
  font-family: regular;
  background: #000;
}
.backArrowHolder {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.historyDownloadIcon {
  width: auto;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.downloadIconHolder {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.orderIconHolder {
  composes: downloadIconHolder;
  margin-left: 0px;
}
