.base {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  color: #212121;
  white-space: normal;
}
.colorWhite {
  composes: base;
  color: #fff;
}
.label {
  width: 100%;
  height: auto;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-family: semibold;
  padding-top: 10px;
  word-wrap: break-word;
}
.price {
  composes: label;
  font-family: regular;
  padding-top: 5px;
}

.priceHolder {
  line-height: 24px;
}
.discount {
  composes: priceHolder;
}

.priceCancelled {
  composes: priceHolder;
  text-decoration: line-through;
}
