.base {
  width: auto;
  position: relative;
  user-select: none;
  display: inline-block;
  padding-bottom: 5px;
  color: #212121;
  font-size: 14px;
  font-family: regular;
  user-select: none;
}
.disabled {
  composes: base;
  opacity: 0.5;
}
.underline {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #212121;
}
