<div>
	<table
		style="margin: 0; padding: 0; table-layout: fixed; border: 1px solid #1E4EBF;"
		border="1" width="100%" cellspacing="0">
		<tbody>
			<tr>
				<td style="width: 960px; height: 21px;" colspan="3"><cockpit
						code="TopHeaderSlot" /></td>
			</tr>
			<tr>
				<td style="width: 960px; height: 21px;"><cockpit
						code="MiddleHeader" /></td>
                <td style="width: 960px; height: 21px;"><cockpit
                        code="SiteLogo" /></td>
                <td style="width: 960px; height: 21px;"><cockpit code="MiniCart" /><cockpit code="WishList"/><cockpit
                        code="SearchBox" /></td>
			</tr>
			<tr>
				<td style="width: 960px; height: 21px;" colspan="3"><cockpit
						code="NavigationBar" /></td>
			</tr>
				<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="BottomHeaderSlot"/>
				</td>
			</tr>
			<tr>
				<td colspan="5" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section1" />
				</td>
			</tr>
			<tr>
				<td style="width: 960px; height: 174px;" colspan="3"><cockpit
						code="Footer" /></td>
			</tr>
		</tbody>
	</table>
	<div class="cmsContentEditor"
		style="width: 100%; border-top: 2px solid #bbb;"></div>
</div>
