* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: regular;
}

.base {
  width: 100%;
  color: #212121;
  transition-delay: 100ms;
}
* {
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 1024px) {
  .blur {
    composes: base;
    -webkit-filter: blur(10px);
    filter: url("./general/components/img/blur.svg#");
    filter: blur(10px);
    pointer-events: none;
    transition: 200ms filter linear;
    transition: 200ms -webkit-filter linear;
    position: fixed;
    left: 0;
    top: 0;
    transition-delay: 100ms;
  }
}
p {
  margin: 0;
}
h3 {
  margin-top: 0;
}
h4 {
  margin-top: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.loadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
